## **IMI BIG DATA & AI CASE COMPETITION**

## *By: Hafsa, Cindy, Tahir & Albert*

Recall that most of our exploratory work, and finding out the best cleaning methods was conducted in the Exploratory Data Analysis Notebook. <br>
Here, we just use the best methods to move on to the next phase, and build some more features with our data.

# Initial Set-Up & Import Data <a class="anchor" id="1"></a>

In [1]:
# Import relevent Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import math

# Model Metrics & Data Pre-processing 
from scipy import stats
from sklearn import metrics
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, roc_auc_score, roc_curve, classification_report, precision_recall_curve
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, GridSearchCV, RandomizedSearchCV

#Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier

#import lightgbm and xgboost 
import lightgbm as lgb 
import xgboost as xgb 

# Imbalance dataset methods
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN
from imblearn.combine import SMOTETomek
from imblearn.combine import SMOTEENN

# Miscellaneous
from collections import Counter

# Additional Libraries -- Automatic Explanatory Data Analysis
from pandas_profiling import ProfileReport
from IPython.core.display import display, HTML

# Remove warnings (so it doesn't take up space)
import warnings
warnings.filterwarnings('ignore')

# Set seed for repition 
np.random.seed(2022)

/opt/homebrew/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/var/folders/hc/rv0ch5hn293cmmlwhw7w_drh0000gn/T/ipykernel_34415/2940248913.py:48: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
# Some settings for making the tables, plots and the report look nicer
sns.set_theme()
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 999)
display(HTML("<style>.container { width:80% !important; }</style>"))
display(HTML("<style>.container { length:100% !important; }</style>"))

In [3]:
# Read in the data
# Canadian Companies Data
df1 = pd.read_excel("/Users/tahir/Desktop/Fraudit/Datasets/cmeg_df_case_competition_scrambled_train.xlsx")

# General Companies Data
df2 = pd.read_excel("/Users/tahir/Desktop/Fraudit/Datasets/general_industries_df_case_competition_scrambled_train.xlsx")

# Data Dictionary from Canadian Companies Dataset (Although both data dictionaries are the same) 
data_dictionary = pd.read_excel("/Users/tahir/Desktop/Fraudit/Datasets/cmeg_df_case_competition_scrambled_train.xlsx", sheet_name=1)

## Data Cleaning Methods <a class="anchor" id="2.2"></a>
### Data Prep -- Column Types, Date Manipulations, Fixing infinity values <a class="anchor" id="2.2.1"></a>

In [4]:
# Fix the object type column to datetime
df1["Date"] = pd.to_datetime(df1.Period)
df2["Date"] = pd.to_datetime(df1.Period)

# Drop the object column
df1 = df1.drop(['Period'], axis=1)
df2 = df2.drop(['Period'], axis=1)
df1.info() # Now we have removed the Object column, and got the date as a datetime column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28224 entries, 0 to 28223
Columns: 125 entries, ROW to Date
dtypes: datetime64[ns](1), float64(118), int64(6)
memory usage: 26.9 MB

In [5]:
# Extract year and month for df1
df1['Year'] = df1['Date'].dt.year
df1['Month'] = df1['Date'].dt.month

# Do the same for df2
df2['Year'] = df2['Date'].dt.year
df2['Month'] = df2['Date'].dt.month

In [6]:
# Fix the infinity Issues (Some columns have values at infinity -- Fix this )
def impute_inf(data,col):
    #Impute -inf of the column of data as the minimum of the rest
    #Impute inf of the column of data as the maximum of the rest
    data.loc[data[col] == -np.inf, col] = data.loc[(data[col] > -np.inf) & (data[col] < np.inf),col].min()
    data.loc[data[col] == np.inf, col] = data.loc[(data[col] < np.inf) & (data[col] < np.inf),col].max()

    return data

# Replace all -/+ inf values with min and max values of the dataset 
for col in df1.columns:
    if col in ["Date","Period"]: pass
    else: df1 = impute_inf(df1,col)

# Do the same for General Companies 
for col in df2.columns:
    if col in ["Date","Period"]: pass
    else: df2 = impute_inf(df2,col)

## Generate a missing data label

In [7]:
missing_label = []
for i in range(len(df1.index)):
    missing_values_per_row = df1.iloc[i].isnull().sum()
    if missing_values_per_row <= 15:
        missing_label.append(1)
    elif (missing_values_per_row >= 16 and missing_values_per_row <= 45):
        missing_label.append(2)
    else: 
        missing_label.append(3)
        
df1["missing_data_flag"] = missing_label

In [8]:
# Do the same for df2
missing_label = []
for i in range(len(df2.index)):
    missing_values_per_row = df2.iloc[i].isnull().sum()
    if missing_values_per_row <= 15:
        missing_label.append(1)
    elif (missing_values_per_row >= 16 and missing_values_per_row <= 45):
        missing_label.append(2)
    else: 
        missing_label.append(3)

df2["missing_data_flag"] = missing_label

## Check & fix outliers

In [9]:
data1 = df1.copy()
non_financial_features = ['ROW','Corp_Residence_Country_Code', 'BR Code', 'CUSTOMER_ID', 'Final_IG', 'B_PLUS_FLAG', 'Year', 'Month', 'Date']
financial_features = data1.drop(non_financial_features, axis=1)
fin_features_lst = list(financial_features.columns)

def outlier_replace(data, col_name, q1=0.25, q3=0.75):
    quartile1 = data[col_name].quantile(q1)
    quartile3 = data[col_name].quantile(q3)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    data.loc[(data[col_name] < low_limit), col_name] = low_limit
    data.loc[(data[col_name] > up_limit), col_name] = up_limit
    
# Fix outliers in Financial Features for DF1
for col in df1.columns:
    if col in fin_features_lst:
        outlier_replace(df1,col)
    else:
        pass

# Do the same for DF2
for col in df2.columns:
    if col in fin_features_lst:
        outlier_replace(df2,col)
    else:
        pass

## Impute Missing Data

In [10]:
# # Essentially we are filling every column with it's grouped ID's average value per column. 
def impute_average_and_constant(data,group = 'CUSTOMER_ID',constant = 0):
  """This will impute the missing values by grouping the dataset based on a shared value in a column. 
  If no groups can be made (i.e. only one dataset in a group, then the missing data will be imputed with a constant.
  
  data - the data table to be imputed on. Type = pandas dataframe
  group - the column to group by. Default is CUSTOMER_ID
  constant - the constant to impute any data that cannot be grouped. Default is 0
  
  """
  for col in data.columns:
    data[col] = data.groupby('CUSTOMER_ID')[col].apply(lambda x:x.fillna(x.mean()))

  data = data.fillna(constant)
  return data

# This is now clean, imputed data.
df1 = impute_average_and_constant(df1)
df2 = impute_average_and_constant(df2)

In [11]:
df1.isnull().sum()

ROW                            0
Corp_Residence_Country_Code    0
BR Code                        0
CUSTOMER_ID                    0
Final_IG                       0
B_PLUS_FLAG                    0
EBITDA_Y0                      0
EBITDA_Y1                      0
EBITDA_Y2                      0
EBITDA_Y3                      0
TOTALASSET_Y0                  0
TOTALASSET_Y1                  0
TOTALASSET_Y2                  0
TOTALASSET_Y3                  0
TOTALDEBT_Y0                   0
TOTALDEBT_Y1                   0
TOTALDEBT_Y2                   0
TOTALDEBT_Y3                   0
TOTALREVENUE_Y0                0
TOTALREVENUE_Y1                0
TOTALREVENUE_Y2                0
TOTALREVENUE_Y3                0
CURRENTASSET_Y0                0
CURRENTASSET_Y1                0
CURRENTASSET_Y2                0
CURRENTASSET_Y3                0
FIXEDASSET_Y0                  0
FIXEDASSET_Y1                  0
FIXEDASSET_Y2                  0
FIXEDASSET_Y3                  0
CURRENTLIABILITY_Y0            0
CURRENTLIABILITY_Y1            0
CURRENTLIABILITY_Y2            0
CURRENTLIABILITY_Y3            0
NONCURRLIA_Y0                  0
NONCURRLIA_Y1                  0
NONCURRLIA_Y2                  0
NONCURRLIA_Y3                  0
TOTALEQUITY_Y0                 0
TOTALEQUITY_Y1                 0
TOTALEQUITY_Y2                 0
TOTALEQUITY_Y3                 0
TOTALNETWORTH_Y0               0
TOTALNETWORTH_Y1               0
TOTALNETWORTH_Y2               0
TOTALNETWORTH_Y3               0
CAPITALIZATION_Y0              0
CAPITALIZATION_Y1              0
CAPITALIZATION_Y2              0
CAPITALIZATION_Y3              0
TOTINTEXP_Y0                   0
TOTINTEXP_Y1                   0
TOTINTEXP_Y2                   0
TOTINTEXP_Y3                   0
LEASERENTEXP_Y0                0
LEASERENTEXP_Y1                0
LEASERENTEXP_Y2                0
LEASERENTEXP_Y3                0
EBITDAR_Y0                     0
EBITDAR_Y1                     0
EBITDAR_Y2                     0
EBITDAR_Y3                     0
receivabledays_Y0              0
receivabledays_Y1              0
receivabledays_Y2              0
receivabledays_Y3              0
INVENTORYDAYS_Y0               0
INVENTORYDAYS_Y1               0
INVENTORYDAYS_Y2               0
INVENTORYDAYS_Y3               0
payableDAYS_Y0                 0
payableDAYS_Y1                 0
payableDAYS_Y2                 0
payableDAYS_Y3                 0
Capex2Dep_Y0                   0
Capex2Dep_Y1                   0
Capex2Dep_Y2                   0
tangibleNetWorth_Y0            0
tangibleNetWorth_Y1            0
tangibleNetWorth_Y2            0
tangibleNetWorth_Y3            0
FIXEDCHARGECOV_Y0              0
FIXEDCHARGECOV_Y1              0
FIXEDCHARGECOV_Y2              0
FIXEDCHARGECOV_Y3              0
DEBTSERVCOV_Y0                 0
DEBTSERVCOV_Y1                 0
DEBTSERVCOV_Y2                 0
DEBTSERVCOV_Y3                 0
NETPROFIT_Y0                   0
NETPROFIT_Y1                   0
NETPROFIT_Y2                   0
NETPROFIT_Y3                   0
NETSALES_Y0                    0
NETSALES_Y1                    0
NETSALES_Y2                    0
NETSALES_Y3                    0
ASSETTURNOVER_Y0               0
ASSETTURNOVER_Y1               0
ASSETTURNOVER_Y2               0
ASSETTURNOVER_Y3               0
OPERPROFIT_Y0                  0
OPERPROFIT_Y1                  0
OPERPROFIT_Y2                  0
OPERPROFIT_Y3                  0
ARTurnover_Y0                  0
ARTurnover_Y1                  0
ARTurnover_Y2                  0
ARTurnover_Y3                  0
Inventory_Y0                   0
Inventory_Y1                   0
Inventory_Y2                   0
Inventory_Y3                   0
RETAINED_EARNINGS_Y0           0
RETAINED_EARNINGS_Y1           0
RETAINED_EARNINGS_Y2           0
RETAINED_EARNINGS_Y3           0
FCF_Y0                         0
FCF_Y1                         0
FCF_Y2                         0
CCE_Y0                         0
CCE_Y1                         0
CCE_Y2                         0
CCE_Y3                         0
Date                           0
Year                           0
Month                          0
missing_data_flag              0
dtype: int64

# Feature Engineering <a class="anchor" id="4"></a>

## Creating Additional Financial Features<a class="anchor" id="4.1"></a>

We create few additional features which to better be able to predict the investment flag for a company. <br>
Total leverage = debt / ebitda <br>
Ebitda margin = ebitda / revenue  <br>
Operating margin = operating profit / revenue <br> 
Interest Coverage Ratio = Ebitda / interest  <br>
Average growth by Revenue = (Revenue Growth in year 2 + Revenue Growth in year 1) / 2

In [12]:
# Use Data Dictionary 
data_dictionary

,Column,Description
0,Corp_Residence_Country_Code,Country Code
1,BR Code,Industry Code
2,Period,Year quarter
3,Period_Numeric,Quarter
4,CUSTOMER_ID (Tokenized),Technical ID
5,RATING_SAVE_DATE,Rating date
6,STATEMENT_DATE,Financial statement date
7,Final_IG,Final risk rating (after credit officer assess...
8,B_PLUS_FLAG,B+ rating flag
9,EBITDA_Y0,"EBITDA (Earnings Before Interest, Taxes, Depre..."
10,EBITDA_Y1,"EBITDA (Earnings Before Interest, Taxes, Depr..."
11,EBITDA_Y2,"EBITDA (Earnings Before Interest, Taxes, Depr..."
12,EBITDA_Y3,"EBITDA (Earnings Before Interest, Taxes, Depr..."
13,TOTALASSET_Y0,Total assets of a current year
14,TOTALASSET_Y1,Total assets of a year -1
15,TOTALASSET_Y2,Total assets of a year -2
16,TOTALASSET_Y3,Total assets of a year -3
17,TOTALDEBT_Y0,Total debt of a current year
18,TOTALDEBT_Y1,Total debt of a year -1
19,TOTALDEBT_Y2,Total debt of a year -2
20,TOTALDEBT_Y3,Total debt of a year -3
21,TOTALREVENUE_Y0,Total revenue of a current year
22,TOTALREVENUE_Y1,Total revenue of a year -1
23,TOTALREVENUE_Y2,Total revenue of a year -2
24,TOTALREVENUE_Y3,Total revenue of a year -3
25,CURRENTASSET_Y0,Current assets of a current year
26,CURRENTASSET_Y1,Current assets of a year -1
27,CURRENTASSET_Y2,Current assets of a year -2
28,CURRENTASSET_Y3,Current assets of a year -3
29,FIXEDASSET_Y0,Fixed assets of a current year
30,FIXEDASSET_Y1,Fixed assets of a year -1
31,FIXEDASSET_Y2,Fixed assets of a year -2
32,FIXEDASSET_Y3,Fixed assets of a year -3
33,CURRENTLIABILITY_Y0,Current liability of a current year
34,CURRENTLIABILITY_Y1,Current liability of a year -1
35,CURRENTLIABILITY_Y2,Current liability of a year -2
36,CURRENTLIABILITY_Y3,Current liability of a year -3
37,NONCURRLIA_Y0,Non current liabilities of a current year
38,NONCURRLIA_Y1,Non current liabilities of a year -1
39,NONCURRLIA_Y2,Non current liabilities of a year -2
40,NONCURRLIA_Y3,Non current liabilities of a year -3
41,TOTALEQUITY_Y0,Total Equity of a current year
42,TOTALEQUITY_Y1,Total Equity of a year -1
43,TOTALEQUITY_Y2,Total Equity of a year -2
44,TOTALEQUITY_Y3,Total Equity of a year -3
45,TOTALNETWORTH_Y0,Total Net worth of a current year
46,TOTALNETWORTH_Y1,Total Net worth of a year -1
47,TOTALNETWORTH_Y2,Total Net worth of a year -2
48,TOTALNETWORTH_Y3,Total Net worth of a year -3
49,CAPITALIZATION_Y0,Capitalization of a current year
50,CAPITALIZATION_Y1,Capitalization of a year -1
51,CAPITALIZATION_Y2,Capitalization of a year -2
52,CAPITALIZATION_Y3,Capitalization of a year -3
53,TOTINTEXP_Y0,Total interest expense of a current year
54,TOTINTEXP_Y1,Total interest expense of a year -1
55,TOTINTEXP_Y2,Total interest expense of a year -2
56,TOTINTEXP_Y3,Total interest expense of a year -3
57,LEASERENTEXP_Y0,Lease rent expense of a current year
58,LEASERENTEXP_Y1,Lease rent expense of a year -1
59,LEASERENTEXP_Y2,Lease rent expense of a year -2
60,LEASERENTEXP_Y3,Lease rent expense of a year -3
61,EBITDAR_Y0,EBITDAR of a current year
62,EBITDAR_Y1,EBITDAR of a year -1
63,EBITDAR_Y2,EBITDAR of a year -2
64,EBITDAR_Y3,EBITDAR of a year -3
65,receivabledays_Y0,Receivable days of a current year
66,receivabledays_Y1,Receivable days of a year -1
67,receivabledays_Y2,Receivable days of a year -2
68,receivabledays_Y3,Receivable days of a year -3
69,INVENTORYDAYS_Y0,Inventory days of a current year
70,INVENTORYDAYS_Y1,Inventory days of a year -1
71,INVENTORYDAYS_Y2,Inventory days of a year -2
72,INVENTORYDAYS_Y3,Inventory days of a year -3
73,payableDAYS_Y0,Payable days of a current year
74,payableDAYS_Y1,Payable days of a year -1
75,payableDAYS_Y2,Payable days of a year -2
76,payableDAYS_Y3,Payable days of a year -3
77,Capex2Dep_Y0,Capital expenditures to depreciation of a curr...
78,Capex2Dep_Y1,Capital expenditures to depreciation of a year -1
79,Capex2Dep_Y2,Capital expenditures to depreciation of a year -2
80,tangibleNetWorth_Y0,Tangible Net Worth of a current year
81,tangibleNetWorth_Y1,Tangible Net Worth of a year -1
82,tangibleNetWorth_Y2,Tangible Net Worth of a year -2
83,tangibleNetWorth_Y3,Tangible Net Worth of a year -3
84,FIXEDCHARGECOV_Y0,Fixed Charge Coverage of a current year
85,FIXEDCHARGECOV_Y1,Fixed Charge Coverage of a year -1
86,FIXEDCHARGECOV_Y2,Fixed Charge Coverage of a year -2
87,FIXEDCHARGECOV_Y3,Fixed Charge Coverage of a year -3
88,DEBTSERVCOV_Y0,Debt Service Coverage of a current year
89,DEBTSERVCOV_Y1,Debt Service Coverage of a year -1
90,DEBTSERVCOV_Y2,Debt Service Coverage of a year -2
91,DEBTSERVCOV_Y3,Debt Service Coverage of a year -3
92,NETPROFIT_Y0,Net Profit of a current year
93,NETPROFIT_Y1,Net Profit of a year -1
94,NETPROFIT_Y2,Net Profit of a year -2
95,NETPROFIT_Y3,Net Profit of a year -3
96,NETSALES_Y0,Net Sales of a current year
97,NETSALES_Y1,Net Sales of a year -1
98,NETSALES_Y2,Net Sales of a year -2
99,NETSALES_Y3,Net Sales of a year -3
100,ASSETTURNOVER_Y0,Asset turnover of a current year
101,ASSETTURNOVER_Y1,Asset turnover of a year -1
102,ASSETTURNOVER_Y2,Asset turnover of a year -2
103,ASSETTURNOVER_Y3,Asset turnover of a year -3
104,OPERPROFIT_Y0,Operating profit of a current year
105,OPERPROFIT_Y1,Operating profit of a year -1
106,OPERPROFIT_Y2,Operating profit of a year -2
107,OPERPROFIT_Y3,Operating profit of a year -3
108,ARTurnover_Y0,Account receivables of a current year
109,ARTurnover_Y1,Account receivables of a year -1
110,ARTurnover_Y2,Account receivables of a year -2
111,ARTurnover_Y3,Account receivables of a year -3
112,Inventory_Y0,Inventory of a current year
113,Inventory_Y1,Inventory of a year -1
114,Inventory_Y2,Inventory of a year -2
115,Inventory_Y3,Inventory of a year -3
116,RETAINED_EARNINGS_Y0,Retained earnings of a current year
117,RETAINED_EARNINGS_Y1,Retained earnings of a year -1
118,RETAINED_EARNINGS_Y2,Retained earnings of a year -2
119,RETAINED_EARNINGS_Y3,Retained earnings of a year -3
120,FCF_Y0,Free Cash Flow of a current year
121,FCF_Y1,Free Cash Flow of a year -1
122,FCF_Y2,Free Cash Flow of a year -2
123,CCE_Y0,Cash and Cash Equivalents of a current year
124,CCE_Y1,Cash and Cash Equivalents of a year -1
125,CCE_Y2,Cash and Cash Equivalents of a year -2
126,CCE_Y3,Cash and Cash Equivalents of a year -3

## Creating Three Year Averages for Financial Columns

In [13]:
def three_year_average(dataframe,col_y0,col_y1,col_y2,col):
  dataframe.drop(dataframe[dataframe[col_y0].isnull()].index, inplace = True)
  #Remove those records if the first year financial info is not available

  two_years_average = dataframe[col_y1].notnull() & dataframe[col_y2].isnull()
  dataframe.loc[two_years_average, col] = dataframe.loc[two_years_average,col_y0] * 4/7 + dataframe.loc[two_years_average,col_y1] * 3/7

  three_years_average = dataframe[col_y1].notnull() & dataframe[col_y2].notnull()
  dataframe.loc[three_years_average, col] = dataframe.loc[three_years_average,col_y0] * 4/9 + dataframe.loc[three_years_average,col_y1] * 3/9 + dataframe.loc[three_years_average,col_y2] * 2/9

  return dataframe

def dataframe_plus_three_year_average(dataframe):
  columns = list(dataframe.columns)
  year_list = ['_Y0','_Y1','_Y2','_Y3']
  year_dictionary = {}
  year_dictionary['Features'] = []
  for year in year_list:
    year_dictionary[year] = []
    for col in columns:
      if year in col: 
        year_dictionary[year].append(col) #Separates out the features based on year (purpose = organization)
        if col[:-3] not in year_dictionary['Features']:
          year_dictionary['Features'].append(col[:-3])

  #Build the new dataset using three year averages
  cols_to_avg = []
  for feature in year_dictionary['Features']:
    cols_to_avg.append([feature + '_Y0', feature + '_Y1', feature + '_Y2', feature + '_3YearAverage'])

  for col1, col2, col3, col in cols_to_avg:
    dataframe = three_year_average(dataframe, col1, col2, col3, col)

  return dataframe

In [14]:
#Append three year averages to dataset 1
df1 = dataframe_plus_three_year_average(df1)
df1.head()

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage
0,5662,1,5,1576,5,1,575863.911214,602838.635998,583646.469630,614602.866245,619611.510181,621095.725446,611355.907673,582433.004400,623105.791017,596800.177680,600460.033208,598408.339905,611355.411490,589592.109008,605336.777910,574789.603998,620745.952718,621004.600446,614991.732391,604478.517167,609095.636450,600147.701765,589971.619360,580405.105567,578103.988392,577109.531117,574090.626783,583030.371565,600890.935743,604975.472270,600103.052065,601804.995337,596259.219747,573227.115787,572126.125957,601814.939331,578045.252633,571339.795861,596653.190112,590035.602606,571736.508285,628719.211745,584338.549368,616858.074405,611986.404942,604922.163814,577051.576457,613092.388218,603141.577521,576650.299516,620686.247107,610847.649882,585871.251511,616877.792537,568949.503421,618110.180319,604601.169985,580153.927795,590842.797526,590664.224219,590472.808115,616986.562624,572661.424837,574363.146314,582917.058057,583420.366083,607467.206600,583658.695782,603769.043190,601041.664461,590112.115029,590316.935078,602489.197881,607756.994574,602468.604889,579949.325730,585896.605197,615126.516293,604036.179493,573565.511062,607130.118230,571946.940867,592574.187811,623675.986993,618944.803911,580343.279228,590502.807033,609912.733618,599498.344764,595156.410271,587134.042491,570091.364648,580823.373014,608524.711934,622059.106399,575870.723892,573508.493635,570519.450943,608807.689045,593269.795473,599593.828998,621562.468837,588906.640575,600112.382878,626071.057035,591870.004065,588954.395020,604537.606945,597031.247138,600893.706501,590802.111805,606861.990009,570523.662855,587502.761835,575350.400174,571025.770698,603242.309649,622846.821734,2017-10-01,2017,10,1,586584.943568,618271.670268,609304.862614,602763.503201,619553.452999,601863.209979,576880.644499,602077.362657,583218.942030,579945.197593,593531.196346,601868.362680,598209.966983,592446.376722,593394.673153,595352.641112,588540.415964,599825.044022,598249.924789,589748.905678,584394.031186,612469.435351,603162.087700,582209.444611,573894.142040,601665.067395,606933.634527,601225.731355,590447.163586,580107.059121
1,16369,1,5,4545,7,1,599469.364624,615373.028208,612705.047096,0.000000,608126.531748,601435.154115,587550.520995,0.000000,627335.355343,611300.879046,572542.268654,0.000000,604626.757034,586282.226249,624691.726730,0.000000,596315.871786,609786.889797,620321.870767,0.000000,577715.935070,576662.704616,582062.515093,0.000000,616376.771099,604827.131130,599463.087501,0.000000,584268.408156,615338.209036,617623.837767,0.000000,599915.942888,587706.105861,595274.082521,0.000000,575278.320599,612795.138987,582300.999226,0.000000,586176.759045,596042.804332,591066.860115,0.000000,599885.309188,601973.826113,576342.388644,0.000000,612396.980939,571906.704700,577600.492683,0.000000,608239.368101,580375.372271,607292.591803,0.000000,576727.633238,592407.347051,571806.694543,0.000000,623527.400755,627610.773225,591365.359100,0.000000,625385.094320,627447.879790,574797.783549,0.000000,599583.772148,599373.028704,578394.144402,584262.286957,617559.499371,627464.217041,0.000000,622519.607329,612844.491772,616717.098074,0.000000,585261.894944,606387.285367,597933.663213,0.000000,584319.594719,582119.776636,604537.048901,0.000000,600468.027347,619654.468553,577905.225922,0.000000,593683.929674,577347.564682,625997.193308,0.000000,599331.009039,594731.372664,579472.873802,0.000000,612946.959500,624619.791483,581883.305291,0.000000,576159.542727,576880.406059,572899.682067,0.000000,603346.339606,621227.589036,594596.565749,0.000000,0.000000,0.000000,0.000000,615104.995291,615953.218376,589034.257388,0.000000,2015-10-01,2015,10,2,607711.848590,601323.625703,609814.288424,602970.795594,606140.877563,578330.764924,608768.294754,602037.326141,594814.472686,589344.521979,590552.129934,595349.721375,591167.669247,598740.974758,580860.662576,617741.404544,614831.064861,594804.718168,604961.786669,618005.122309,595119.640256,588079.089621,601849.551877,595419.199929,593384.877972,609934.869226,575675.417024,607362.361892,0.000000,609594.239007
2,2326,0,12,648,8,1,613829.072017,575020.270272,583630.783425,595256.346525,608391.483917,611859.108037,607825.470188,592953.319963,585464.960100,571781.269380,585642.496712,593575.189122,608591.366569,578175.200440,602523.843620,605501.836474,618999.144319,614118.293569,592205.828625,593381.268052,578343.317529,575530.917780,590556.467199,595629.061840,603655.551037,574183.093293,597137.973102,596570.797275,605298.293603,598985.457637,602326.489701,610354.711853,577735.145730,585264.369252,606035.133972,602171.607357,585900.805747,615469.219089,596268.755476,593105.042889,585225.732357,578698.596685,596554.351526,605586.733909,603652.451410,581459.745306,601344.886075,593198.683962,610421.314919,603672.946408,605549.257292,593524.563900,615972.913531,613239.841602,605608.239471,598412.906837,614134.979471,627189.858095,602409.648339,609889.587867,583797.304612,577370.591526,603376.296391,583599.496940,623541.230342,590535.903820,593365.903329,597178.040212,599099.056296,612901.104547,610247.080716,592856.378966,625945.382643,599792.118839,597846.757742,599586.156088,582896.044376,602449.051592,597555.125196,572606.634235,592740.514085,588749.676585,578747.562998,628443.444334,627082.417223,595729.318682,590591.700782,618384.136760,577029.978273,598628.646309,608488.810564,587195.266426,580755.669521,590307.264515,606490.472344,613853.875298,596322.141176,603864.112575,589676.249565,614104.443488,613654.106652,607925.829319,605947.164069,605642.248232,601107.708861,601789.514352,607969.103093,618703.592690,619380.184641,604289.385018,602603.459609,586607.548841,584847.736742,591202.400750,580199.620976,605016.760749,602657.906443,604866.850556,2015-04-01,2015,4,3,594182.073970,609421.577795,580943.182441,597104.306093,611418.123915,580119.884206,592383.047804,602533.614080,586533.773180,598060.932356,585567.491393,595742.090412,607089.179276,612758.628653,615880.976539,586005.953978,605833.826610,606177.077806,605427.322386,594658.984518,582905.270263,620719.962930,600209.308275,585740.289255,605790.016652,612581.305839,603274.572024,615725.966080,587042.023010,593462.731004
3,38131,0,19,13395,5,1,585059.299344,581915.869330,594033.887481,609965.034011,591791.219692,598332.776102,589877.849288,622230.836194,584513.060799,626767.691011,625743.779183,573802.856646,615999.168162,588623.823558,600443.812695,633589.116171,582358.584899,612497.219818,606794.985460,589340.181176,621919.270235,607400.754064,581688.692973,633939.157288,620046.519867,607197.874782,589234.421690,615945.241601,624582.882164,571604.744174,618284.670890,582971.670808,601679.290137,631531.820709,582070.488802,578291.242057,609409.181664,627146.534773,579538.437216,623483.022643,606435.590692,597736.992046,626159.684774,574211.349128,569227.108284,578222.485479,627954.601109,616994.119250,619543.967706,618202.883312,628277.301473,603404.442362,610683.455442,626679.453601,611347.146807,599683.366810,596054.212034,621062.132904,579501.505805,592501.700490,575626.390128,610802.061343,569159.760007,621795.529225,627037.437178,591909.025138,615052.716422,585048.876231,599367.108922,620462.545377,610693.259783,596121.697084,608036.381542,616019.469361,616448.299548,584225.743532,603300.608401,584569.410981,585972.889822,602652.271667,607664.571382,619663.283070,615897.170961,600047.184269,578475.431636,604161.492068,625933.459267,592635.899148,605067.869041,598361.483763,603347.820896,583240.465017,621924.452782,586696.569372,617082.133276,573787.307640,607639.336175,596952.206249,572199.964331,568608.114496,608155.293540,582152.854829,569070.296103,582067.967917,574781.431984,589652.582411,608081.966820,581638.119480,613180.540495,585288.491695,576526.161339,604725.209898,579187.232468,628406.498679,587097.755174,615814.454998,599338.620711,588454.089187,2017-07-01,2017,7,1,586005.842259,593546.545072,607760.319399,603417.307635,597835.107774,608139.636564,608916.505244,605523.900329,607272.622253,608683.689490,607919.189828,585276.121310,621037.680412,616162.941798,600711.806495,585914.584951,612664.695219,608915.843487,604514.985743,590660.402366,608103.262995,593770.890680,598052.241249,596903.150795,590219.072398,584800.449807,581324.592493,592963.453644,601475.059373,599390.180790
4,36605,0,19,12998,6,1,605966.227164,593540.797737,575448.556931,0.000000,582546.955793,614212.207680,578068.515601,0.000000,590177.329836,570997.852457,625971.749956,0.000000,607879.645878,628042.392612,592671.553802,0.000000,624481.204725,620443.236288,584608.020724,0.000000,581316.994347,618157.473873,612201.478244,0.000000,594651.641147,588273.242403,628893.487075,0.000000,619814.409081,612323.296890,579970.364292,0.000000,604318.176057,582539.670630,608157.980979,0.000000,599764.180894,621380.436335,617897.984246,0.000000,600254.713521,602796.821976,616710.718806,0.000000,599030.420526,610132.517699,587946.887611,0.000000,587964.127888,597855.711865,602364.202307,0.000000,587331.672092,626392.228623,577227.025844,0.000000,579706.987774,599713.713177,574751.041997,0.000000,592648.180887,603115.329420,604955.203982,0.000000,574529.317966,616421.542445,601224.106656,0.000000,609647.879264,583281.325868,571425.106318,603957.579631,572002.523205,585445.757146,0.000000,627957.167678,600026.249724,625000.416886,0.000000,599551.537646,587957.236129,606144.949063,0.000000,570361.838213,617325.963529,596985.846302,0.000000,602279.589211,614291.123282,593478.134971,0.000000,592417.646739,613810.092740,583245.681028,0.000000,599057.069965,599379.654659,591842.067442,0.000000,607542.555339,587340.099931,606914.277891,0.000000,601244.861338,611322.361302,615444.982411,0.000000,571756.113932,575840.218046,574663.116947,0.000000,609213.829112,0.000000,0.000000,583548.648126,0.000000,0.000000,0.000000,2015-07-01,2015,7,3,595042.712859,592106.830824,591738.486292,611220.985439,614274.507690,600460.372833,600134.807327,608463.139509,597911.964231,610999.333453,604758.973069,600268.112269,594461.339084,598106.380658,585274.574958,598872.124419,594425.568057,592365.078589,589192.155826,617989.805962,597151.973011,591932.992893,604327.555181,597510.247470,597561.264302,600668.786326,607759.610453,573763.482640,270761.701828,259354.954723

In [15]:
#Append three year averages to dataset 2
df2 = dataframe_plus_three_year_average(df2)
df2.head()

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,INVENTORY_Y0,INVENTORY_Y1,INVENTORY_Y2,INVENTORY_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,INVENTORY_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage
0,28464,2,4,8228,8,1,365604.767017,341575.264490,368053.254720,370696.187829,3.706175e+05,3.497885e+05,3.485696e+05,3.757753e+05,375510.954405,372600.077528,360644.686054,373539.595801,3.560748e+05,3.633396e+05,3.585169e+05,3.715991e+05,3.434351e+05,344977.126649,367162.335140,349945.750055,3.784293e+05,3.720962e+05,3.688327e+05,3.472348e+05,355541.904130,367439.639625,340433.991591,367150.907129,353405.890207,355716.993127,353085.838690,340960.105507,3.533652e+05,3.479149e+05,3.692967e+05,3.636268e+05,3.700049e+05,3.514704e+05,3.668692e+05,3.436602e+05,3.697346e+05,3.551172e+05,3.435738e+05,3.563240e+05,370169.540410,344003.480397,369171.604555,367363.465248,370634.594885,374281.413522,363411.986740,362056.093767,375275.290440,357961.987189,361050.670507,358189.894815,350879.117221,347265.348459,364929.687159,363903.150704,0.000000,0.000000,344807.527334,362378.000450,0.000000,0.000000,343346.372212,356055.826284,362221.588737,340686.574830,362774.829776,342637.201639,349900.900026,367354.207877,346292.283689,351706.612676,393601.766253,320927.055356,320546.133100,359576.687007,394996.818521,320576.856105,320774.648458,356874.643821,361456.227063,342201.418226,348199.125611,3.720583e+05,3.516364e+05,3.525602e+05,3.419070e+05,356742.394668,357520.549624,365255.341936,371843.335476,354543.920069,343724.025034,362427.966074,349247.377743,362545.867031,345369.766302,367117.355311,359257.262084,356017.550739,347023.165655,341008.607380,349568.237211,362362.077598,373864.705143,369694.522194,339867.222381,364236.569625,370985.256781,0.000000,350599.333501,368971.137940,342125.692144,360512.171013,2017-10-01 00:00:00,2017.0,10.0,1.0,358139.041220,3.587750e+05,371237.046923,3.590391e+05,349221.832333,3.741857e+05,356150.502064,354105.135288,3.550888e+05,3.631299e+05,3.590486e+05,361225.756882,370245.177065,366343.162704,352796.876509,76623.894963,76299.193825,355166.193221,350551.102488,358831.762242,362716.768423,355141.121436,3.609181e+05,358893.545713,352689.298614,357836.386406,349684.101631,367825.718912,285544.672093,354840.236902
1,39693,3,63,12315,7,1,564307.130704,585946.868437,606298.959960,509377.247299,2.718274e+06,2.232579e+06,2.209726e+06,1.892110e+06,843753.453840,881908.758818,883779.114293,770498.653859,1.522408e+06,1.327851e+06,1.280758e+06,1.135047e+06,1.147513e+06,829702.295435,760807.341039,848280.904223,1.877313e+06,1.640463e+06,1.751083e+06,1.379226e+06,644352.547945,487669.347380,497662.519665,481394.063071,834117.782185,868311.563966,880551.197980,751846.968807,1.034033e+06,1.137899e+06,1.164617e+06,1.012668e+06,1.075660e+06,1.160739e+06,1.203673e+06,1.055679e+06,1.826017e+06,1.943063e+06,2.013300e+06,1.638537e+06,373872.664966,386319.204169,398107.136524,366759.374074,385872.405210,373049.199984,348984.499059,384059.714725,575008.683453,600458.356280,577446.967964,539581.018363,372284.366132,353270.688023,366789.480519,353304.864969,350203.636100,368483.739779,375191.784636,366314.252958,345296.174835,371733.288440,363929.204761,360310.963630,352715.822758,362181.796554,364540.822079,202318.895121,187941.817850,187247.913003,292753.988004,347191.671022,351564.848319,351360.896826,360972.430184,373310.202732,353737.268023,344072.485493,373790.992800,431288.773077,436498.571005,350958.773640,387434.060633,1.496847e+06,1.407366e+06,1.282339e+06,1.126444e+06,340058.725571,364414.043825,339751.487577,340981.135795,431390.339458,493910.347639,446981.911405,452754.471041,359885.725725,369696.438533,345766.235373,354842.337126,626343.532679,586793.810463,596518.143834,556760.234091,543357.920240,558499.837289,510342.796894,520761.344740,419585.044212,423337.360235,425773.374911,444845.171157,456811.381177,391812.102849,416234.858630,2015-10-01 00:00:00,2015.0,10.0,1.0,580851.894228,2.443365e+06,865366.480045,1.403856e+06,955641.303784,1.770312e+06,559527.030361,855834.246289,1.097674e+06,1.132467e+06,1.906651e+06,383406.949491,373400.690990,584033.748731,364725.387737,361849.925890,358249.219354,358498.924984,194177.428894,349575.891410,360288.620665,415174.261400,1.419352e+06,348108.889879,455695.135951,360018.298805,606532.427752,541068.531846,422211.000819,437048.781540
2,19535,15,13,5504,6,1,379351.685119,394182.092405,380051.883962,383669.693000,6.441022e+05,6.050513e+05,6.206603e+05,6.305246e+05,425385.779348,390735.673995,477455.869440,452824.941068,7.995319e+05,7.199362e+05,7.406381e+05,7.131936e+05,5.311816e+05,514741.746178,528849.435520,584501.847521,4.444025e+05,4.533300e+05,4.490554e+05,4.587347e+05,481135.648099,467669.404784,504347.660158,534499.419393,408389.856374,411947.733484,418667.721283,425802.859000,4.526367e+05,4.622175e+05,4.379403e+05,4.483926e+05,4.734581e+05,4.494236e+05,4.189266e+05,4.305812e+05,5.327804e+05,5.050085e+05,5.532396e+05,5.039555e+05,372961.467925,358905.871451,368792.801292,343197.621876,351288.487858,346614.584777,367534.286594,365106.171300,395824.506401,372795.281465,364901.168022,357015.483704,366199.369026,344108.407380,357488.558305,360648.191979,353573.996525,372629.817218,372188.866846,346067.307769,352544.207902,340975.820073,357840.245237,365032.664491,340403.014174,367074.762812,364907.011022,430663.184804,443047.219735,437807.348230,449192.071233,356525.559913,367834.251642,351531.865247,345980.947052,372006.603491,346639.414358,343506.774049,344139.004352,395770.275089,362373.894527,354341.864560,348833.316062,7.694880e+05,7.023719e+05,7.038244e+05,7.042924e+05,366350.126027,355423.264399,373746.643908,346259.515599,385782.679771,398177.835460,353980.985221,375073.675195,346499.904942,347187.935696,359875.650629,348482.636520,491517.764563,488667.483077,507108.442325,540245.165833,372141.609384,372940.581700,356833.167530,367306.071112,387950.807778,389893.413929,364549.242197,370680.802471,371698.484955,362778.394801,366921.505401,2015-04-01 00:00:00,2015.0,4.0,1.0,384450.753957,6.258759e+05,425406.875362,7.599125e+05,525183.383536,4.484123e+05,481805.125229,411859.785390,4.525644e+05,4.533285e+05,5.280696e+05,367349.898738,353340.697661,381276.245116,356899.979428,364062.574605,349864.975811,354738.929686,436378.788320,359185.413897,357217.578348,375431.834784,7.325240e+05,364351.509458,382847.355100,349701.636457,494032.265793,369006.057522,383397.995255,369263.939372
3,4286,2,4,1107,8,1,363552.396086,371786.373645,371542.067484,365204.228853,3.846639e+05,3.789517e+05,3.551879e+05,3.713978e+05,372174.532867,371370.256259,377959.226908,344581.947799,3.636668e+05,3.575831e+05,3.662552e+05,3.804336e+05,3.623015e+05,377101.596125,374928.690083,345777.748609,3.555814e+05,3.733798e+05,3.593706e+05,3.437278e+05,348458.696351,361418.841014,356877.324987,363708.386391,347006.321559,355503.249815,362869.046087,346293.036669,3.701590e+05,3.640795e+05,3.811592e+05,3.722441e+05,3.577503e+05,3.468749e+05,3.572676e+05,3.604819e+05,3.640142e+05,3.746361e+05,3.615733e+05,3.613898e+05,352500.819579,360067.753467,365042.438307,366226.081895,342645.597425,354832.639716,352307.065355,359455.920458,363269.670266,359591.013675,344344.468510,354723.003525,360250.317158,345659.225172,354784.560031,348455.827444,343741.405646,340965.948431,354435.861691,344756.868423,347168.240588,352981.712618,367448.528667,348360.627661,357148.732228,341539.321614,363392.327813,357710.277634,352017.439344,349392.370597,364613.475745,354758.787511,369192.306879,362695.834729,351992.917065,363458.159985,345534.083371,347244.264191,373361.707560,361219.949634,369211.761426,339421.622746,363671.547746,3.860220e+05,3.661183e+05,3.789269e+05,3.851955e+05,342007.214789,357258.291972,356989.340301,370062.787197,356362.490718,342613.535174,344531.059041,360502.099495,361967.618525,350102.820139,361564.778049,358873.998752,351903.422732,375202.743576,355570.028777,365713.608843,373184.340353,356411.077910,342327.527537,366354.742233,372030.051844,374857.163137,362254.021673,366611.785072,344896.040064,367964.677168,350629.253166,2017-07-01 00:00:00,2017.0,7.0,1.0,368072.537805,3.762096e+05,373191.928229,3.622141e+05,370040.910986,3.623562e+05,354649.550935,353363.680873,3.705770e+05,3.540179e+05,3.670124e+05,357810.157259,348854.937729,357837.851012,354172.007134,345192.799029,353612.795282,353333.061042,353964.241084,361333.748904,353880.379826,359039.814256,3.778107e+05,350420.268408,349150.298497,357923.165624,360484.664357,360736.183358,370799.971126,359673.846091
4,39621,59,30,12294,8,1,368530.936855,367450.033454,358297.870364,0.000000,3.516819e+05,3.563508e+05,3.427291e+05,0.000000e+00,369333.246102,362348.577120,339978.978376,0.000000,3.529416e+05,3.407400e+05,3.740230e+05,0.000000e+00,3.715968e+05,371805.672012,346038.553821,0.000000,3.720567e+05,3.721733e+05,3.614443e+05,0.000000e+00,360704.301769,349895.912646,356684.002329,0.000000,371742.147792,344301.439001,341897.951742,0.000000,3.435124e+05,3.673945e+05,3.748505e+05,0.000000e+00,3.591551e+05,3.518709e+05,3.571694e+05,0.000000e+00,3.741143e+05,3.740058e+05,3.723961e+05,0.000000e+00,366701.437804,341515.356572,344007.441564,0.000000,368006.140274,351434.863060,347134.243088,0.000000,362658.342898,352570.398861,356832.173539,0.000000,360290.430515,374205.534131,362815.278634,0.000000,0.000000,0.000000,0.000000,0.000000,397125.206959,397205.816977,397591.588992,0.000000,340765.733849,353771.257348,367107.339874,371947.392154,348504.277899,373414.750051,0.000000,355529.888024,365505.468703,345054.031145,0.000000,368570.993916,352613.403871,355398.279943,0.000000,356617.054821,354871.822136,357721.787843,0.000000,3.646341e+05,3.394730e+05,3.534946e+05,0.000000e+00,369795.684188,362517.512103,366225.088028,0.000000,353977.028128,362770.185663,370752.400148,0.000000,367697.116581,355284.886579,362837.587313,0.000000,372379.393153,366920.929858,363095.667854,0.000000,363234.493746,355608.575949,351911.163051,0.000000,0.000000,0.000000,0.000000,350505.223417,347030.412041,360238.097158,0.000000,2015-07-01 00:00:00,2015.0,7.0,2.0,365896.620945,3.512487e+05,360481.852502,3.535592e+05,365986.810835,3.697372e+05,356208.105519,355963.201295,3.584371e+05,3.562858e+05,3.736963e+05,353262.967118,357844.181828,358000.990584,365489.875747,0.000000,397255.717417,350954.598576,364459.100268,356527.113389,360324.527463,356280.806820,3.537717e+05,366576.161013,360635.941089,362479.811188,368496.855322,358176.225437,0.000000,351509.813790

In [16]:
# Fix the denominator columns so we don't divide anything by 0. (Changing it to 0.0001 instead)
denominator_cols = ["EBITDA_Y0", "EBITDA_Y1", "EBITDA_Y2", "EBITDA_Y3",
                    "TOTALREVENUE_Y0", "TOTALREVENUE_Y1", "TOTALREVENUE_Y2", "TOTALREVENUE_Y3",
                    "TOTINTEXP_Y0", "TOTINTEXP_Y1", "TOTINTEXP_Y2", "TOTINTEXP_Y3",
                    "CURRENTLIABILITY_Y0", "CURRENTLIABILITY_Y1", "CURRENTLIABILITY_Y2", "CURRENTLIABILITY_Y3",
                    "TOTALASSET_Y0", "TOTALASSET_Y1", "TOTALASSET_Y2", "TOTALASSET_Y3",
                    "NETSALES_Y0", "NETSALES_Y1", "NETSALES_Y2", "NETSALES_Y3",
                    "Average_Total_Assets"
                    ]
for col in df1.columns:
  if col in denominator_cols:
    df1[col]=df1[col].replace(0.000000, 0.0001)
    
for col in df2.columns:
    if col in denominator_cols:
        df2[col]=df2[col].replace(0.000000, 0.0001)

## Generate Ratios which are useful in determining a companies financial well-being

In [17]:
def Total_Leverage(dataset):
    dataset["Total_Leverage_Y0"] = dataset["TOTALDEBT_Y0"] / dataset["EBITDA_Y0"]
    dataset["Total_Leverage_Y1"] = dataset["TOTALDEBT_Y1"] / dataset["EBITDA_Y1"]
    dataset["Total_Leverage_Y2"] = dataset["TOTALDEBT_Y2"] / dataset["EBITDA_Y2"]
    dataset["Total_Leverage_Y3"] = dataset["TOTALDEBT_Y3"] / dataset["EBITDA_Y3"]
    return dataset

def Ebitda_Margin(dataset):
    dataset["Ebitda_Margin_Y0"] = dataset["EBITDA_Y0"] / dataset["TOTALREVENUE_Y0"] 
    dataset["Ebitda_Margin_Y1"] = dataset["EBITDA_Y1"] / dataset["TOTALREVENUE_Y1"] 
    dataset["Ebitda_Margin_Y2"] = dataset["EBITDA_Y2"] / dataset["TOTALREVENUE_Y2"] 
    dataset["Ebitda_Margin_Y3"] = dataset["EBITDA_Y3"] / dataset["TOTALREVENUE_Y3"] 
    return dataset

def Operating_Margin(dataset):
    dataset["Operating_Margin_Y0"] = dataset["EBITDA_Y0"] / dataset["TOTALREVENUE_Y0"] 
    dataset["Operating_Margin_Y1"] = dataset["EBITDA_Y1"] / dataset["TOTALREVENUE_Y1"] 
    dataset["Operating_Margin_Y2"] = dataset["EBITDA_Y2"] / dataset["TOTALREVENUE_Y2"] 
    dataset["Operating_Margin_Y3"] = dataset["EBITDA_Y3"] / dataset["TOTALREVENUE_Y3"] 
    return dataset
    
def Interest_Coverage_Ratio(dataset):
    dataset["Interest_CR_Y0"] = dataset["EBITDA_Y0"] / dataset["TOTINTEXP_Y0"] 
    dataset["Interest_CR_Y1"] = dataset["EBITDA_Y1"] / dataset["TOTINTEXP_Y1"] 
    dataset["Interest_CR_Y2"] = dataset["EBITDA_Y2"] / dataset["TOTINTEXP_Y2"] 
    dataset["Interest_CR_Y3"] = dataset["EBITDA_Y3"] / dataset["TOTINTEXP_Y3"] 
    return dataset

def Average_Growth_By_Revenue(dataset):
    dataset["Growth_Y3_to_Y2"] = (dataset["TOTALREVENUE_Y2"] - dataset["TOTALREVENUE_Y3"]) / (dataset["TOTALREVENUE_Y3"])
    dataset["Growth_Y2_to_Y1"] = (dataset["TOTALREVENUE_Y1"] - dataset["TOTALREVENUE_Y2"]) / (dataset["TOTALREVENUE_Y2"])
    dataset["Average_Growth"] = (dataset["Growth_Y3_to_Y2"] + dataset["Growth_Y2_to_Y1"]) / 2
    return dataset
    
# 1
def Current_Ratio(dataset):
    dataset["Current_Ratio_Y0"] = dataset["CURRENTASSET_Y0"] / dataset["CURRENTLIABILITY_Y0"]
    dataset["Current_Ratio_Y1"] = dataset["CURRENTASSET_Y1"] / dataset["CURRENTLIABILITY_Y1"]
    dataset["Current_Ratio_Y2"] = dataset["CURRENTASSET_Y2"] / dataset["CURRENTLIABILITY_Y2"]
    dataset["Current_Ratio_Y3"] = dataset["CURRENTASSET_Y3"] / dataset["CURRENTLIABILITY_Y3"]
    return dataset

# 2
def Quick_Ratio(dataset):
    dataset["Quick_Ratio_Y0"] = (dataset["CCE_Y0"] + dataset["ARTurnover_Y0"]) / dataset["CURRENTLIABILITY_Y0"]
    dataset["Quick_Ratio_Y1"] = (dataset["CCE_Y1"] + dataset["ARTurnover_Y1"]) / dataset["CURRENTLIABILITY_Y1"]
    dataset["Quick_Ratio_Y2"] = (dataset["CCE_Y2"] + dataset["ARTurnover_Y2"]) / dataset["CURRENTLIABILITY_Y2"]
    dataset["Quick_Ratio_Y3"] = (dataset["CCE_Y3"] + dataset["ARTurnover_Y3"]) / dataset["CURRENTLIABILITY_Y3"]
    return dataset

# 8 (not sure)
def Debt_Ratio(dataset):
    dataset["Debt_Ratio_Y0"] = dataset["TOTALDEBT_Y0"] / dataset["TOTALASSET_Y0"]
    dataset["Debt_Ratio_Y1"] = dataset["TOTALDEBT_Y1"] / dataset["TOTALASSET_Y1"]
    dataset["Debt_Ratio_Y2"] = dataset["TOTALDEBT_Y2"] / dataset["TOTALASSET_Y2"]
    dataset["Debt_Ratio_Y3"] = dataset["TOTALDEBT_Y3"] / dataset["TOTALASSET_Y3"]
    return dataset

# 13 (not sure x2) 
def Asset_Turnover(dataset):
  dataset["Average_Total_Assets"] = (dataset["CURRENTASSET_Y0"] + dataset["CURRENTASSET_Y1"] + dataset["CURRENTASSET_Y2"] + dataset["CURRENTASSET_Y3"]) / 4
  dataset["Asset_Turnover_Y0"] = dataset["NETSALES_Y0"] / dataset["Average_Total_Assets"]
  dataset["Asset_Turnover_Y1"] = dataset["NETSALES_Y1"] / dataset["Average_Total_Assets"]
  dataset["Asset_Turnover_Y2"] = dataset["NETSALES_Y2"] / dataset["Average_Total_Assets"]
  dataset["Asset_Turnover_Y3"] = dataset["NETSALES_Y3"] / dataset["Average_Total_Assets"]
  return dataset

# 12
def Return_Net_Sales(dataset):
    dataset["Return_Net_Sales_Y0"] = dataset["EBITDA_Y0"] / dataset["NETSALES_Y0"]
    dataset["Return_Net_Sales_Y1"] = dataset["EBITDA_Y1"] / dataset["NETSALES_Y1"]
    dataset["Return_Net_Sales_Y2"] = dataset["EBITDA_Y2"] / dataset["NETSALES_Y2"]
    dataset["Return_Net_Sales_Y3"] = dataset["EBITDA_Y3"] / dataset["NETSALES_Y3"]
    return dataset


def Create_Features(my_df):
    Total_Leverage(my_df)
    Ebitda_Margin(my_df)
    Operating_Margin(my_df)
    Interest_Coverage_Ratio(my_df)
    Average_Growth_By_Revenue(my_df)
    Current_Ratio(my_df)
    Quick_Ratio(my_df)
    Debt_Ratio(my_df)
    Return_Net_Sales(my_df)
    Asset_Turnover(my_df)
    return my_df

Create_Features(df1)
Create_Features(df2)
print(" ")

In [24]:
df1.head()

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
0,5662,1,5,1576,5,1,575863.911214,602838.635998,583646.469630,614602.866245,619611.510181,621095.725446,611355.907673,582433.004400,623105.791017,596800.177680,600460.033208,598408.339905,611355.411490,589592.109008,605336.777910,574789.603998,620745.952718,621004.600446,614991.732391,604478.517167,609095.636450,600147.701765,589971.619360,580405.105567,578103.988392,577109.531117,574090.626783,583030.371565,600890.935743,604975.472270,600103.052065,601804.995337,596259.219747,573227.115787,572126.125957,601814.939331,578045.252633,571339.795861,596653.190112,590035.602606,571736.508285,628719.211745,584338.549368,616858.074405,611986.404942,604922.163814,577051.576457,613092.388218,603141.577521,576650.299516,620686.247107,610847.649882,585871.251511,616877.792537,568949.503421,618110.180319,604601.169985,580153.927795,590842.797526,590664.224219,590472.808115,616986.562624,572661.424837,574363.146314,582917.058057,583420.366083,607467.206600,583658.695782,603769.043190,601041.664461,590112.115029,590316.935078,602489.197881,607756.994574,602468.604889,579949.325730,585896.605197,615126.516293,604036.179493,573565.511062,607130.118230,571946.940867,592574.187811,623675.986993,618944.803911,580343.279228,590502.807033,609912.733618,599498.344764,595156.410271,587134.042491,570091.364648,580823.373014,608524.711934,622059.106399,575870.723892,573508.493635,570519.450943,608807.689045,593269.795473,599593.828998,621562.468837,588906.640575,600112.382878,626071.057035,591870.004065,588954.395020,604537.606945,597031.247138,600893.706501,590802.111805,606861.990009,570523.662855,587502.761835,575350.400174,571025.770698,603242.309649,622846.821734,2017-10-01,2017,10,1,586584.943568,618271.670268,609304.862614,602763.503201,619553.452999,601863.209979,576880.644499,602077.362657,583218.942030,579945.197593,593531.196346,601868.362680,598209.966983,592446.376722,593394.673153,595352.641112,588540.415964,599825.044022,598249.924789,589748.905678,584394.031186,612469.435351,603162.087700,582209.444611,573894.142040,601665.067395,606933.634527,601225.731355,590447.163586,580107.059121,1.082037,0.989983,1.028808,0.973650,0.941946,1.022467,0.964168,1.069266,0.941946,1.022467,0.964168,1.069266,0.940975,0.996556,1.011429,1.002464,5.314497e-02,-0.026010,1.356760e-02,1.073762,1.076060,1.071245,1.036787,2.021471,2.028418,2.133469,2.078371,1.005639,0.960883,0.982178,1.027429,0.944174,1.005572,0.980661,1.046785,615305.200681,0.991236,0.974311,0.967254,9.542160e-01
1,16369,1,5,4545,7,1,599469.364624,615373.028208,612705.047096,0.000100,608126.531748,601435.154115,587550.520995,0.000100,627335.355343,611300.879046,572542.268654,0.000000,604626.757034,586282.226249,624691.726730,0.000100,596315.871786,609786.889797,620321.870767,0.000000,577715.935070,576662.704616,582062.515093,0.000000,616376.771099,604827.131130,599463.087501,0.000100,584268.408156,615338.209036,617623.837767,0.000000,599915.942888,587706.105861,595274.082521,0.000000,575278.320599,612795.138987,582300.999226,0.000000,586176.759045,596042.804332,591066.860115,0.000000,599885.309188,601973.826113,576342.388644,0.000100,612396.980939,571906.704700,577600.492683,0.000000,608239.368101,580375.372271,607292.591803,0.000000,576727.633238,592407.347051,571806.694543,0.000000,623527.400755,627610.773225,591365.359100,0.000000,625385.094320,627447.879790,574797.783549,0.000000,599583.772148,599373.028704,578394.144402,584262.286957,617559.499371,627464.217041,0.000000,622519.607329,612844.491772,616717.098074,0.000000,585261.894944,606387.285367,597933.663213,0.000000,584319.594719,582119.776636,604537.048901,0.000000,600468.027347,619654.468553,577905.225922,0.000100,593683.929674,577347.564682,625997.193308,0.000000,599331.009039,594731.372664,579472.873802,0.000000,612946.959500,624619.791483,581883.305291,0.000000,576159.542727,576880.406059,572899.682067,0.000000,603346.339606,621227.589036,594596.565749,0.000000,0.000000,0.000000,0.000000,615104.995291,615953.218376,589034.257388,0.000000,2015-10-01,2015,10,2,607711.848590,601323.625703,609814.288424,602970.795594,606140.877563,578330.764924,608768.294754,602037.326141,594814.472686,589344.521979,590552.129934,595349.721375,591167.669247,598740.974758,580860.662576,617741.404544,614831.064861,594804.718168,604961.786669,618005.122309,595119.640256,588079.089621,601849.551877,595419.199929,593384.877972,609934.869226,575675.417024,607362.361892,0.000000,609594.239007,1.046484,0.993383,0.934450,0.000000,0.991470,1.049619,0.980812,1.000000,0.991470,1.049619,0.980812,1.000000,0.999307,1.022259,1.063092,1.000000,6.246917e+09,-0.061486,3.123459e+09,0.967454,1.008200,1.034796,0.000000,1.992372,2.051120,1.953277,0.000000,1.031587,1.016404,0.974456,0.000000,0.998337,0.993091,1.060217,1.000000,456606.158088,1.315068,1.357087,1.265654,2.190071e-10
2,2326,0,12,648,8,1,613829.072017,575020.270272,583630.783425,595256.346525,608391.483917,611859.108037,607825.470188,592953.319963,585464.960100,571781.269380,585642.496712,593575.189122,608591.366569,578175.200440,602523.843620,605501.836474,618999.144319,614118.293569,592205.828625,593381.268052,578343.317529,575530.917780,590556.467199,595629.061840,603655.551037,574183.093293,597137.973102,596570.797275,605298.293603,598985.457637,602326.489701,610354.711853,577735.145730,585264.369252,606035.133972,602171.607357,585900.805747,615469.219089,596268.755476,593105.042889,585225.732357,578698.596685,596554.351526,605586.733909,603652.451410,581459.745306,601344.886075,593198.683962,610421.314919,603672.946408,605549.257292,593524.563900,615972.913531,613239.841602,605608.239471,598412.906837,614134.979471,627189.858095,602409.648339,609889.587867,583797.304612,577370.591526,603376.296391,583599.496940,623541.230342,590535.903820,593365.903329,597178.040212,599099.056296,612901.104547,610247.080716,592856.378966,625945.382643,599792.118839,597846.757742,599586.156088,582896.044376,602449.051592,597555.125196,572606.634235,592740.514085,588749.676585,578747.562998,628443.444334,627082.417223,595729.318682,590591.700782,618384.136760,577029.978273,598628.646309,608488.810564,587195.266426,580755.669521,590307.264515,606490.472344,613853.875298,596322.141176,603864.112575,589676.249565,614104.443488,613654.106652,607925.829319,605947.164069,605642.248232,601107.708861,601789.514352,607969.103093,618703.592690,619380.184641,604289.385018,602603.459609,586607.548841,584847.736742,591202.400750,580199.620976,605016.760749,602657.906443,604866.850556,2015-04-01,2015,4,3,594182.073970,609421.577795,580943.182441,597104.306093,611418.123915,580119.884206,592383.047804,602533.614080,586533.773180,598060.932356,585567.491393,595742.090412,607089.179276,612758.628653,615880.976539,586005.953978,605833.826610,606177.077806,605427.322386,594658.984518,582905.270263,620719.962930,600209.308275,585740.289255,605790.016652,612581.305839,603274.572024,615725.966080,587042.023010,593462.731004,0.953792,0.994367,1.003447,0.997176,1.008606,0.994543,0.968643,0.983079,1.008606,0.994543,0.968643,0.983079,1.016858,0.988925,0.970543,1.003469,-4.918223e-03,-0.040411,-2.266465e-02,1.025418,1.069551,0.991740,0.994654,1.978453,2.122443,2.027310,2.029623,0.962316,0.934498,0.963504,1.001049,0.992634,0.996517,0.974946,0.978254,604676.133641,1.022670,0.954279,0.989999,1.006305e+00
3,38131,0,19,13395,5,1,585059.299344,581915.869330,594033.887481,609965.034011,591791.219692,598332.776102,589877.849288,622230.836194,584513.060799,626767.691011,625743.779183,573802.856646,615999.168162,588623.823558,600443.812695,633589.116171,582358.584899,612497.219818,606794.985460,589340.181176,621919.270235,607400.754064,581688.692973,633939.157288,620046.519867,607197.874782,589234.421690,615945.241601,624582.882164,571604.744174,618284.670890,582971.670808,601679.290137,631531.820709,582070.488802,578291.242057,609409.181664,627146.534773,579538.437216,623483.022643,606435.590692,597736.992046,626159.684774,574211.349128,569227.108284,578222.485479,627954.601109,616994.119250,619543.967706,618202.883312,628277.301473,603404.442362,610683.455442,626679.453601,611347.146807,599683.366810,596054.212034,621062.132904,579501.505805,592501.700490,575626.390128,610802.061343,569159.760007,621795.529225,627037.437178,591909.025138,615052.716422,585048.876231,599367.108922,620462.545377,610693.259783,596121.697084,608036.381542,616019.469361,616448.299548,584225.743532,603300.608401,584569.410981,585972.889822,602652.271667,607664.571382,619663.283070,615897.170961,600047.184269,578475.431636,604161.492068,625933.459267,592635.899148,605067.869041,598361.483763,603347.820896,583240.465017,621924.452782,586696.569372,617082.133276,573787.307640,607639.336175,596952.206249,572199.964331,568608.114496,608155.293540,582152.854829,569070.296103,582067.967917,574781.431984,589652.582411,608081.966820,581638.119480,613180.540495,585288.491695,576526.161339,604725.209898,579187.232468,628406.498679,587097.755174,615814.454998,599338.620711,588454.089187,2017-07-01,2017,7,1,586005.842259,593546.545072,607760.319399,603417.307635,597835.107774,608139.636564,608916.505244,605523.900329,607272.622253,608683.689490,607919.189828,585276.121310,621037.680412,616162.941798,600711.806495,585914.584951,612664.695219,608915.843487,604514.985743,590660.402366,608103.262995,593770.890680,598052.241249,596903.150795,590219.072398,584800.449807,581324.592493,592963.453644,601475.059373,599390.180790,0.999066,1.077076,1.053381,0.940714,0.949773,0.988604,0.989325,0.962714,0.949773,0.988604,0.989325,0.962714,1.027813,1.006387,0.945982,0.988608,-5.231356e-02,-0.019685,-3.599949e-02,0.939218,1.008728,1.029802,0.956806,1.863902,2.015768,2.005130,1.879265,0.987701,1.047524,1.060802,0.922170,0.987215,0.961737,0.992768,1.010967,597747.742838,0.991448,1.012246,1.001027,1.009369e+00
4,36605,0,19,12998,6,1,605966.227164,593540.797737,575448.556931,0.000100,582546.955793,614212.207680,578068.515601,0.000100,590177.329836,570997.852457,625971.749956,0.000000,607879.645878,628042.392612,592671.553802,0.000100,624481.204725,620443.236288,584608.020724,0.000000,581316.994347,618157.473873,612201.478244,0.000000,594651.641147,588273.242403,628893.487075,0.000100,619814.409081,612323.296890,579970.364292,0.000000,604318.176057,582539.670630,608157.980979,0.000000,599764.180894,621380.436335,617897.984246,0.000000,600254.713521,602796.821976,616710.718806,0.000000,599030.420526,610132.517699,587946.887611,0.000100,587964.127888,597855.711865,602364.202307,0.000000,587331.672092,626392.228623,577227.025844,0.000000,579706.987774,599713.713177,574751.041997,0.000000,592648.180887,603115.329420,604955.203982,0.000000,574529.317966,616421.542445,601224.106656,0.000000,609647.879264,583281.325868,571425.106318,603957.579631,572002.523205,585445.757146,0.000000,627957.167678,600026.249724,625000.416886,0.000000,599551.537646,587957.236129,606144.949063,0.000000,570361.838213,617325.963529,596985.846302,0.000000,602279.589211,614291.123282,593478.134971,0.000100,592417.646739,613810.092740,583245.681028,0.000000,599057.069965,599379.654659,591842.067442,0.000000,607542.555339,587340.099931,606914.277891,0.000000,601244.861338,611322.361302,615444.982411,0.000000,571756.113932,575840.218046,574663.116947,0.000000,609213.829112,0.000000,0.000000,583548.648126,0.000000,0.000000,0.000000,2015-07-01,2015,7,3,595042.712859,592106.830824,591738.486292,611220.985439,614274.507690,600460.372833,600134.807327,608463.139509,597911.964231,610999.333453,604758.973069,600268.112269,594461.339084,598106.380658,585274.574958,598872.124419,594425.568057,592365.078589,589192.155826,617989.805962,597151.973011,591932.992893,604327.555181,597510.247470,597561.264302,600668.786326,607759.610453,573763.482640,270761.701828,259354.954723,0.973944,0.962020,1.087798,0.000000,0.996852,0.945065,0.970940,1.000000,0.996852,0.945065,0.970940,1.000000,1.011578,0.972806,0.978742,1.000000,5.926716e+09,0.059680,2.963358e+09,1.050163,1.054685,0.929582,0.000000,2.003007,0.998414,0.965051,0.000000,1.013098,0.929643,1.082868,0.000000,1.006121,0.966221,0.969620,1.000000,457383.115434,1.316795,1.343056,1.297551,2.186351e-10

In [25]:
# Feature Engineering Completed
df1.to_excel("Feature_Engineering_Completed_df1.xlsx")
df2.to_excel("Feature_Engineering_Completed_df2.xlsx")