# **IMI BIG DATA & AI CASE COMPETITION**

## *By: Hafsa, Cindy, Tahir & Albert*

The following script uses the data from feature engineering to select the best features possible.

# Initial Set-Up & Import Data <a class="anchor" id="1"></a>

In [18]:
# Import relevent Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import math

# Model Metrics & Data Pre-processing 
from scipy import stats
from sklearn import metrics
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, log_loss
from sklearn.metrics import confusion_matrix, roc_auc_score, roc_curve, classification_report, precision_recall_curve
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, GridSearchCV, RandomizedSearchCV

#Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier

#import lightgbm and xgboost 
import lightgbm as lgb 
import xgboost as xgb 

# Imbalance dataset methods
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN
from imblearn.combine import SMOTETomek
from imblearn.combine import SMOTEENN

# Miscellaneous
from collections import Counter

# Additional Libraries -- Automatic Explanatory Data Analysis
from pandas_profiling import ProfileReport
from IPython.core.display import display, HTML

# Remove warnings (so it doesn't take up space)
import warnings
warnings.filterwarnings('ignore')

# Set seed for repition 
np.random.seed(2022)

In [2]:
# Some settings for making the tables, plots and the report look nicer
sns.set_theme()
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 999)
display(HTML("<style>.container { width:80% !important; }</style>"))
display(HTML("<style>.container { length:100% !important; }</style>"))

In [3]:
# Read in the data
# Canadian Companies Data
df1 = pd.read_excel("/Users/tahir/Desktop/Fraudit/Datasets/Feature_Engineering_Completed_df1.xlsx")

# General Companies Data
df2 = pd.read_excel("/Users/tahir/Desktop/Fraudit/Datasets/Feature_Engineering_Completed_df2.xlsx")

# Data Dictionary from Canadian Companies Dataset (Although both data dictionaries are the same) 
data_dictionary = pd.read_excel("/Users/tahir/Desktop/Fraudit/Datasets/cmeg_df_case_competition_scrambled_train.xlsx", sheet_name=1)

In [4]:
# Remove the index column which gets added when you export to excel 
df1.drop(["Unnamed: 0"], axis=1, inplace=True)
df2.drop(["Unnamed: 0"], axis=1, inplace=True)

In [5]:
df1.head()

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
0,5662,1,5,1576,5,1,575863.911214,602838.635998,583646.469630,614602.866245,619611.510181,621095.725446,611355.907673,582433.004400,623105.791017,596800.177680,600460.033208,598408.339905,611355.411490,589592.109008,605336.777910,574789.603998,620745.952718,621004.600446,614991.732391,604478.517167,609095.636450,600147.701765,589971.619360,580405.105567,578103.988392,577109.531117,574090.626783,583030.371565,600890.935743,604975.472270,600103.052065,601804.995337,596259.219747,573227.115787,572126.125957,601814.939331,578045.252633,571339.795861,596653.190112,590035.602606,571736.508285,628719.211745,584338.549368,616858.074405,611986.404942,604922.163814,577051.576457,613092.388218,603141.577521,576650.299516,620686.247107,610847.649882,585871.251511,616877.792537,568949.503421,618110.180319,604601.169985,580153.927795,590842.797526,590664.224219,590472.808115,616986.562624,572661.424837,574363.146314,582917.058057,583420.366083,607467.206600,583658.695782,603769.043190,601041.664461,590112.115029,590316.935078,602489.197881,607756.994574,602468.604889,579949.325730,585896.605197,615126.516293,604036.179493,573565.511062,607130.118230,571946.940867,592574.187811,623675.986993,618944.803911,580343.279228,590502.807033,609912.733618,599498.344764,595156.410271,587134.042491,570091.364648,580823.373014,608524.711934,622059.106399,575870.723892,573508.493635,570519.450943,608807.689045,593269.795473,599593.828998,621562.468837,588906.640575,600112.382878,626071.057035,591870.004065,588954.395020,604537.606945,597031.247138,600893.706501,590802.111805,606861.990009,570523.662855,587502.761835,575350.400174,571025.770698,603242.309649,622846.821734,2017-10-01,2017,10,1,586584.943568,618271.670268,609304.862614,602763.503201,619553.452999,601863.209979,576880.644499,602077.362657,583218.942030,579945.197593,593531.196346,601868.362680,598209.966983,592446.376722,593394.673153,595352.641112,588540.415964,599825.044022,598249.924789,589748.905678,584394.031186,612469.435351,603162.087700,582209.444611,573894.142040,601665.067395,606933.634527,601225.731355,590447.163586,580107.059121,1.082037,0.989983,1.028808,0.973650,0.941946,1.022467,0.964168,1.056249,0.941946,1.022467,0.964168,1.056249,0.940975,0.996556,1.011429,1.002464,0.053145,-0.026010,0.013568,1.073762,1.076060,1.071245,1.036787,2.021471,2.028418,2.133469,2.078371,1.005639,0.960883,0.982178,1.027429,0.944174,1.005572,0.980661,1.046785,615305.200681,0.991236,0.974311,0.967254,0.954216
1,16369,1,5,4545,7,1,599469.364624,615373.028208,612705.047096,512031.899430,608126.531748,601435.154115,587550.520995,508218.086643,627335.355343,611300.879046,572542.268654,0.000000,604626.757034,586282.226249,624691.726730,501716.330148,596315.871786,609786.889797,620321.870767,507962.639632,577715.935070,576662.704616,582062.515093,505654.999259,616376.771099,604827.131130,599463.087501,511127.253255,584268.408156,615338.209036,617623.837767,509722.989076,599915.942888,587706.105861,595274.082521,0.000000,575278.320599,612795.138987,582300.999226,484085.796269,586176.759045,596042.804332,591066.860115,506405.585995,599885.309188,601973.826113,576342.388644,0.000100,612396.980939,571906.704700,577600.492683,511973.808386,608239.368101,580375.372271,607292.591803,511385.032364,576727.633238,592407.347051,571806.694543,0.000000,623527.400755,627610.773225,591365.359100,0.000000,625385.094320,627447.879790,574797.783549,0.000000,599583.772148,599373.028704,578394.144402,584262.286957,617559.499371,627464.217041,502429.937240,622519.607329,612844.491772,616717.098074,429128.123405,585261.894944,606387.285367,597933.663213,431121.647066,584319.594719,582119.776636,604537.048901,512159.166941,600468.027347,619654.468553,577905.225922,503972.467851,593683.929674,577347.564682,625997.193308,511309.169231,599331.009039,594731.372664,579472.873802,512615.646688,612946.959500,624619.791483,581883.305291,0.000000,576159.542727,576880.406059,572899.682067,0.000000,603346.339606,621227.589036,594596.565749,0.000000,519458.368851,516025.713746,0.000000,615104.995291,615953.218376,589034.257388,0.000000,2015-10-01,2015,10,2,607711.848590,601323.625703,609814.288424,602970.795594,606140.877563,578330.764924,608768.294754,602037.326141,594814.472686,589344.521979,590552.129934,595349.721375,591167.669247,598740.974758,580860.662576,617741.404544,614831.064861,594804.718168,604961.786669,618005.122309,595119.640256,588079.089621,601849.551877,595419.199929,593384.877972,609934.869226,575675.417024,607362.361892,245446.846183,609594.239007,1.046484,0.993383,0.934450,0.000000,0.991470,1.049619,0.980812,1.000000,0.991470,1.049619,0.980812,1.000000,0.999307,1.022259,1.063092,1.000000,0.109029,-0.061486,0.089424,0.967454,1.008200,1.034796,0.755764,1.992372,2.051120,1.953277,0.000000,1.031587,1.016404,0.974456,0.000000,0.998337,0.993091,1.060217,1.000000,456606.158088,1.290547,1.197810,1.145666,0.836537
2,2326,0,12,648,8,1,613829.072017,575020.270272,583630.783425,595256.346525,608391.483917,611859.108037,607825.470188,592953.319963,585464.960100,571781.269380,585642.496712,593575.189122,608591.366569,578175.200440,602523.843620,605501.836474,618999.144319,614118.293569,592205.828625,593381.268052,578343.317529,575530.917780,590556.467199,595629.061840,603655.551037,574183.093293,597137.973102,596570.797275,605298.293603,598985.457637,602326.489701,610354.711853,577735.145730,585264.369252,606035.133972,602171.607357,585900.805747,615469.219089,596268.755476,593105.042889,585225.732357,578698.596685,596554.351526,605586.733909,603652.451410,581459.745306,601344.886075,593198.683962,610421.314919,603672.946408,605549.257292,593524.563900,615972.913531,613239.841602,605608.239471,598412.906837,614134.979471,627189.858095,602409.648339,609889.587867,583797.304612,577370.591526,603376.296391,583599.496940,623541.230342,590535.903820,593365.903329,597178.040212,599099.056296,612901.104547,610247.080716,592856.378966,625945.382643,599792.118839,597846.757742,599586.156088,582896.044376,602449.051592,597555.125196,572606.634235,592740.514085,588749.676585,578747.562998,628443.444334,627082.417223,595729.318682,590591.700782,618384.136760,577029.978273,598628.646309,608488.810564,587195.266426,580755.669521,590307.264515,606490.472344,613853.875298,596322.141176,603864.112575,589676.249565,614104.443488,613654.106652,607925.829319,605947.164069,605642.248232,601107.708861,601789.514352,607969.103093,618703.592690,619380.184641,604289.385018,602603.459609,586607.548841,584847.736742,591202.400750,580199.620976,605016.760749,602657.906443,604866.850556,2015-04-01,2015,4,3,594182.073970,609421.577795,580943.182441,597104.306093,611418.123915,580119.884206,592383.047804,602533.614080,586533.773180,598060.932356,585567.491393,595742.090412,607089.179276,612758.628653,615880.976539,586005.953978,605833.826610,606177.077806,605427.322386,594658.984518,582905.270263,620719.962930,600209.308275,585740.289255,605790.016652,612581.305839,603274.572024,615725.966080,587042.023010,593462.731004,0.953792,0.994367,1.003447,0.997176,1.008606,0.994543,0.968643,0.983079,1.008606,0.994543,0.968643,0.983079,1.016858,0.988925,0.970543,1.003469,-0.004918,-0.040411,-0.022665,1.025418,1.069551,0.991740,0.994654,1.978453,2.122443,2.027310,2.029623,0.962316,0.934498,0.963504,1.001049,0.992634,0.996517,0.974946,0.978254,604676.133641,1.022670,0.954279,0.989999,1.006305
3,38131,0,19,13395,5,1,585059.299344,581915.869330,594033.887481,609965.034011,591791.219692,598332.776102,589877.849288,622230.836194,584513.060799,626767.691011,625743.779183,573802.856646,615999.168162,588623.823558,600443.812695,633589.116171,582358.584899,612497.219818,606794.985460,589340.181176,621919.270235,607400.754064,581688.692973,633939.157288,620046.519867,607197.874782,589234.421690,615945.241601,624582.882164,571604.744174,618284.670890,582971.670808,601679.290137,631531.820709,582070.488802,578291.242057,609409.181664,627146.534773,579538.437216,623483.022643,606435.590692,597736.992046,626159.684774,574211.349128,569227.108284,578222.485479,627954.601109,616994.119250,619543.967706,618202.883312,628277.301473,603404.442362,610683.455442,626679.453601,611347.146807,599683.366810,596054.212034,621062.132904,579501.505805,592501.700490,575626.390128,610802.061343,569159.760007,621795.529225,627037.437178,591909.025138,615052.716422,585048.876231,599367.108922,620462.545377,610693.259783,596121.697084,608036.381542,616019.469361,616448.299548,584225.743532,603300.608401,584569.410981,585972.889822,602652.271667,607664.571382,619663.283070,615897.170961,600047.184269,578475.431636,604161.492068,625933.459267,592635.899148,605067.869041,598361.483763,603347.820896,583240.465017,621924.452782,586696.569372,617082.133276,573787.307640,607639.336175,596952.206249,572199.964331,568608.114496,608155.293540,582152.854829,569070.296103,582067.967917,574781.431984,589652.582411,608081.966820,581638.119480,613180.540495,585288.491695,576526.161339,604725.209898,579187.232468,628406.498679,587097.755174,615814.454998,599338.620711,588454.089187,2017-07-01,2017,7,1,586005.842259,593546.545072,607760.319399,603417.307635,597835.107774,608139.636564,608916.505244,605523.900329,607272.622253,608683.689490,607919.189828,585276.121310,621037.680412,616162.941798,600711.806495,585914.584951,612664.695219,608915.843487,604514.985743,590660.402366,608103.262995,593770.890680,598052.241249,596903.150795,590219.072398,584800.449807,581324.592493,592963.453644,601475.059373,599390.180790,0.999066,1.077076,1.053381,0.940714,0.949773,0.988604,0.989325,0.962714,0.949773,0.988604,0.989325,0.962714,1.027813,1.006387,0.945982,0.988608,-0.052314,-0.019685,-0.035999,0.939218,1.008728,1.029802,0.956806,1.863902,2.015768,2.005130,1.879265,0.987701,1.047524,1.060802,0.922170,0.987215,0.961737,0.992768,1.010967,597747.742838,0.991448,1.012246,1.001027,1.009369
4,36605,0,19,12998,6,1,605966.227164,593540.797737,575448.556931,512031.899430,582546.955793,614212.207680,578068.515601,508218.086643,590177.329836,570997.852457,625971.749956,0.000000,607879.645878,628042.392612,592671.553802,501716.330148,624481.204725,620443.236288,584608.020724,507962.639632,581316.994347,618157.473873,612201.478244,505654.999259,594651.641147,588273.242403,628893.487075,511127.253255,619814.409081,612323.296890,579970.364292,509722.989076,604318.176057,582539.670630,608157.980979,0.000000,599764.180894,621380.436335,617897.984246,484085.796269,600254.713521,602796.821976,616710.718806,506405.585995,599030.420526,610132.517699,587946.887611,0.000100,587964.127888,597855.711865,602364.202307,511973.808386,587331.672092,626392.228623,577227.025844,511385.032364,579706.987774,599713.713177,574751.041997,0.000000,592648.180887,603115.329420,604955.203982,0.000000,574529.317966,616421.542445,601224.106656,0.000000,609647.879264,583281.325868,571425.106318,603957.579631,572002.523205,585445.757146,502429.937240,627957.167678,600026.249724,625000.416886,429128.123405,599551.537646,587957.236129,606144.949063,431121.647066,570361.838213,617325.963529,596985.846302,512159.166941,602279.589211,614291.123282,593478.134971,503972.467851,592417.646739,613810.092740,583245.681028,511309.169231,599057.069965,599379.654659,591842.067442,512615.646688,607542.555339,587340.099931,606914.277891,0.000000,601244.861338,611322.361302,615444.982411,0.000000,571756.113932,575840.218046,574663.116947,0.000000,609213.829112,516025.713746,0.000000,583548.648126,533713.533931,526850.253120,0.000000,2015-07-01,2015,7,3,595042.712859,592106.830824,591738.486292,611220.985439,614274.507690,600460.372833,600134.807327,608463.139509,597911.964231,610999.333453,604758.973069,600268.112269,594461.339084,598106.380658,585274.574958,598872.124419,594425.568057,592365.078589,589192.155826,617989.805962,597151.973011,591932.992893,604327.555181,597510.247470,597561.264302,600668.786326,607759.610453,573763.482640,270761.701828,556399.554843,0.973944,0.962020,1.087798,0.000000,0.996852,0.945065,0.970940,1.000000,0.996852,0.945065,0.970940,1.000000,1.011578,0.972806,0.978742,1.000000,0.109029,0.059680,0.089424,1.050163,1.054685,0.929582,0.755764,2.003007,1.751762,1.712997,0.000000,1.013098,0.929643,1.082868,0.000000,1.006121,0.966221,0.969620,1.000000,457383.115434,1.290547,1.197810,1.145666,0.836537

In [6]:
df2.head()

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,INVENTORY_Y0,INVENTORY_Y1,INVENTORY_Y2,INVENTORY_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,INVENTORY_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
0,28464,2,4,8228,8,1,365604.767017,341575.264490,368053.254720,370696.187829,3.706175e+05,3.497885e+05,3.485696e+05,3.757753e+05,375510.954405,372600.077528,360644.686054,373539.595801,3.560748e+05,3.633396e+05,3.585169e+05,3.715991e+05,3.434351e+05,344977.126649,367162.335140,349945.750055,3.784293e+05,3.720962e+05,3.688327e+05,3.472348e+05,355541.904130,367439.639625,340433.991591,367150.907129,353405.890207,355716.993127,353085.838690,340960.105507,3.533652e+05,347914.927996,369296.724440,363626.775379,3.700049e+05,3.514704e+05,366869.244096,343660.174419,3.697346e+05,3.551172e+05,3.435738e+05,3.563240e+05,370169.540410,344003.480397,369171.604555,367363.465248,370634.594885,374281.413522,363411.986740,362056.093767,375275.290440,357961.987189,361050.670507,358189.894815,350879.117221,347265.348459,364929.687159,363903.150704,317088.842759,315429.698994,344807.527334,362378.000450,318734.935676,316877.189723,343346.372212,356055.826284,362221.588737,340686.574830,362774.829776,342637.201639,349900.900026,367354.207877,346292.283689,351706.612676,393601.766253,320927.055356,320546.133100,359576.687007,394996.818521,320576.856105,320774.648458,356874.643821,361456.227063,342201.418226,348199.125611,3.720583e+05,3.516364e+05,3.525602e+05,3.419070e+05,356742.394668,357520.549624,365255.341936,371843.335476,354543.920069,343724.025034,362427.966074,349247.377743,362545.867031,345369.766302,367117.355311,359257.262084,356017.550739,347023.165655,341008.607380,349568.237211,362362.077598,373864.705143,369694.522194,339867.222381,364236.569625,370985.256781,195313.764710,350599.333501,368971.137940,342125.692144,360512.171013,2017-10-01 00:00:00,2017.0,10.0,1,358139.041220,3.587750e+05,371237.046923,3.590391e+05,349221.832333,3.741857e+05,356150.502064,354105.135288,355088.763189,3.631299e+05,3.590486e+05,361225.756882,370245.177065,366343.162704,352796.876509,330759.421902,332922.503217,355166.193221,350551.102488,358831.762242,362716.768423,355141.121436,3.609181e+05,358893.545713,352689.298614,357836.386406,349684.101631,367825.718912,285544.672093,354840.236902,1.027095,1.090829,0.979871,1.007670,1.026764,0.940099,1.026600,0.997570,1.026764,0.940099,1.026600,0.997570,0.987668,0.992941,0.996971,1.009072,-0.035205,0.013452,-0.010877,0.965948,0.938867,1.078513,0.953139,2.005798,1.944104,2.083350,1.960419,1.013204,1.065215,1.034642,0.994050,0.982655,0.971388,1.043944,1.084202,351380.080509,1.058849,1.000729,1.003359,0.973040
1,39693,3,63,12315,7,1,564307.130704,549358.882217,526488.403994,479901.183851,2.715529e+06,2.232579e+06,2.065349e+06,1.379724e+06,828728.508363,767078.823898,682225.237404,568955.143988,1.522408e+06,1.327851e+06,1.280758e+06,1.135047e+06,1.147513e+06,829702.295435,760807.341039,731152.929454,1.815612e+06,1.640463e+06,1.408298e+06,1.000165e+06,644352.547945,487669.347380,497662.519665,481394.063071,811152.094028,751019.511489,662928.358119,545257.660529,1.030510e+06,992304.290613,901417.794008,699856.347082,1.069766e+06,1.021719e+06,927286.735787,720707.873041,1.821297e+06,1.649828e+06,1.447100e+06,1.016451e+06,373872.664966,386319.204169,398107.136524,366759.374074,385872.405210,373049.199984,348984.499059,384059.714725,575008.683453,561010.306912,537010.633760,483820.428502,372284.366132,353270.688023,366789.480519,353304.864969,350203.636100,368483.739779,375191.784636,366314.252958,345296.174835,371733.288440,363929.204761,360310.963630,352715.822758,362181.796554,364540.822079,202777.596485,203603.676210,214826.500995,292753.988004,347191.671022,351564.848319,351360.896826,360972.430184,373310.202732,353737.268023,344072.485493,373790.992800,431288.773077,428740.002280,350958.773640,387434.060633,1.496847e+06,1.407366e+06,1.282339e+06,1.126444e+06,340058.725571,364414.043825,339751.487577,340981.135795,431390.339458,482126.355202,446981.911405,446461.238988,359885.725725,369696.438533,345766.235373,354842.337126,626343.532679,586793.810463,596518.143834,556760.234091,537924.076478,526262.824512,504300.748434,520761.344740,419585.044212,422178.224675,425773.374911,441662.673288,438394.071490,391812.102849,416234.858630,2015-10-01 00:00:00,2015.0,10.0,1,542354.679056,2.443365e+06,779892.544969,1.403856e+06,955641.303784,1.675887e+06,559527.030361,761508.937197,978015.656435,1.006281e+06,1.676750e+06,383406.949491,373400.690990,552446.251214,364725.387737,361849.925890,358249.219354,358498.924984,219274.598203,349575.891410,360288.620665,415109.831937,1.419352e+06,348108.889879,455695.135951,360018.298805,606532.427752,515535.903423,422211.000819,428248.435334,1.495203,1.505100,1.457662,1.508729,0.370667,0.441275,0.473391,0.448772,0.370667,0.441275,0.473391,0.448772,1.509356,1.496873,1.404598,1.269506,0.128374,0.036770,0.082572,1.517828,1.478825,1.411734,1.370777,1.248898,1.694812,1.482085,1.601759,0.310400,0.395018,0.399950,0.407217,0.376997,0.416343,0.472807,0.452199,896575.770529,1.669516,1.569712,1.430263,1.256384
2,19535,15,13,5504,6,1,379351.685119,394182.092405,380051.883962,383669.693000,6.441022e+05,6.050513e+05,6.206603e+05,6.305246e+05,425385.779348,390735.673995,477455.869440,452824.941068,7.995319e+05,7.199362e+05,7.406381e+05,7.131936e+05,5.311816e+05,514741.746178,528849.435520,584501.847521,4.444025e+05,4.533300e+05,4.490554e+05,4.587347e+05,481135.648099,467669.404784,504347.660158,534499.419393,408389.856374,411947.733484,418667.721283,425802.859000,4.526367e+05,462217.497433,437940.304477,448392.639902,4.734581e+05,4.494236e+05,418926.620809,430581.209263,5.327804e+05,5.050085e+05,5.532396e+05,5.039555e+05,372961.467925,358905.871451,368792.801292,343197.621876,351288.487858,346614.584777,367534.286594,365106.171300,395824.506401,372795.281465,364901.168022,357015.483704,366199.369026,344108.407380,357488.558305,360648.191979,353573.996525,372629.817218,372188.866846,346067.307769,352544.207902,340975.820073,357840.245237,365032.664491,340403.014174,367074.762812,364907.011022,430663.184804,443047.219735,437807.348230,449192.071233,356525.559913,367834.251642,351531.865247,345980.947052,372006.603491,346639.414358,343506.774049,344139.004352,395770.275089,362373.894527,354341.864560,348833.316062,7.694880e+05,7.023719e+05,7.038244e+05,7.042924e+05,366350.126027,355423.264399,373746.643908,346259.515599,385782.679771,398177.835460,353980.985221,375073.675195,346499.904942,347187.935696,359875.650629,348482.636520,491517.764563,488667.483077,507108.442325,540245.165833,372141.609384,372940.581700,356833.167530,367306.071112,387950.807778,389893.413929,364549.242197,370680.802471,371698.484955,362778.394801,366921.505401,2015-04-01 00:00:00,2015.0,4.0,1,384450.753957,6.258759e+05,425406.875362,7.599125e+05,525183.383536,4.484123e+05,481805.125229,411859.785390,452564.435968,4.533285e+05,5.280696e+05,367349.898738,353340.697661,381276.245116,356899.979428,364062.574605,349864.975811,354738.929686,436378.788320,359185.413897,357217.578348,375431.834784,7.325240e+05,364351.509458,382847.355100,349701.636457,494032.265793,369006.057522,383397.995255,369263.939372,1.121349,0.991257,1.256291,1.180247,0.474467,0.547524,0.513141,0.537960,0.474467,0.547524,0.513141,0.537960,1.017134,1.098288,1.030530,1.117926,0.038481,-0.027951,0.005265,1.104016,1.100653,1.048581,1.093550,1.490600,1.537168,1.432849,1.338456,0.660432,0.645789,0.769271,0.718172,0.492992,0.561216,0.539981,0.544759,539818.653696,1.425456,1.301126,1.303816,1.304683
3,4286,2,4,1107,8,1,363552.396086,371786.373645,371542.067484,365204.228853,3.846639e+05,3.789517e+05,3.551879e+05,3.713978e+05,372174.532867,371370.256259,377959.226908,344581.947799,3.636668e+05,3.575831e+05,3.662552e+05,3.804336e+05,3.623015e+05,377101.596125,374928.690083,345777.748609,3.555814e+05,3.733798e+05,3.593706e+05,3.437278e+05,348458.696351,361418.841014,356877.324987,363708.386391,347006.321559,355503.249815,362869.046087,346293.036669,3.701590e+05,364079.478097,381159.200333,372244.070807,3.577503e+05,3.468749e+05,357267.574881,360481.863714,3.640142e+05,3.746361e+05,3.615733e+05,3.613898e+05,352500.819579,360067.753467,365042.438307,366226.081895,342645.597425,354832.639716,352307.065355,359455.920458,363269.670266,359591.013675,344344.468510,354723.003525,360250.317158,345659.225172,354784.560031,348455.827444,343741.405646,340965.948431,354435.861691,344756.868423,347168.240588,352981.712618,367448.528667,348360.627661,357148.732228,341539.321614,363392.327813,357710.277634,352017.439344,349392.370597,364613.475745,354758.787511,369192.306879,362695.834729,351992.917065,363458.159985,345534.083371,347244.264191,373361.707560,361219.949634,369211.761426,339421.622746,363671.547746,3.860220e+05,3.661183e+05,3.789269e+05,3.851955e+05,342007.214789,357258.291972,356989.340301,370062.787197,356362.490718,342613.535174,344531.059041,360502.099495,361967.618525,350102.820139,361564.778049,358873.998752,351903.422732,375202.743576,355570.028777,365713.608843,373184.340353,356411.077910,342327.527537,366354.742233,372030.051844,374857.163137,362254.021673,366611.785072,344896.040064,367964.677168,350629.253166,2017-07-01 00:00:00,2017.0,7.0,1,368072.537805,3.762096e+05,373191.928229,3.622141e+05,370040.910986,3.623562e+05,354649.550935,353363.680873,370576.996243,3.540179e+05,3.670124e+05,357810.157259,348854.937729,357837.851012,354172.007134,345192.799029,353612.795282,353333.061042,353964.241084,361333.748904,353880.379826,359039.814256,3.778107e+05,350420.268408,349150.298497,357923.165624,360484.664357,360736.183358,370799.971126,359673.846091,1.023716,0.998881,1.017272,0.943532,0.999685,1.039720,1.014435,0.959968,0.999685,1.039720,1.014435,0.959968,1.031352,1.032546,1.017805,0.997210,-0.037269,-0.023678,-0.030473,1.039726,1.043392,1.050581,0.950701,2.090863,1.922974,2.044202,1.950748,0.967532,0.979994,1.064111,0.927797,0.941792,1.015482,0.980511,0.948101,365027.385600,1.057515,1.002989,1.038078,1.055251
4,39621,59,30,12294,8,1,368530.936855,367450.033454,358297.870364,261365.173485,3.516819e+05,3.563508e+05,3.427291e+05,1.000000e-04,369333.246102,362348.577120,339978.978376,208515.873494,3.529416e+05,3.407400e+05,3.740230e+05,1.000000e-04,3.715968e+05,371805.672012,346038.553821,116342.812611,3.720567e+05,3.721733e+05,3.614443e+05,0.000000e+00,360704.301769,349895.912646,356684.002329,170474.620668,371742.147792,344301.439001,341897.951742,221051.112207,3.435124e+05,367394.544214,374850.519764,130453.349685,3.591551e+05,3.518709e+05,357169.386359,118192.248665,3.741143e+05,3.740058e+05,3.723961e+05,0.000000e+00,366701.437804,341515.356572,344007.441564,298024.925772,368006.140274,351434.863060,347134.243088,303673.254438,362658.342898,352570.398861,356832.173539,259099.860676,360290.430515,374205.534131,362815.278634,307338.508351,317088.842759,315429.698994,311952.092434,0.000000,397125.206959,397205.816977,397591.588992,304335.879752,340765.733849,353771.257348,367107.339874,371947.392154,348504.277899,373414.750051,0.000000,355529.888024,365505.468703,345054.031145,307312.381252,368570.993916,352613.403871,355398.279943,305910.132763,356617.054821,354871.822136,357721.787843,283382.095172,3.646341e+05,3.394730e+05,3.534946e+05,1.000000e-04,369795.684188,362517.512103,366225.088028,307163.431746,353977.028128,362770.185663,370752.400148,279362.989561,367697.116581,355284.886579,362837.587313,307784.657625,372379.393153,366920.929858,363095.667854,0.000000,363234.493746,355608.575949,351911.163051,46570.882054,295933.227625,292201.471092,195313.764710,350505.223417,347030.412041,360238.097158,292789.141379,2015-07-01 00:00:00,2015.0,7.0,2,365896.620945,3.512487e+05,360481.852502,3.535592e+05,365986.810835,3.697372e+05,356208.105519,355963.201295,358437.132107,3.562858e+05,3.736963e+05,353262.967118,357844.181828,358000.990584,365489.875747,330759.421902,379436.958941,350954.598576,364459.100268,356527.113389,360324.527463,356280.806820,3.537717e+05,366576.161013,360635.941089,362479.811188,368496.855322,358176.225437,275721.086624,351509.813790,1.002177,0.986117,0.948872,0.465504,1.044170,1.078388,0.957957,1.000000,1.044170,1.078388,0.957957,1.000000,1.004989,1.075940,1.041541,1.000000,0.459745,-0.088987,0.167796,1.030198,1.062618,0.970154,0.654039,1.991111,2.007212,2.027216,0.000000,1.050191,1.016831,0.991976,0.000000,1.010687,1.082413,1.013588,1.000000,272360.254823,1.338793,1.246412,1.297894,0.289631

In [7]:
# Starting off with 200 columns, of all cleaned up data
df1.shape

(28224, 198)

## Define Base Models

Import the base models function from the Metrics and Base Model script. <br>
This is to be able to select which features are running the best.

In [76]:
#Initialize empty lists for results
from sklearn.metrics import log_loss
model_name, train_acc, test_acc, logLoss = [], [], [], []
TN_lst, FN_lst, TP_lst, FP_lst, F1_SCORE, AUC, G_Mean = [], [], [], [], [], [], []

def run_base_models(data, cols_to_drop):
    
    # Set seed for reproducability by setting random_state to 2022. 
    
    # Get rid of the row column, and the Final IG label. 
    all_features = data.drop(axis=1, labels =cols_to_drop)
    all_targets = all_features.pop("B_PLUS_FLAG")
    train_features, test_features, train_targets, test_targets = train_test_split(all_features, all_targets, test_size=0.2, random_state=2022)
    
    # Initialize all models in a list
    models = [LogisticRegression(),
              DecisionTreeClassifier(max_depth=8),
             ]
    # Define all the model names
    model_names = ["Logistic Regression",
                   "Decision Tree",
                  ]
    # Print the data size
    print("Training Data size: {}".format(train_features.shape))
    print("Total Number of class labels in Test Set:\n", test_targets.value_counts())

    # Loop over models instead of having separate cell per model
    for name, model in zip(model_names, models):
        # Training and model accuracy
        model.random_state = 0
        print("Training Model :  {}".format(name))
        model.fit(train_features, train_targets)
        print("Done Training {}".format(name))
        test_score = model.score(test_features, test_targets) * 100
        train_score = model.score(train_features, train_targets) * 100

        # Predict Y values and see the TP, FP, et c(Using confusion matrix)
        y_pred = model.predict(test_features) # removed the predict.probabilities
        precision, recall, thresholds = metrics.precision_recall_curve(test_targets, y_pred)
        pr_auc = metrics.auc(recall, precision)
        f1score = f1_score(test_targets, y_pred)
        CM = confusion_matrix(test_targets, y_pred)
        TN, FN, TP, FP = CM[0][0], CM[1][0],  CM[1][1], CM[0][1]
        Sensitivity, Specifity = (TP / (TP + FP)) , (TN / (FP + TN))
        Gmean = np.sqrt(Sensitivity * Specifity)
        logloss = log_loss(test_targets, y_pred)
        
        # Store results
        model_name.append(name)
        train_acc.append(train_score)
        test_acc.append(test_score)
        TN_lst.append(TN)
        FN_lst.append(FN)
        TP_lst.append(TP)
        FP_lst.append(FP)
        F1_SCORE.append(f1score)
        AUC.append(pr_auc)
        G_Mean.append(Gmean)
        logLoss.append(logloss)    
        
    return None

drop_cols = ["ROW", "Final_IG", "Date"]
run_base_models(df1, drop_cols)

results_dict = {"Model Name": model_name, "Train Accuracy": train_acc, "Test Accuracy": test_acc, "TP": TP_lst, "TN": TN_lst, "FN": FN_lst, "FP": FP_lst, "F1-Score": F1_SCORE, "AUC":AUC, "G-Mean": G_Mean, "Log-Loss": logLoss}
results_df = pd.DataFrame.from_dict(results_dict)
results_df

Training Data size: (22579, 194)
Total Number of class labels in Test Set:
 1    4890
0     755
Name: B_PLUS_FLAG, dtype: int64
Training Model :  Logistic Regression
Done Training Logistic Regression
Training Model :  Decision Tree
Done Training Decision Tree

,Model Name,Train Accuracy,Test Accuracy,TP,TN,FN,FP,F1-Score,AUC,G-Mean,Log-Loss
0,Logistic Regression,86.084415,86.625332,4890,0,0,755,0.928334,0.933127,0.000000,4.619554
1,Decision Tree,87.191638,86.448184,4850,30,40,725,0.926899,0.934431,0.185924,4.680734

## Feature Selection -- Low variance threshold

We remove the features with variance less than 0.1, as variance close to 0 means it's just a constant.

In [77]:
potential_features = df1.drop(columns = ["ROW", "Final_IG", "missing_data_flag", "Date"], axis=1)

In [79]:
target = potential_features.drop(axis=1, columns=["B_PLUS_FLAG"])

In [80]:
# All the columns where the variance is below 0.1, and can be assumed as constants. 
# About 30 columns here which we can drop. 
drop = []
for col in potential_features.columns:
    if df1[col].var() < 0.1:
        drop.append(col)
drop

['Total_Leverage_Y0',
 'Total_Leverage_Y1',
 'Total_Leverage_Y2',
 'Ebitda_Margin_Y0',
 'Ebitda_Margin_Y1',
 'Ebitda_Margin_Y2',
 'Ebitda_Margin_Y3',
 'Operating_Margin_Y0',
 'Operating_Margin_Y1',
 'Operating_Margin_Y2',
 'Operating_Margin_Y3',
 'Interest_CR_Y0',
 'Interest_CR_Y1',
 'Interest_CR_Y2',
 'Interest_CR_Y3',
 'Growth_Y3_to_Y2',
 'Growth_Y2_to_Y1',
 'Average_Growth',
 'Current_Ratio_Y0',
 'Current_Ratio_Y1',
 'Current_Ratio_Y2',
 'Current_Ratio_Y3',
 'Quick_Ratio_Y0',
 'Quick_Ratio_Y1',
 'Quick_Ratio_Y2',
 'Debt_Ratio_Y0',
 'Debt_Ratio_Y1',
 'Debt_Ratio_Y2',
 'Return_Net_Sales_Y0',
 'Return_Net_Sales_Y1',
 'Return_Net_Sales_Y2',
 'Return_Net_Sales_Y3',
 'Asset_Turnover_Y0',
 'Asset_Turnover_Y1',
 'Asset_Turnover_Y2',
 'Asset_Turnover_Y3']

In [81]:
df1.head()

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
0,5662,1,5,1576,5,1,575863.911214,602838.635998,583646.469630,614602.866245,619611.510181,621095.725446,611355.907673,582433.004400,623105.791017,596800.177680,600460.033208,598408.339905,611355.411490,589592.109008,605336.777910,574789.603998,620745.952718,621004.600446,614991.732391,604478.517167,609095.636450,600147.701765,589971.619360,580405.105567,578103.988392,577109.531117,574090.626783,583030.371565,600890.935743,604975.472270,600103.052065,601804.995337,596259.219747,573227.115787,572126.125957,601814.939331,578045.252633,571339.795861,596653.190112,590035.602606,571736.508285,628719.211745,584338.549368,616858.074405,611986.404942,604922.163814,577051.576457,613092.388218,603141.577521,576650.299516,620686.247107,610847.649882,585871.251511,616877.792537,568949.503421,618110.180319,604601.169985,580153.927795,590842.797526,590664.224219,590472.808115,616986.562624,572661.424837,574363.146314,582917.058057,583420.366083,607467.206600,583658.695782,603769.043190,601041.664461,590112.115029,590316.935078,602489.197881,607756.994574,602468.604889,579949.325730,585896.605197,615126.516293,604036.179493,573565.511062,607130.118230,571946.940867,592574.187811,623675.986993,618944.803911,580343.279228,590502.807033,609912.733618,599498.344764,595156.410271,587134.042491,570091.364648,580823.373014,608524.711934,622059.106399,575870.723892,573508.493635,570519.450943,608807.689045,593269.795473,599593.828998,621562.468837,588906.640575,600112.382878,626071.057035,591870.004065,588954.395020,604537.606945,597031.247138,600893.706501,590802.111805,606861.990009,570523.662855,587502.761835,575350.400174,571025.770698,603242.309649,622846.821734,2017-10-01,2017,10,1,586584.943568,618271.670268,609304.862614,602763.503201,619553.452999,601863.209979,576880.644499,602077.362657,583218.942030,579945.197593,593531.196346,601868.362680,598209.966983,592446.376722,593394.673153,595352.641112,588540.415964,599825.044022,598249.924789,589748.905678,584394.031186,612469.435351,603162.087700,582209.444611,573894.142040,601665.067395,606933.634527,601225.731355,590447.163586,580107.059121,1.082037,0.989983,1.028808,0.973650,0.941946,1.022467,0.964168,1.056249,0.941946,1.022467,0.964168,1.056249,0.940975,0.996556,1.011429,1.002464,0.053145,-0.026010,0.013568,1.073762,1.076060,1.071245,1.036787,2.021471,2.028418,2.133469,2.078371,1.005639,0.960883,0.982178,1.027429,0.944174,1.005572,0.980661,1.046785,615305.200681,0.991236,0.974311,0.967254,0.954216
1,16369,1,5,4545,7,1,599469.364624,615373.028208,612705.047096,512031.899430,608126.531748,601435.154115,587550.520995,508218.086643,627335.355343,611300.879046,572542.268654,0.000000,604626.757034,586282.226249,624691.726730,501716.330148,596315.871786,609786.889797,620321.870767,507962.639632,577715.935070,576662.704616,582062.515093,505654.999259,616376.771099,604827.131130,599463.087501,511127.253255,584268.408156,615338.209036,617623.837767,509722.989076,599915.942888,587706.105861,595274.082521,0.000000,575278.320599,612795.138987,582300.999226,484085.796269,586176.759045,596042.804332,591066.860115,506405.585995,599885.309188,601973.826113,576342.388644,0.000100,612396.980939,571906.704700,577600.492683,511973.808386,608239.368101,580375.372271,607292.591803,511385.032364,576727.633238,592407.347051,571806.694543,0.000000,623527.400755,627610.773225,591365.359100,0.000000,625385.094320,627447.879790,574797.783549,0.000000,599583.772148,599373.028704,578394.144402,584262.286957,617559.499371,627464.217041,502429.937240,622519.607329,612844.491772,616717.098074,429128.123405,585261.894944,606387.285367,597933.663213,431121.647066,584319.594719,582119.776636,604537.048901,512159.166941,600468.027347,619654.468553,577905.225922,503972.467851,593683.929674,577347.564682,625997.193308,511309.169231,599331.009039,594731.372664,579472.873802,512615.646688,612946.959500,624619.791483,581883.305291,0.000000,576159.542727,576880.406059,572899.682067,0.000000,603346.339606,621227.589036,594596.565749,0.000000,519458.368851,516025.713746,0.000000,615104.995291,615953.218376,589034.257388,0.000000,2015-10-01,2015,10,2,607711.848590,601323.625703,609814.288424,602970.795594,606140.877563,578330.764924,608768.294754,602037.326141,594814.472686,589344.521979,590552.129934,595349.721375,591167.669247,598740.974758,580860.662576,617741.404544,614831.064861,594804.718168,604961.786669,618005.122309,595119.640256,588079.089621,601849.551877,595419.199929,593384.877972,609934.869226,575675.417024,607362.361892,245446.846183,609594.239007,1.046484,0.993383,0.934450,0.000000,0.991470,1.049619,0.980812,1.000000,0.991470,1.049619,0.980812,1.000000,0.999307,1.022259,1.063092,1.000000,0.109029,-0.061486,0.089424,0.967454,1.008200,1.034796,0.755764,1.992372,2.051120,1.953277,0.000000,1.031587,1.016404,0.974456,0.000000,0.998337,0.993091,1.060217,1.000000,456606.158088,1.290547,1.197810,1.145666,0.836537
2,2326,0,12,648,8,1,613829.072017,575020.270272,583630.783425,595256.346525,608391.483917,611859.108037,607825.470188,592953.319963,585464.960100,571781.269380,585642.496712,593575.189122,608591.366569,578175.200440,602523.843620,605501.836474,618999.144319,614118.293569,592205.828625,593381.268052,578343.317529,575530.917780,590556.467199,595629.061840,603655.551037,574183.093293,597137.973102,596570.797275,605298.293603,598985.457637,602326.489701,610354.711853,577735.145730,585264.369252,606035.133972,602171.607357,585900.805747,615469.219089,596268.755476,593105.042889,585225.732357,578698.596685,596554.351526,605586.733909,603652.451410,581459.745306,601344.886075,593198.683962,610421.314919,603672.946408,605549.257292,593524.563900,615972.913531,613239.841602,605608.239471,598412.906837,614134.979471,627189.858095,602409.648339,609889.587867,583797.304612,577370.591526,603376.296391,583599.496940,623541.230342,590535.903820,593365.903329,597178.040212,599099.056296,612901.104547,610247.080716,592856.378966,625945.382643,599792.118839,597846.757742,599586.156088,582896.044376,602449.051592,597555.125196,572606.634235,592740.514085,588749.676585,578747.562998,628443.444334,627082.417223,595729.318682,590591.700782,618384.136760,577029.978273,598628.646309,608488.810564,587195.266426,580755.669521,590307.264515,606490.472344,613853.875298,596322.141176,603864.112575,589676.249565,614104.443488,613654.106652,607925.829319,605947.164069,605642.248232,601107.708861,601789.514352,607969.103093,618703.592690,619380.184641,604289.385018,602603.459609,586607.548841,584847.736742,591202.400750,580199.620976,605016.760749,602657.906443,604866.850556,2015-04-01,2015,4,3,594182.073970,609421.577795,580943.182441,597104.306093,611418.123915,580119.884206,592383.047804,602533.614080,586533.773180,598060.932356,585567.491393,595742.090412,607089.179276,612758.628653,615880.976539,586005.953978,605833.826610,606177.077806,605427.322386,594658.984518,582905.270263,620719.962930,600209.308275,585740.289255,605790.016652,612581.305839,603274.572024,615725.966080,587042.023010,593462.731004,0.953792,0.994367,1.003447,0.997176,1.008606,0.994543,0.968643,0.983079,1.008606,0.994543,0.968643,0.983079,1.016858,0.988925,0.970543,1.003469,-0.004918,-0.040411,-0.022665,1.025418,1.069551,0.991740,0.994654,1.978453,2.122443,2.027310,2.029623,0.962316,0.934498,0.963504,1.001049,0.992634,0.996517,0.974946,0.978254,604676.133641,1.022670,0.954279,0.989999,1.006305
3,38131,0,19,13395,5,1,585059.299344,581915.869330,594033.887481,609965.034011,591791.219692,598332.776102,589877.849288,622230.836194,584513.060799,626767.691011,625743.779183,573802.856646,615999.168162,588623.823558,600443.812695,633589.116171,582358.584899,612497.219818,606794.985460,589340.181176,621919.270235,607400.754064,581688.692973,633939.157288,620046.519867,607197.874782,589234.421690,615945.241601,624582.882164,571604.744174,618284.670890,582971.670808,601679.290137,631531.820709,582070.488802,578291.242057,609409.181664,627146.534773,579538.437216,623483.022643,606435.590692,597736.992046,626159.684774,574211.349128,569227.108284,578222.485479,627954.601109,616994.119250,619543.967706,618202.883312,628277.301473,603404.442362,610683.455442,626679.453601,611347.146807,599683.366810,596054.212034,621062.132904,579501.505805,592501.700490,575626.390128,610802.061343,569159.760007,621795.529225,627037.437178,591909.025138,615052.716422,585048.876231,599367.108922,620462.545377,610693.259783,596121.697084,608036.381542,616019.469361,616448.299548,584225.743532,603300.608401,584569.410981,585972.889822,602652.271667,607664.571382,619663.283070,615897.170961,600047.184269,578475.431636,604161.492068,625933.459267,592635.899148,605067.869041,598361.483763,603347.820896,583240.465017,621924.452782,586696.569372,617082.133276,573787.307640,607639.336175,596952.206249,572199.964331,568608.114496,608155.293540,582152.854829,569070.296103,582067.967917,574781.431984,589652.582411,608081.966820,581638.119480,613180.540495,585288.491695,576526.161339,604725.209898,579187.232468,628406.498679,587097.755174,615814.454998,599338.620711,588454.089187,2017-07-01,2017,7,1,586005.842259,593546.545072,607760.319399,603417.307635,597835.107774,608139.636564,608916.505244,605523.900329,607272.622253,608683.689490,607919.189828,585276.121310,621037.680412,616162.941798,600711.806495,585914.584951,612664.695219,608915.843487,604514.985743,590660.402366,608103.262995,593770.890680,598052.241249,596903.150795,590219.072398,584800.449807,581324.592493,592963.453644,601475.059373,599390.180790,0.999066,1.077076,1.053381,0.940714,0.949773,0.988604,0.989325,0.962714,0.949773,0.988604,0.989325,0.962714,1.027813,1.006387,0.945982,0.988608,-0.052314,-0.019685,-0.035999,0.939218,1.008728,1.029802,0.956806,1.863902,2.015768,2.005130,1.879265,0.987701,1.047524,1.060802,0.922170,0.987215,0.961737,0.992768,1.010967,597747.742838,0.991448,1.012246,1.001027,1.009369
4,36605,0,19,12998,6,1,605966.227164,593540.797737,575448.556931,512031.899430,582546.955793,614212.207680,578068.515601,508218.086643,590177.329836,570997.852457,625971.749956,0.000000,607879.645878,628042.392612,592671.553802,501716.330148,624481.204725,620443.236288,584608.020724,507962.639632,581316.994347,618157.473873,612201.478244,505654.999259,594651.641147,588273.242403,628893.487075,511127.253255,619814.409081,612323.296890,579970.364292,509722.989076,604318.176057,582539.670630,608157.980979,0.000000,599764.180894,621380.436335,617897.984246,484085.796269,600254.713521,602796.821976,616710.718806,506405.585995,599030.420526,610132.517699,587946.887611,0.000100,587964.127888,597855.711865,602364.202307,511973.808386,587331.672092,626392.228623,577227.025844,511385.032364,579706.987774,599713.713177,574751.041997,0.000000,592648.180887,603115.329420,604955.203982,0.000000,574529.317966,616421.542445,601224.106656,0.000000,609647.879264,583281.325868,571425.106318,603957.579631,572002.523205,585445.757146,502429.937240,627957.167678,600026.249724,625000.416886,429128.123405,599551.537646,587957.236129,606144.949063,431121.647066,570361.838213,617325.963529,596985.846302,512159.166941,602279.589211,614291.123282,593478.134971,503972.467851,592417.646739,613810.092740,583245.681028,511309.169231,599057.069965,599379.654659,591842.067442,512615.646688,607542.555339,587340.099931,606914.277891,0.000000,601244.861338,611322.361302,615444.982411,0.000000,571756.113932,575840.218046,574663.116947,0.000000,609213.829112,516025.713746,0.000000,583548.648126,533713.533931,526850.253120,0.000000,2015-07-01,2015,7,3,595042.712859,592106.830824,591738.486292,611220.985439,614274.507690,600460.372833,600134.807327,608463.139509,597911.964231,610999.333453,604758.973069,600268.112269,594461.339084,598106.380658,585274.574958,598872.124419,594425.568057,592365.078589,589192.155826,617989.805962,597151.973011,591932.992893,604327.555181,597510.247470,597561.264302,600668.786326,607759.610453,573763.482640,270761.701828,556399.554843,0.973944,0.962020,1.087798,0.000000,0.996852,0.945065,0.970940,1.000000,0.996852,0.945065,0.970940,1.000000,1.011578,0.972806,0.978742,1.000000,0.109029,0.059680,0.089424,1.050163,1.054685,0.929582,0.755764,2.003007,1.751762,1.712997,0.000000,1.013098,0.929643,1.082868,0.000000,1.006121,0.966221,0.969620,1.000000,457383.115434,1.290547,1.197810,1.145666,0.836537

In [82]:
# Empty out all results from before
model_name, train_acc, test_acc, logLoss = [], [], [], []
TN_lst, FN_lst, TP_lst, FP_lst, F1_SCORE, AUC, G_Mean = [], [], [], [], [], [], []
results_dict, results_df = {}, 0

# Drop cols which are irrelevent 
drop_cols = ["ROW", "Final_IG", "Date"]

# Drop cols which have variance less than 0.1
drop = drop + drop_cols 

# Run base models again on the 158 cols now. 
run_base_models(df1, drop)

#results_dict, results_df = {}, 0
results_dict = {"Model Name": model_name, "Train Accuracy": train_acc, "Test Accuracy": test_acc, "TP": TP_lst, "TN": TN_lst, "FN": FN_lst, "FP": FP_lst, "F1-Score": F1_SCORE, "AUC":AUC, "G-Mean": G_Mean, "Log-Loss": logLoss}
results_df = pd.DataFrame.from_dict(results_dict)
results_df

Training Data size: (22579, 158)
Total Number of class labels in Test Set:
 1    4890
0     755
Name: B_PLUS_FLAG, dtype: int64
Training Model :  Logistic Regression
Done Training Logistic Regression
Training Model :  Decision Tree
Done Training Decision Tree

,Model Name,Train Accuracy,Test Accuracy,TP,TN,FN,FP,F1-Score,AUC,G-Mean,Log-Loss
0,Logistic Regression,86.084415,86.625332,4890,0,0,755,0.928334,0.933127,0.000000,4.619554
1,Decision Tree,87.191638,86.483614,4851,31,39,724,0.927090,0.934534,0.189017,4.668497

## Feature Selection -- Pearsons Correlation

Find out which features are highly co-related, and thus only 1 of the 2 (or more) is actually needed.

In [97]:
df1.corr().head(10)

,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
ROW,1.000000,0.074946,0.008074,0.988643,-0.001095,0.037711,-0.027434,-0.038098,-0.056515,-0.125950,-0.037016,-0.034314,-0.057865,-0.122070,-0.039176,-0.045855,-0.061701,-0.133395,-0.040859,-0.041939,-0.061517,-0.131983,-0.043193,-0.058643,-0.069855,-0.131589,-0.035538,-0.036755,-0.050988,-0.122539,-0.039605,-0.040593,-0.049597,-0.121164,-0.024250,-0.033966,-0.060109,-0.128875,-0.053522,-0.053034,-0.067138,-0.134369,-0.048247,-0.048115,-0.058749,-0.131929,-0.042875,-0.043874,-0.062700,-0.125945,-0.025939,-0.031648,-0.056105,-0.133605,-0.033689,-0.040044,-0.051386,-0.120476,-0.034100,-0.039448,-0.056040,-0.126436,-0.029615,-0.045681,-0.066800,-0.133046,-0.035169,-0.035504,-0.073972,-0.122847,-0.007077,-0.015687,-0.032452,-0.075759,-0.045425,-0.052602,-0.068723,-0.039451,-0.049853,-0.064411,-0.133634,-0.012143,-0.013806,-0.051097,-0.126467,-0.014196,-0.017273,-0.047896,-0.127554,-0.015518,-0.022672,-0.045325,-0.123232,-0.038693,-0.043949,-0.064209,-0.127692,-0.022704,-0.028194,-0.061608,-0.121101,-0.013755,-0.034743,-0.056057,-0.117443,-0.041595,-0.033451,-0.058443,-0.132751,-0.045897,-0.054283,-0.063786,-0.135683,-0.038137,-0.057819,-0.069823,-0.135520,-0.048189,-0.075574,-0.081087,-0.036028,-0.047489,-0.063338,-0.134689,0.228802,-0.018586,0.017312,-0.057629,-0.053729,-0.061288,-0.059705,-0.065603,-0.052283,-0.058487,-0.053278,-0.066802,-0.062016,-0.059526,-0.051391,-0.059031,-0.061889,-0.064434,-0.069099,0.022149,-0.070940,-0.065016,-0.048813,-0.047661,-0.047974,-0.059468,-0.053701,-0.053607,-0.062687,-0.064989,-0.067627,-0.081875,-0.066109,-0.023097,-0.028370,-0.051538,-0.128449,0.018330,0.012277,0.018045,0.035051,0.018330,0.012277,0.018045,0.035051,0.000027,-0.004117,-0.004983,-0.010925,0.084921,0.032662,0.109818,-0.018989,-0.036000,-0.062882,-0.131334,-0.019814,-0.027772,-0.061323,-0.133345,-0.010033,-0.025154,-0.047232,-0.131693,0.015240,0.013417,0.021001,0.023627,-0.118170,0.124202,0.108796,0.048763,-0.090764
Corp_Residence_Country_Code,0.074946,1.000000,-0.440906,0.073454,-0.001220,-0.021610,-0.052776,-0.055178,-0.088107,-0.122566,-0.083479,-0.087894,-0.099085,-0.124076,-0.086748,-0.090775,-0.108507,-0.135181,-0.116035,-0.115899,-0.117891,-0.133403,-0.091419,-0.102651,-0.110226,-0.139309,-0.075895,-0.082882,-0.103878,-0.123071,-0.057482,-0.080655,-0.089901,-0.123073,-0.060073,-0.072122,-0.095327,-0.126750,-0.096715,-0.103973,-0.115617,-0.138673,-0.088500,-0.096801,-0.115692,-0.131914,-0.089545,-0.093765,-0.115866,-0.135613,-0.070472,-0.080402,-0.100556,-0.136172,-0.030279,-0.061019,-0.085286,-0.114784,-0.054992,-0.069684,-0.088080,-0.121042,-0.055165,-0.075312,-0.094862,-0.133996,-0.105466,-0.110760,-0.121511,-0.132109,-0.036093,-0.055439,-0.073399,-0.098812,-0.064351,-0.083972,-0.102850,-0.064455,-0.084229,-0.098717,-0.133041,-0.016503,-0.034619,-0.067218,-0.117691,-0.031609,-0.032682,-0.069092,-0.117039,-0.043167,-0.048804,-0.080115,-0.117578,-0.106510,-0.117162,-0.115338,-0.138999,-0.047667,-0.056192,-0.087496,-0.118780,-0.045127,-0.061321,-0.080407,-0.114672,-0.058266,-0.079009,-0.102963,-0.134684,-0.089990,-0.098406,-0.104599,-0.136778,-0.077035,-0.093140,-0.103314,-0.136459,-0.114578,-0.126157,-0.142719,-0.070984,-0.083481,-0.111157,-0.139861,0.069869,0.006549,0.071762,-0.091415,-0.114927,-0.115689,-0.139109,-0.122367,-0.108935,-0.102181,-0.098001,-0.121453,-0.119715,-0.120305,-0.105078,-0.081698,-0.098547,-0.091205,-0.130478,-0.010534,-0.101555,-0.101912,-0.065744,-0.071582,-0.086925,-0.132038,-0.088290,-0.092248,-0.101524,-0.115005,-0.109064,-0.147404,-0.105558,-0.057855,-0.073046,-0.092589,-0.125712,0.068312,0.071661,0.058005,0.047068,0.068312,0.071661,0.058005,0.047068,0.016763,0.024878,0.008381,-0.000691,0.043527,0.032268,0.077207,-0.059877,-0.063247,-0.093110,-0.130649,-0.038755,-0.049813,-0.094283,-0.135735,-0.019708,-0.036480,-0.076749,-0.129018,0.057726,0.072532,0.053665,0.056500,-0.144453,0.116119,0.087127,0.022970,-0.063092
BR Code,0.008074,-0.440906,1.000000,0.001850,-0.001686,-0.003633,0.037211,0.033055,0.055098,0.044318,0.107659,0.096519,0.088023,0.067505,0.064434,0.062981,0.062336,0.048780,0.077739,0.076550,0.072366,0.052984,0.068786,0.065120,0.061665,0.058087,0.110939,0.108562,0.097969,0.066636,0.046304,0.050561,0.057135,0.046816,0.059082,0.058895,0.062716,0.056252,0.083834,0.078064,0.080884,0.053069,0.088319,0.077252,0.081270,0.062703,0.095346,0.093120,0.093290,0.067741,0.034745,0.031993,0.045536,0.046918,0.011252,0.017726,0.038128,0.035003,0.025903,0.036316,0.048247,0.041387,0.009560,0.025647,0.036590,0.043800,0.069545,0.063331,0.044503,0.039230,0.047537,0.054019,0.057618,0.064409,0.018834,0.023007,0.040609,0.071921,0.076101,0.070576,0.062877,0.019770,0.027654,0.035539,0.039477,0.027887,0.025305,0.041292,0.041107,0.013200,0.016450,0.035772,0.041249,0.080334,0.072137,0.072538,0.054829,0.014082,0.022420,0.035051,0.043304,0.021519,0.025629,0.033821,0.039675,0.029000,0.038435,0.040824,0.046411,0.046916,0.042424,0.054166,0.045805,0.041821,0.042724,0.058266,0.049941,0.041985,0.040992,0.059745,0.027460,0.035261,0.057138,0.050659,-0.044263,0.002083,-0.014799,0.055527,0.104222,0.074764,0.082114,0.075444,0.111367,0.062769,0.073481,0.088714,0.090086,0.102177,0.049525,0.034206,0.049802,0.033979,0.049987,0.054820,0.037749,0.082059,0.039565,0.044384,0.037309,0.078337,0.036998,0.042809,0.048140,0.059396,0.057707,0.054072,0.048361,0.034428,0.039293,0.040014,0.044294,-0.041513,-0.047430,-0.033945,-0.029346,-0.041513,-0.047430,-0.033945,-0.029346,-0.000036,-0.000592,0.015343,0.010365,-0.005160,-0.019955,-0.025033,0.031743,0.028576,0.038572,0.047030,-0.001880,0.007949,0.028861,0.046676,-0.029643,-0.016833,0.011590,0.041292,-0.043787,-0.043870,-0.032729,-0.029964,0.060575,-0.038351,-0.032470,0.004336,0.013980
CUSTOMER_ID,0.988643,0.073454,0.001850,1.000000,-0.003393,0.039042,-0.022193,-0.033278,-0.055366,-0.125149,-0.029692,-0.028211,-0.055302,-0.121127,-0.034404,-0.041694,-0.060806,-0.131448,-0.026241,-0.028343,-0.052928,-0.126537,-0.031803,-0.050249,-0.066086,-0.128108,-0.030299,-0.031070,-0.049682,-0.121351,-0.030788,-0.034195,-0.048047,-0.119898,-0.019812,-0.029905,-0.059495,-0.127588,-0.046427,-0.045531,-0.064170,-0.132099,-0.039370,-0.041719,-0.055862,-0.129677,-0.035988,-0.037806,-0.059592,-0.124456,-0.020897,-0.026595,-0.055157,-0.131390,-0.028848,-0.037295,-0.051503,-0.119149,-0.028856,-0.034141,-0.054912,-0.125619,-0.024630,-0.040195,-0.065668,-0.130560,-0.048715,-0.048566,-0.075890,-0.123172,-0.009034,-0.018450,-0.037177,-0.081313,-0.042244,-0.050768,-0.068997,-0.033426,-0.043520,-0.061644,-0.131779,-0.007934,-0.009730,-0.049743,-0.125172,-0.007892,-0.013907,-0.046971,-0.125931,-0.011485,-0.018976,-0.047625,-0.123520,-0.023332,-0.030948,-0.056833,-0.122314,-0.020459,-0.025663,-0.062033,-0.119602,-0.009649,-0.030781,-0.056108,-0.116365,-0.035940,-0.029120,-0.058305,-0.130676,-0.037727,-0.046823,-0.060832,-0.133022,-0.033167,-0.051228,-0.067592,-0.133317,-0.053633,-0.078705,-0.085183,-0.029541,-0.042099,-0.061587,-0.132216,0.213521,-0.016563,0.020248,-0.055853,-0.050751,-0.060857,-0.049012,-0.059914,-0.050694,-0.055142,-0.052838,-0.063429,-0.057995,-0.056681,-0.049903,-0.058284,-0.059893,-0.062282,-0.073362,0.010653,-0.069783,-0.062203,-0.047802,-0.045898,-0.048577,-0.049573,-0.054050,-0.053309,-0.060943,-0.060844,-0.065257,-0.087591,-0.063723,-0.021117,-0.027226,-0.053027,-0.127552,0.008763,0.002639,0.007706,0.025659,0.008763,0.002639,0.007706,0.025659,0.000118,-0.004515,-0.004470,-0.012546,0.083642,0.034138,0.109776,-0.014312,-0.032520,-0.062629,-0.129693,-0.019656,-0.026939,-0.062444,-0.131578,-0.010461,-0.025690,-0.050185,-0.130340,0.005183,0.004467,0.012411,0.014254,-0.116010,0.124614,0.108806,0.045057,-0.092667
Final_IG,-0.001095,-0.001220,-0.001686,-0.003393,1.000000,-0.675669,-0.023831,-0.021703,-0.051304,-0.054362,0.006893,-0.003897,-0.037378,-0.055073,0.066227,0.033820,-0.020449,-0.055943,-0.001172,-0.013587,-0.044572,-0.058597,0.005705,-0.008283,-0.043175,-0.048564,0.002823,-0.013638,-0.039639,-0.058115,0.035895,0.016989,-0.031182,-0.046868,0.034171,0.010059,-0.026824,-0.047794,-0.047344,-0.043993,-0.064331,-0.063469,-0.030556,-0.041573,-0.062044,-0.065919,-0.001964,-0.010442,-0.036537,-0.047451,0.014115,-0.002092,-0.039298,-0.059917,0.008764,-0.004069,-0.051552,-0.057356,-0.018457,-0.022420,-0.047573,-0.062561,-0.002064,-0.018929,-0.048129,-0.064547,-0.026548,-0.034737,-0.034935,-0.042002,-0.026373,-0.041151,-0.063782,-0.079958,0.010655,-0.002233,-0.038725,-0.049205,-0.045895,-0.059319,-0.065021,-0.041120,-0.054762,-0.064915,-0.066215,-0.068807,-0.054933,-0.067910,-0.067543,-0.042791,-0.037349,-0.055359,-0.068285,0.002433,-0.011812,-0.042588,-0.052547,-0.001696,-0.013876,-0.053152,-0.059376,-0.020026,-0.031847,-0.051122,-0.066230,0.006996,-0.003623,-0.043143,-0.060749,0.010913,-0.007347,-0.044475,-0.062227,-0.066942,-0.069472,-0.075252,-0.064665,0.147984,0.120985,0.078582,0.003942,-0.017670,-0.048869,-0.063231,0.057414,-0.000843,0.001817,-0.058146,-0.036510,-0.000226,-0.047228,-0.039670,-0.041067,-0.013907,-0.017065,-0.081057,-0.072489,-0.042822,-0.034696,-0.041850,-0.055864,-0.049702,-0.024127,-0.059475,-0.039830,-0.076789,-0.074251,-0.086520,-0.075007,-0.044705,-0.049294,-0.060474,-0.042184,-0.039248,-0.097128,0.133923,-0.051317,0.074573,0.034054,-0.016174,-0.050317,-0.012467,-0.002487,0.000835,0.017553,-0.012467,-0.002487,0.000835,0.017553,-0.027984,-0.016966,-0.016093,0.002032,0.020735,0.032189,0.050503,-0.014563,-0.028537,-0.049203,-0.056531,-0.018123,-0.034522,-0.056127,-0.063673,0.051198,0.018534,-0.027772,-0.054200,-0.017501,-0.004662,-0.000696,0.007353,-0.059285,0.057015,0.027148,-0.029511,-0.063897
B_PLUS_FLAG,0.037711,-0.021610,-0.003633,0.039042,-0.675669,1.000000,0.009162,0.014036,0.035216,0.030597,-0.024258,-0.017752,0.021370,0.023582,-0.057048,-0.037247,0.009366,0.030697,-0.011453,-0.004784,0.029924,0.029497,-0.018729,-0.016062,0.028518,0.022027,-0.028981,-0.014845,0.018452,0.029060,-0.036793,-0.017642,0.017636,0.026051,-0.032956,-0.014678,0.014107,0.023883,0.016768,0.011663,0.037468,0.033645,0.004916,0.011742,0.037974,0.032813,-0.020285,-0.010955,0.014091,0.023496,-0.011743,-0.003600,0.024416,0.032566,-0.009528,-0.007505,0.040650,0.030222,0.016325,0.014583,0.032433,0.034624,-0.000111,0.002772,0.031881,0.036697,-0.005526,0.004380,0.020593,0.017245,0.008313,0.016964,0.036938,0.043224,-0.016602,-0.004798,0.031078,0.021969,0.016611,0.033883,0.035518,0.015861,0.025276,0.042781,0.036446,0.033184,0.022505,0.042972,0.034861,0.032889,0.031806,0.041702,0.039365,-0.011919,-0.000038,0.025719,0.024735,0.005039,0.002133,0.039322,0.032945,0.013593,0.013871,0.034841,0.037726,-0.011939,-0.002563,0.033028,0.032739,-0.017672,-0.004360,0.028012,0.034408,0.036214,0.040730,0.048740,0.036555,-0.087714,-0.071971,-0.041382,-0.012800,0.000792,0.027355,0.034201,-0.002854,-0.012602,-0.000473,0.040998,0.016778,-0.004549,0.030531,0.022494,0.012704,0.008044,0.008126,0.046768,0.040823,0.017053,0.025694,0.029927,0.045569,0.033870,0.004037,0.030037,0.023373,0.045432,0.047046,0.053983,0.060488,0.030269,0.036673,0.043256,0.028870,0.023946,0.063296,-0.076413,0.029175,-0.056869,-0.034148,0.010306,0.026555,0.015338,0.015076,-0.000188,-0.002002,0.015338,0.015076,-0.000188,-0.002002,0.015386,0.015755,0.013306,-0.006256,0.000173,-0.030023,-0.028273,0.005805,0.004761,0.039044,0.028502,0.012816,0.018651,0.041380,0.033854,-0.029074,-0.008128,0.021818,0.031255,0.016161,0.010423,0.005153,0.003197,0.034272,-0.032628,-0.010471,0.033312,0.039628
EBITDA_Y0,-0.027434,-0.052776,0.037211,-0.022193,-0.023831,0.009162,1.000000,0.218607,0.152968,0.078369,0.218248,0.201317,0.154380,0.082630,0.217591,0.196089,0.145910,0.071703,0.268152,0.231580,0.169702,0.092717,0.242943,0.221220,0.158607,0.091754,0.211637,0.195840,0.150288,0.082678,0.202742,0.189867,0.138489,0.076705,0.199471,0.186840,0.136870,0.080118,0.235445,0.214249,0.149538,0.071850,0.231802,0.212789,0.151350,0.083043,0.244061,0.223956,0.162981,0.090349,0.188017,0.157154,0.115518,0.070231,0.166524,0.146393,0.112451,0.065444,0.267602,0.215855,0.147277,0.082784,0.157695,0.146976,0.105877,0.068509,0.111384,0.107937,0.101210,0.063818,0.101626,0.092907,0.075683,0.044602,0.129591,0.126564,0.090361,0.207914,0.181874,0.132231,0.081128,0.156846,0.139287,0.101458,0.069409,0.160983,0.130808,0.101287,0.068647,0.213408,0.170778,0.131833,0.071047,0.263369,0.229923,0.169961,0.094257,0.165362,0.148186,0.106682,0.061775,0.240027,0.206297,0.140593,0.072052,0.154859,0.134834,0.105825,0.067745,0.211097,0.186730,0.130844,0.072451,0.209028,0.191318,0.139417,0.071129,0.122876,0.123889,0.097094,0.179205,0.162022,0.115266,0.071380,-0.029890,0.007548,-0.060853,0.491570,0.154819,0.153350,0.175791,0.168688,0.152216,0.149268,0.147724,0.157824,0.160399,0.171184,0.126461,0.115699,0.167449,0.107931,0.124138,0.019156,0.093141,0.145351,0.107602,0.107183,0.141880,0.174892,0.108612,0.160299,0.105065,0.137277,0.145401,0.115392,0.121414,-0.423628,0.103278,0.095357,0.063899,0.460672,-0.056760,-0.051463,-0.045928,0.460672,-0.056760,-0.051463,-0.045928,0.623349,0.053682,0.047081,0.022634,0.035344,0.014221,0.048025,0.134976,0.129430,0.103854,0.068634,0.071352,0.067244,0.064342,0.063391,0.072716,0.077994,0.072967,0.065737,0.482920,-0.052440,-0.051240,-0.048139,0.115287,-0.025162,-0.030362,-0.037078,-0.084821
EBITDA_Y1,-0.038098,-0.055178,0.033055,-0.033278,-0.021703,0.014036,0.218607,1.000000,0.306252,0.208201,0.190369,0.379404,0.291730,0.203938,0.200062,0.388742,0.296323,0.203885,0.251113,0.415790,0.306504,0.217971,0.219849,0.406610,0.300582,0.211516,0.195166,0.370076,0.284208,0.204594,0.183544,0.385561,0.280797,0.200553,0.186033,0.386580,0.282871,0.202419,0.206273,0.397315,0.290479,0.202332,0.203829,0.390839,0.293079,0.208532,0.208333,0.400128,0.302537,0.213045,0.182087,0.361328,0.265097,0.201979,0.162231,0.361849,0.258464,0.185352,0.222752,0.433044,0.303141,0.209765,0.164337,0.350403,0.261215,0.202202,0.100807,0.222709,0.212734,0.158481,0.104204,0.255147,0.211605,0.147766,0.150494,0.293539,0.228138,0.186163,0.373204,0.286719,0.203339,0.144653,0.337282,0.254307,0.198951,0.142790,0.336123,0.251901,0.197290,0.163425,0.397477,0.291373,0.200361,0.232050,0.414602,0.313525,0.217934,0.159884,0.356279,0.253872,0.189528,0.189636,0.414314,0.295350,0.204844,0.163766,0.344466,0.256646,0.201084,0.211606,0.391600,0.280134,0.204077,0.200478,0.379811,0.285372,0.203250,0.117544,0.256690,0.210999,0.186385,0.363668,0.266399,0.202538,0.035995,-0.005706,-0.166840,0.529598,0.290728,0.294515,0.310279,0.305211,0.285658,0.291015,0.290734,0.293546,0.292869,0.303747,0.277042,0.262955,0.315530,0.259398,0.252761,0.052062,0.230282,0.287175,0.256802,0.255060,0.289696,0.309366,0.258264,0.302480,0.259587,0.290831,0.284378,0.241430,0.273601,0.094910,-0.125126,0.243879,0.192794,-0.075564,0.390841,-0.058640,-0.059748,-0.075564,0.390841,-0.058640,-0.059748,0.030177,0.555184,0.056327,0.031139,0.043214,0.047380,0.082059,0.123677,0.309880,0.250473,0.195163,0.089777,0.259485,0.216977,0.196833,0.074556,0.270258,0.227929,0.196762,-0.052985,0.400217,-0.068062,-0.058043,0.278261,-0.171232,0.122917,0.090867,0.036394

In [86]:
# Create correlation matrix
corr_matrix = df1.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.85
to_drop = [column for column in upper.columns if any(upper[column] > 0.85)]

# find out the features which are highly co-related
print(len(to_drop))
to_drop

48

['CUSTOMER_ID',
 'TOTALASSET_Y3',
 'TOTALDEBT_Y3',
 'TOTALREVENUE_Y3',
 'CURRENTASSET_Y3',
 'FIXEDASSET_Y3',
 'CURRENTLIABILITY_Y3',
 'NONCURRLIA_Y3',
 'TOTALEQUITY_Y3',
 'TOTALNETWORTH_Y3',
 'CAPITALIZATION_Y3',
 'TOTINTEXP_Y3',
 'LEASERENTEXP_Y3',
 'EBITDAR_Y3',
 'receivabledays_Y3',
 'tangibleNetWorth_Y3',
 'FIXEDCHARGECOV_Y3',
 'DEBTSERVCOV_Y3',
 'NETPROFIT_Y3',
 'NETSALES_Y3',
 'ASSETTURNOVER_Y3',
 'OPERPROFIT_Y3',
 'ARTurnover_Y3',
 'Inventory_Y3',
 'RETAINED_EARNINGS_Y3',
 'CCE_Y3',
 'TOTALASSET_3YearAverage',
 'TOTALREVENUE_3YearAverage',
 'FIXEDASSET_3YearAverage',
 'CAPITALIZATION_3YearAverage',
 'INVENTORYDAYS_3YearAverage',
 'payableDAYS_3YearAverage',
 'Capex2Dep_3YearAverage',
 'NETSALES_3YearAverage',
 'FCF_3YearAverage',
 'Total_Leverage_Y2',
 'Total_Leverage_Y3',
 'Operating_Margin_Y0',
 'Operating_Margin_Y1',
 'Operating_Margin_Y2',
 'Operating_Margin_Y3',
 'Current_Ratio_Y2',
 'Current_Ratio_Y3',
 'Quick_Ratio_Y3',
 'Debt_Ratio_Y2',
 'Debt_Ratio_Y3',
 'Average_Total_Assets',
 'Asset_Turnover_Y0']

In [89]:
# Empty out all results from before
model_name, train_acc, test_acc, logLoss = [], [], [], []
TN_lst, FN_lst, TP_lst, FP_lst, F1_SCORE, AUC, G_Mean = [], [], [], [], [], [], []
results_dict, results_df = {}, 0

# Drop cols which are irrelevent 
drop_cols = ["ROW", "Final_IG", "Date"]

# Drop cols which are highly co-related & removing the ones with variance below 
new_drop = to_drop + drop_cols

# Run base models again on the 146 columns now
run_base_models(df1, new_drop)

#results_dict, results_df = {}, 0
results_dict = {"Model Name": model_name, "Train Accuracy": train_acc, "Test Accuracy": test_acc, "TP": TP_lst, "TN": TN_lst, "FN": FN_lst, "FP": FP_lst, "F1-Score": F1_SCORE, "AUC":AUC, "G-Mean": G_Mean, "Log-Loss": logLoss}
results_df = pd.DataFrame.from_dict(results_dict)
results_df

Training Data size: (22579, 146)
Total Number of class labels in Test Set:
 1    4890
0     755
Name: B_PLUS_FLAG, dtype: int64
Training Model :  Logistic Regression
Done Training Logistic Regression
Training Model :  Decision Tree
Done Training Decision Tree

,Model Name,Train Accuracy,Test Accuracy,TP,TN,FN,FP,F1-Score,AUC,G-Mean,Log-Loss
0,Logistic Regression,86.133133,86.713906,4888,7,2,748,0.928748,0.933614,0.089672,4.588960
1,Decision Tree,87.196067,86.448184,4853,27,37,728,0.926941,0.934273,0.176343,4.680734

As we can see, the G-Mean has increased and log loss decreased very slightly. <br>
This would indicate that in this sepcific case, using pearsons co-relation is better than the variance threshold method

## Univariate Selection - Chi-Squared, F_Classification, Mutual Information

In [93]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import mutual_info_classif 
from sklearn.feature_selection import mutual_info_regression 
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import SelectPercentile


class UnivariateFeatureSelction:
    def __init__(self, n_features, problem_type, scoring):
        """
        Custom univariate feature selection wrapper on
        different univariate feature selection models from scikit-learn.
        :param n_features: SelectPercentile if float else SelectKBest :param problem_type: classification or regression
        :param scoring: scoring function, string
        """
        # for a given problem type, there are only
        # a few valid scoring methods
        # you can extend this with your own custom
        # methods if you wish
        if problem_type == "classification":
            valid_scoring = {
            "f_classif": f_classif,
            "chi2": chi2,
            "mutual_info_classif": mutual_info_classif
            } 
        else:
            valid_scoring = {
            "f_regression": f_regression, "mutual_info_regression": mutual_info_regression
            }
        # raise exception if we do not have a valid scoring method
        if scoring not in valid_scoring:
            raise Exception("Invalid scoring function")
        # if n_features is int, we use selectkbest
        # if n_features is float, we use selectpercentile
        # please note that it is int in both cases in sklearn 
        if isinstance(n_features, int):
            self.selection = SelectKBest( valid_scoring[scoring], k=n_features)
        elif isinstance(n_features, float):
            self.selection = SelectPercentile( 
                valid_scoring[scoring], percentile=int(n_features * 100)
            ) 
        else:
            raise Exception("Invalid type of feature")
            
        
    # same fit function
    def fit(self, X, y):
        return self.selection.fit(X, y)
    
    # same transform function
    def transform(self, X):
        return self.selection.transform(X)
    
    # same fit_transform function
    def fit_transform(self, X, y):
        return self.selection.fit_transform(X, y)

## Feature Selection -- Recursive Feature Selection (RFE)

## Feature Selection with LR Feature Importance

## Feature Selection with XGBoost

In [12]:
data1 = df1.copy(deep=True)
data2 = df2.copy(deep=True)

In [13]:
from numpy import sort
from xgboost import XGBClassifier
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectFromModel

In [14]:
#data1 = df1.copy()
non_financial_features = ['ROW','Corp_Residence_Country_Code', 'BR Code', 'CUSTOMER_ID', 'Final_IG', 'B_PLUS_FLAG', 'Year', 'Month', 'Date', 'Unnamed: 0', 'missing_data_flag' ]
financial_features = data1.drop(non_financial_features, axis=1)
fin_features_lst = list(financial_features.columns)

In [15]:
def Standardize(xtrain, xtest, method):
    """ The following function takes in the given dataset, and standardizes it based on the given method."""
    
    if method == "Gaussian":
        std_scaler = StandardScaler()
        std_scaler.fit_transform(xtrain)
        std_scaler.transform(xtest)

    if method == "Normalize":
        norm_scaler = MinMaxScaler()
        norm_scaler.fit_transform(xtrain)
        norm_scaler.transform(xtest)
        
    if method == "Robust":
        robust_scaler = RobustScaler()
        robust_scaler.fit_transform(xtrain)
        robust_scaler.fit_transform(xtest)
        
    return xtrain, xtest

In [16]:
df1.head()

,Unnamed: 0,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
0,0,5662,1,5,1576,5,1,575863.911214,602838.635998,583646.469630,614602.866245,619611.510181,621095.725446,611355.907673,582433.004400,623105.791017,596800.177680,600460.033208,598408.339905,611355.411490,589592.109008,605336.777910,574789.603998,620745.952718,621004.600446,614991.732391,604478.517167,609095.636450,600147.701765,589971.619360,580405.105567,578103.988392,577109.531117,574090.626783,583030.371565,600890.935743,604975.472270,600103.052065,601804.995337,596259.219747,573227.115787,572126.125957,601814.939331,578045.252633,571339.795861,596653.190112,590035.602606,571736.508285,628719.211745,584338.549368,616858.074405,611986.404942,604922.163814,577051.576457,613092.388218,603141.577521,576650.299516,620686.247107,610847.649882,585871.251511,616877.792537,568949.503421,618110.180319,604601.169985,580153.927795,590842.797526,590664.224219,590472.808115,616986.562624,572661.424837,574363.146314,582917.058057,583420.366083,607467.206600,583658.695782,603769.043190,601041.664461,590112.115029,590316.935078,602489.197881,607756.994574,602468.604889,579949.325730,585896.605197,615126.516293,604036.179493,573565.511062,607130.118230,571946.940867,592574.187811,623675.986993,618944.803911,580343.279228,590502.807033,609912.733618,599498.344764,595156.410271,587134.042491,570091.364648,580823.373014,608524.711934,622059.106399,575870.723892,573508.493635,570519.450943,608807.689045,593269.795473,599593.828998,621562.468837,588906.640575,600112.382878,626071.057035,591870.004065,588954.395020,604537.606945,597031.247138,600893.706501,590802.111805,606861.990009,570523.662855,587502.761835,575350.400174,571025.770698,603242.309649,622846.821734,2017-10-01,2017,10,1,586584.943568,618271.670268,609304.862614,602763.503201,619553.452999,601863.209979,576880.644499,602077.362657,583218.942030,579945.197593,593531.196346,601868.362680,598209.966983,592446.376722,593394.673153,595352.641112,588540.415964,599825.044022,598249.924789,589748.905678,584394.031186,612469.435351,603162.087700,582209.444611,573894.142040,601665.067395,606933.634527,601225.731355,590447.163586,580107.059121,1.082037,0.989983,1.028808,0.973650,0.941946,1.022467,0.964168,1.069266,0.941946,1.022467,0.964168,1.069266,0.940975,0.996556,1.011429,1.002464,5.314497e-02,-0.026010,1.356760e-02,1.073762,1.076060,1.071245,1.036787,2.021471,2.028418,2.133469,2.078371,1.005639,0.960883,0.982178,1.027429,0.944174,1.005572,0.980661,1.046785,615305.200681,0.991236,0.974311,0.967254,9.542160e-01
1,1,16369,1,5,4545,7,1,599469.364624,615373.028208,612705.047096,0.000100,608126.531748,601435.154115,587550.520995,0.000100,627335.355343,611300.879046,572542.268654,0.000000,604626.757034,586282.226249,624691.726730,0.000100,596315.871786,609786.889797,620321.870767,0.000000,577715.935070,576662.704616,582062.515093,0.000000,616376.771099,604827.131130,599463.087501,0.000100,584268.408156,615338.209036,617623.837767,0.000000,599915.942888,587706.105861,595274.082521,0.000000,575278.320599,612795.138987,582300.999226,0.000000,586176.759045,596042.804332,591066.860115,0.000000,599885.309188,601973.826113,576342.388644,0.000100,612396.980939,571906.704700,577600.492683,0.000000,608239.368101,580375.372271,607292.591803,0.000000,576727.633238,592407.347051,571806.694543,0.000000,623527.400755,627610.773225,591365.359100,0.000000,625385.094320,627447.879790,574797.783549,0.000000,599583.772148,599373.028704,578394.144402,584262.286957,617559.499371,627464.217041,0.000000,622519.607329,612844.491772,616717.098074,0.000000,585261.894944,606387.285367,597933.663213,0.000000,584319.594719,582119.776636,604537.048901,0.000000,600468.027347,619654.468553,577905.225922,0.000100,593683.929674,577347.564682,625997.193308,0.000000,599331.009039,594731.372664,579472.873802,0.000000,612946.959500,624619.791483,581883.305291,0.000000,576159.542727,576880.406059,572899.682067,0.000000,603346.339606,621227.589036,594596.565749,0.000000,0.000000,0.000000,0.000000,615104.995291,615953.218376,589034.257388,0.000000,2015-10-01,2015,10,2,607711.848590,601323.625703,609814.288424,602970.795594,606140.877563,578330.764924,608768.294754,602037.326141,594814.472686,589344.521979,590552.129934,595349.721375,591167.669247,598740.974758,580860.662576,617741.404544,614831.064861,594804.718168,604961.786669,618005.122309,595119.640256,588079.089621,601849.551877,595419.199929,593384.877972,609934.869226,575675.417024,607362.361892,0.000000,609594.239007,1.046484,0.993383,0.934450,0.000000,0.991470,1.049619,0.980812,1.000000,0.991470,1.049619,0.980812,1.000000,0.999307,1.022259,1.063092,1.000000,6.246917e+09,-0.061486,3.123459e+09,0.967454,1.008200,1.034796,0.000000,1.992372,2.051120,1.953277,0.000000,1.031587,1.016404,0.974456,0.000000,0.998337,0.993091,1.060217,1.000000,456606.158088,1.315068,1.357087,1.265654,2.190071e-10
2,2,2326,0,12,648,8,1,613829.072017,575020.270272,583630.783425,595256.346525,608391.483917,611859.108037,607825.470188,592953.319963,585464.960100,571781.269380,585642.496712,593575.189122,608591.366569,578175.200440,602523.843620,605501.836474,618999.144319,614118.293569,592205.828625,593381.268052,578343.317529,575530.917780,590556.467199,595629.061840,603655.551037,574183.093293,597137.973102,596570.797275,605298.293603,598985.457637,602326.489701,610354.711853,577735.145730,585264.369252,606035.133972,602171.607357,585900.805747,615469.219089,596268.755476,593105.042889,585225.732357,578698.596685,596554.351526,605586.733909,603652.451410,581459.745306,601344.886075,593198.683962,610421.314919,603672.946408,605549.257292,593524.563900,615972.913531,613239.841602,605608.239471,598412.906837,614134.979471,627189.858095,602409.648339,609889.587867,583797.304612,577370.591526,603376.296391,583599.496940,623541.230342,590535.903820,593365.903329,597178.040212,599099.056296,612901.104547,610247.080716,592856.378966,625945.382643,599792.118839,597846.757742,599586.156088,582896.044376,602449.051592,597555.125196,572606.634235,592740.514085,588749.676585,578747.562998,628443.444334,627082.417223,595729.318682,590591.700782,618384.136760,577029.978273,598628.646309,608488.810564,587195.266426,580755.669521,590307.264515,606490.472344,613853.875298,596322.141176,603864.112575,589676.249565,614104.443488,613654.106652,607925.829319,605947.164069,605642.248232,601107.708861,601789.514352,607969.103093,618703.592690,619380.184641,604289.385018,602603.459609,586607.548841,584847.736742,591202.400750,580199.620976,605016.760749,602657.906443,604866.850556,2015-04-01,2015,4,3,594182.073970,609421.577795,580943.182441,597104.306093,611418.123915,580119.884206,592383.047804,602533.614080,586533.773180,598060.932356,585567.491393,595742.090412,607089.179276,612758.628653,615880.976539,586005.953978,605833.826610,606177.077806,605427.322386,594658.984518,582905.270263,620719.962930,600209.308275,585740.289255,605790.016652,612581.305839,603274.572024,615725.966080,587042.023010,593462.731004,0.953792,0.994367,1.003447,0.997176,1.008606,0.994543,0.968643,0.983079,1.008606,0.994543,0.968643,0.983079,1.016858,0.988925,0.970543,1.003469,-4.918223e-03,-0.040411,-2.266465e-02,1.025418,1.069551,0.991740,0.994654,1.978453,2.122443,2.027310,2.029623,0.962316,0.934498,0.963504,1.001049,0.992634,0.996517,0.974946,0.978254,604676.133641,1.022670,0.954279,0.989999,1.006305e+00
3,3,38131,0,19,13395,5,1,585059.299344,581915.869330,594033.887481,609965.034011,591791.219692,598332.776102,589877.849288,622230.836194,584513.060799,626767.691011,625743.779183,573802.856646,615999.168162,588623.823558,600443.812695,633589.116171,582358.584899,612497.219818,606794.985460,589340.181176,621919.270235,607400.754064,581688.692973,633939.157288,620046.519867,607197.874782,589234.421690,615945.241601,624582.882164,571604.744174,618284.670890,582971.670808,601679.290137,631531.820709,582070.488802,578291.242057,609409.181664,627146.534773,579538.437216,623483.022643,606435.590692,597736.992046,626159.684774,574211.349128,569227.108284,578222.485479,627954.601109,616994.119250,619543.967706,618202.883312,628277.301473,603404.442362,610683.455442,626679.453601,611347.146807,599683.366810,596054.212034,621062.132904,579501.505805,592501.700490,575626.390128,610802.061343,569159.760007,621795.529225,627037.437178,591909.025138,615052.716422,585048.876231,599367.108922,620462.545377,610693.259783,596121.697084,608036.381542,616019.469361,616448.299548,584225.743532,603300.608401,584569.410981,585972.889822,602652.271667,607664.571382,619663.283070,615897.170961,600047.184269,578475.431636,604161.492068,625933.459267,592635.899148,605067.869041,598361.483763,603347.820896,583240.465017,621924.452782,586696.569372,617082.133276,573787.307640,607639.336175,596952.206249,572199.964331,568608.114496,608155.293540,582152.854829,569070.296103,582067.967917,574781.431984,589652.582411,608081.966820,581638.119480,613180.540495,585288.491695,576526.161339,604725.209898,579187.232468,628406.498679,587097.755174,615814.454998,599338.620711,588454.089187,2017-07-01,2017,7,1,586005.842259,593546.545072,607760.319399,603417.307635,597835.107774,608139.636564,608916.505244,605523.900329,607272.622253,608683.689490,607919.189828,585276.121310,621037.680412,616162.941798,600711.806495,585914.584951,612664.695219,608915.843487,604514.985743,590660.402366,608103.262995,593770.890680,598052.241249,596903.150795,590219.072398,584800.449807,581324.592493,592963.453644,601475.059373,599390.180790,0.999066,1.077076,1.053381,0.940714,0.949773,0.988604,0.989325,0.962714,0.949773,0.988604,0.989325,0.962714,1.027813,1.006387,0.945982,0.988608,-5.231356e-02,-0.019685,-3.599949e-02,0.939218,1.008728,1.029802,0.956806,1.863902,2.015768,2.005130,1.879265,0.987701,1.047524,1.060802,0.922170,0.987215,0.961737,0.992768,1.010967,597747.742838,0.991448,1.012246,1.001027,1.009369e+00
4,4,36605,0,19,12998,6,1,605966.227164,593540.797737,575448.556931,0.000100,582546.955793,614212.207680,578068.515601,0.000100,590177.329836,570997.852457,625971.749956,0.000000,607879.645878,628042.392612,592671.553802,0.000100,624481.204725,620443.236288,584608.020724,0.000000,581316.994347,618157.473873,612201.478244,0.000000,594651.641147,588273.242403,628893.487075,0.000100,619814.409081,612323.296890,579970.364292,0.000000,604318.176057,582539.670630,608157.980979,0.000000,599764.180894,621380.436335,617897.984246,0.000000,600254.713521,602796.821976,616710.718806,0.000000,599030.420526,610132.517699,587946.887611,0.000100,587964.127888,597855.711865,602364.202307,0.000000,587331.672092,626392.228623,577227.025844,0.000000,579706.987774,599713.713177,574751.041997,0.000000,592648.180887,603115.329420,604955.203982,0.000000,574529.317966,616421.542445,601224.106656,0.000000,609647.879264,583281.325868,571425.106318,603957.579631,572002.523205,585445.757146,0.000000,627957.167678,600026.249724,625000.416886,0.000000,599551.537646,587957.236129,606144.949063,0.000000,570361.838213,617325.963529,596985.846302,0.000000,602279.589211,614291.123282,593478.134971,0.000100,592417.646739,613810.092740,583245.681028,0.000000,599057.069965,599379.654659,591842.067442,0.000000,607542.555339,587340.099931,606914.277891,0.000000,601244.861338,611322.361302,615444.982411,0.000000,571756.113932,575840.218046,574663.116947,0.000000,609213.829112,0.000000,0.000000,583548.648126,0.000000,0.000000,0.000000,2015-07-01,2015,7,3,595042.712859,592106.830824,591738.486292,611220.985439,614274.507690,600460.372833,600134.807327,608463.139509,597911.964231,610999.333453,604758.973069,600268.112269,594461.339084,598106.380658,585274.574958,598872.124419,594425.568057,592365.078589,589192.155826,617989.805962,597151.973011,591932.992893,604327.555181,597510.247470,597561.264302,600668.786326,607759.610453,573763.482640,270761.701828,259354.954723,0.973944,0.962020,1.087798,0.000000,0.996852,0.945065,0.970940,1.000000,0.996852,0.945065,0.970940,1.000000,1.011578,0.972806,0.978742,1.000000,5.926716e+09,0.059680,2.963358e+09,1.050163,1.054685,0.929582,0.000000,2.003007,0.998414,0.965051,0.000000,1.013098,0.929643,1.082868,0.000000,1.006121,0.966221,0.969620,1.000000,457383.115434,1.316795,1.343056,1.297551,2.186351e-10

In [17]:
df1.pop("Unnamed: 0")
df2.pop("Unnamed: 0")
print(" ")

0            0
1            1
2            2
3            3
4            4
         ...
28459    28459
28460    28460
28461    28461
28462    28462
28463    28463
Name: Unnamed: 0, Length: 28464, dtype: int64

In [18]:
df1.shape

(28224, 198)

In [22]:
df1.dtypes

ROW                                        int64
Corp_Residence_Country_Code                int64
BR Code                                    int64
CUSTOMER_ID                                int64
Final_IG                                   int64
EBITDA_Y0                                float64
EBITDA_Y1                                float64
EBITDA_Y2                                float64
EBITDA_Y3                                float64
TOTALASSET_Y0                            float64
TOTALASSET_Y1                            float64
TOTALASSET_Y2                            float64
TOTALASSET_Y3                            float64
TOTALDEBT_Y0                             float64
TOTALDEBT_Y1                             float64
TOTALDEBT_Y2                             float64
TOTALDEBT_Y3                             float64
TOTALREVENUE_Y0                          float64
TOTALREVENUE_Y1                          float64
TOTALREVENUE_Y2                          float64
TOTALREVENUE_Y3                          float64
CURRENTASSET_Y0                          float64
CURRENTASSET_Y1                          float64
CURRENTASSET_Y2                          float64
CURRENTASSET_Y3                          float64
FIXEDASSET_Y0                            float64
FIXEDASSET_Y1                            float64
FIXEDASSET_Y2                            float64
FIXEDASSET_Y3                            float64
CURRENTLIABILITY_Y0                      float64
CURRENTLIABILITY_Y1                      float64
CURRENTLIABILITY_Y2                      float64
CURRENTLIABILITY_Y3                      float64
NONCURRLIA_Y0                            float64
NONCURRLIA_Y1                            float64
NONCURRLIA_Y2                            float64
NONCURRLIA_Y3                            float64
TOTALEQUITY_Y0                           float64
TOTALEQUITY_Y1                           float64
TOTALEQUITY_Y2                           float64
TOTALEQUITY_Y3                           float64
TOTALNETWORTH_Y0                         float64
TOTALNETWORTH_Y1                         float64
TOTALNETWORTH_Y2                         float64
TOTALNETWORTH_Y3                         float64
CAPITALIZATION_Y0                        float64
CAPITALIZATION_Y1                        float64
CAPITALIZATION_Y2                        float64
CAPITALIZATION_Y3                        float64
TOTINTEXP_Y0                             float64
TOTINTEXP_Y1                             float64
TOTINTEXP_Y2                             float64
TOTINTEXP_Y3                             float64
LEASERENTEXP_Y0                          float64
LEASERENTEXP_Y1                          float64
LEASERENTEXP_Y2                          float64
LEASERENTEXP_Y3                          float64
EBITDAR_Y0                               float64
EBITDAR_Y1                               float64
EBITDAR_Y2                               float64
EBITDAR_Y3                               float64
receivabledays_Y0                        float64
receivabledays_Y1                        float64
receivabledays_Y2                        float64
receivabledays_Y3                        float64
INVENTORYDAYS_Y0                         float64
INVENTORYDAYS_Y1                         float64
INVENTORYDAYS_Y2                         float64
INVENTORYDAYS_Y3                         float64
payableDAYS_Y0                           float64
payableDAYS_Y1                           float64
payableDAYS_Y2                           float64
payableDAYS_Y3                           float64
Capex2Dep_Y0                             float64
Capex2Dep_Y1                             float64
Capex2Dep_Y2                             float64
tangibleNetWorth_Y0                      float64
tangibleNetWorth_Y1                      float64
tangibleNetWorth_Y2                      float64
tangibleNetWorth_Y3                      float64
FIXEDCHARGECOV_Y0                        float64
FIXEDCHARGECOV_Y1                        float64
FIXEDCHARGECOV_Y2                        float64
FIXEDCHARGECOV_Y3                        float64
DEBTSERVCOV_Y0                           float64
DEBTSERVCOV_Y1                           float64
DEBTSERVCOV_Y2                           float64
DEBTSERVCOV_Y3                           float64
NETPROFIT_Y0                             float64
NETPROFIT_Y1                             float64
NETPROFIT_Y2                             float64
NETPROFIT_Y3                             float64
NETSALES_Y0                              float64
NETSALES_Y1                              float64
NETSALES_Y2                              float64
NETSALES_Y3                              float64
ASSETTURNOVER_Y0                         float64
ASSETTURNOVER_Y1                         float64
ASSETTURNOVER_Y2                         float64
ASSETTURNOVER_Y3                         float64
OPERPROFIT_Y0                            float64
OPERPROFIT_Y1                            float64
OPERPROFIT_Y2                            float64
OPERPROFIT_Y3                            float64
ARTurnover_Y0                            float64
ARTurnover_Y1                            float64
ARTurnover_Y2                            float64
ARTurnover_Y3                            float64
Inventory_Y0                             float64
Inventory_Y1                             float64
Inventory_Y2                             float64
Inventory_Y3                             float64
RETAINED_EARNINGS_Y0                     float64
RETAINED_EARNINGS_Y1                     float64
RETAINED_EARNINGS_Y2                     float64
RETAINED_EARNINGS_Y3                     float64
FCF_Y0                                   float64
FCF_Y1                                   float64
FCF_Y2                                   float64
CCE_Y0                                   float64
CCE_Y1                                   float64
CCE_Y2                                   float64
CCE_Y3                                   float64
Date                              datetime64[ns]
Year                                       int64
Month                                      int64
missing_data_flag                          int64
EBITDA_3YearAverage                      float64
TOTALASSET_3YearAverage                  float64
TOTALDEBT_3YearAverage                   float64
TOTALREVENUE_3YearAverage                float64
CURRENTASSET_3YearAverage                float64
FIXEDASSET_3YearAverage                  float64
CURRENTLIABILITY_3YearAverage            float64
NONCURRLIA_3YearAverage                  float64
TOTALEQUITY_3YearAverage                 float64
TOTALNETWORTH_3YearAverage               float64
CAPITALIZATION_3YearAverage              float64
TOTINTEXP_3YearAverage                   float64
LEASERENTEXP_3YearAverage                float64
EBITDAR_3YearAverage                     float64
receivabledays_3YearAverage              float64
INVENTORYDAYS_3YearAverage               float64
payableDAYS_3YearAverage                 float64
Capex2Dep_3YearAverage                   float64
tangibleNetWorth_3YearAverage            float64
FIXEDCHARGECOV_3YearAverage              float64
DEBTSERVCOV_3YearAverage                 float64
NETPROFIT_3YearAverage                   float64
NETSALES_3YearAverage                    float64
ASSETTURNOVER_3YearAverage               float64
OPERPROFIT_3YearAverage                  float64
ARTurnover_3YearAverage                  float64
Inventory_3YearAverage                   float64
RETAINED_EARNINGS_3YearAverage           float64
FCF_3YearAverage                         float64
CCE_3YearAverage                         float64
Total_Leverage_Y0                        float64
Total_Leverage_Y1                        float64
Total_Leverage_Y2                        float64
Total_Leverage_Y3                        float64
Ebitda_Margin_Y0                         float64
Ebitda_Margin_Y1                         float64
Ebitda_Margin_Y2                         float64
Ebitda_Margin_Y3                         float64
Operating_Margin_Y0                      float64
Operating_Margin_Y1                      float64
Operating_Margin_Y2                      float64
Operating_Margin_Y3                      float64
Interest_CR_Y0                           float64
Interest_CR_Y1                           float64
Interest_CR_Y2                           float64
Interest_CR_Y3                           float64
Growth_Y3_to_Y2                          float64
Growth_Y2_to_Y1                          float64
Average_Growth                           float64
Current_Ratio_Y0                         float64
Current_Ratio_Y1                         float64
Current_Ratio_Y2                         float64
Current_Ratio_Y3                         float64
Quick_Ratio_Y0                           float64
Quick_Ratio_Y1                           float64
Quick_Ratio_Y2                           float64
Quick_Ratio_Y3                           float64
Debt_Ratio_Y0                            float64
Debt_Ratio_Y1                            float64
Debt_Ratio_Y2                            float64
Debt_Ratio_Y3                            float64
Return_Net_Sales_Y0                      float64
Return_Net_Sales_Y1                      float64
Return_Net_Sales_Y2                      float64
Return_Net_Sales_Y3                      float64
Average_Total_Assets                     float64
Asset_Turnover_Y0                        float64
Asset_Turnover_Y1                        float64
Asset_Turnover_Y2                        float64
Asset_Turnover_Y3                        float64
dtype: object

In [33]:
data1.head()

,Unnamed: 0,ROW,Corp_Residence_Country_Code,BR Code,CUSTOMER_ID,Final_IG,B_PLUS_FLAG,EBITDA_Y0,EBITDA_Y1,EBITDA_Y2,EBITDA_Y3,TOTALASSET_Y0,TOTALASSET_Y1,TOTALASSET_Y2,TOTALASSET_Y3,TOTALDEBT_Y0,TOTALDEBT_Y1,TOTALDEBT_Y2,TOTALDEBT_Y3,TOTALREVENUE_Y0,TOTALREVENUE_Y1,TOTALREVENUE_Y2,TOTALREVENUE_Y3,CURRENTASSET_Y0,CURRENTASSET_Y1,CURRENTASSET_Y2,CURRENTASSET_Y3,FIXEDASSET_Y0,FIXEDASSET_Y1,FIXEDASSET_Y2,FIXEDASSET_Y3,CURRENTLIABILITY_Y0,CURRENTLIABILITY_Y1,CURRENTLIABILITY_Y2,CURRENTLIABILITY_Y3,NONCURRLIA_Y0,NONCURRLIA_Y1,NONCURRLIA_Y2,NONCURRLIA_Y3,TOTALEQUITY_Y0,TOTALEQUITY_Y1,TOTALEQUITY_Y2,TOTALEQUITY_Y3,TOTALNETWORTH_Y0,TOTALNETWORTH_Y1,TOTALNETWORTH_Y2,TOTALNETWORTH_Y3,CAPITALIZATION_Y0,CAPITALIZATION_Y1,CAPITALIZATION_Y2,CAPITALIZATION_Y3,TOTINTEXP_Y0,TOTINTEXP_Y1,TOTINTEXP_Y2,TOTINTEXP_Y3,LEASERENTEXP_Y0,LEASERENTEXP_Y1,LEASERENTEXP_Y2,LEASERENTEXP_Y3,EBITDAR_Y0,EBITDAR_Y1,EBITDAR_Y2,EBITDAR_Y3,receivabledays_Y0,receivabledays_Y1,receivabledays_Y2,receivabledays_Y3,INVENTORYDAYS_Y0,INVENTORYDAYS_Y1,INVENTORYDAYS_Y2,INVENTORYDAYS_Y3,payableDAYS_Y0,payableDAYS_Y1,payableDAYS_Y2,payableDAYS_Y3,Capex2Dep_Y0,Capex2Dep_Y1,Capex2Dep_Y2,tangibleNetWorth_Y0,tangibleNetWorth_Y1,tangibleNetWorth_Y2,tangibleNetWorth_Y3,FIXEDCHARGECOV_Y0,FIXEDCHARGECOV_Y1,FIXEDCHARGECOV_Y2,FIXEDCHARGECOV_Y3,DEBTSERVCOV_Y0,DEBTSERVCOV_Y1,DEBTSERVCOV_Y2,DEBTSERVCOV_Y3,NETPROFIT_Y0,NETPROFIT_Y1,NETPROFIT_Y2,NETPROFIT_Y3,NETSALES_Y0,NETSALES_Y1,NETSALES_Y2,NETSALES_Y3,ASSETTURNOVER_Y0,ASSETTURNOVER_Y1,ASSETTURNOVER_Y2,ASSETTURNOVER_Y3,OPERPROFIT_Y0,OPERPROFIT_Y1,OPERPROFIT_Y2,OPERPROFIT_Y3,ARTurnover_Y0,ARTurnover_Y1,ARTurnover_Y2,ARTurnover_Y3,Inventory_Y0,Inventory_Y1,Inventory_Y2,Inventory_Y3,RETAINED_EARNINGS_Y0,RETAINED_EARNINGS_Y1,RETAINED_EARNINGS_Y2,RETAINED_EARNINGS_Y3,FCF_Y0,FCF_Y1,FCF_Y2,CCE_Y0,CCE_Y1,CCE_Y2,CCE_Y3,Date,Year,Month,missing_data_flag,EBITDA_3YearAverage,TOTALASSET_3YearAverage,TOTALDEBT_3YearAverage,TOTALREVENUE_3YearAverage,CURRENTASSET_3YearAverage,FIXEDASSET_3YearAverage,CURRENTLIABILITY_3YearAverage,NONCURRLIA_3YearAverage,TOTALEQUITY_3YearAverage,TOTALNETWORTH_3YearAverage,CAPITALIZATION_3YearAverage,TOTINTEXP_3YearAverage,LEASERENTEXP_3YearAverage,EBITDAR_3YearAverage,receivabledays_3YearAverage,INVENTORYDAYS_3YearAverage,payableDAYS_3YearAverage,Capex2Dep_3YearAverage,tangibleNetWorth_3YearAverage,FIXEDCHARGECOV_3YearAverage,DEBTSERVCOV_3YearAverage,NETPROFIT_3YearAverage,NETSALES_3YearAverage,ASSETTURNOVER_3YearAverage,OPERPROFIT_3YearAverage,ARTurnover_3YearAverage,Inventory_3YearAverage,RETAINED_EARNINGS_3YearAverage,FCF_3YearAverage,CCE_3YearAverage,Total_Leverage_Y0,Total_Leverage_Y1,Total_Leverage_Y2,Total_Leverage_Y3,Ebitda_Margin_Y0,Ebitda_Margin_Y1,Ebitda_Margin_Y2,Ebitda_Margin_Y3,Operating_Margin_Y0,Operating_Margin_Y1,Operating_Margin_Y2,Operating_Margin_Y3,Interest_CR_Y0,Interest_CR_Y1,Interest_CR_Y2,Interest_CR_Y3,Growth_Y3_to_Y2,Growth_Y2_to_Y1,Average_Growth,Current_Ratio_Y0,Current_Ratio_Y1,Current_Ratio_Y2,Current_Ratio_Y3,Quick_Ratio_Y0,Quick_Ratio_Y1,Quick_Ratio_Y2,Quick_Ratio_Y3,Debt_Ratio_Y0,Debt_Ratio_Y1,Debt_Ratio_Y2,Debt_Ratio_Y3,Return_Net_Sales_Y0,Return_Net_Sales_Y1,Return_Net_Sales_Y2,Return_Net_Sales_Y3,Average_Total_Assets,Asset_Turnover_Y0,Asset_Turnover_Y1,Asset_Turnover_Y2,Asset_Turnover_Y3
0,0,5662,1,5,1576,5,1,575863.911214,602838.635998,583646.469630,614602.866245,619611.510181,621095.725446,611355.907673,582433.004400,623105.791017,596800.177680,600460.033208,598408.339905,611355.411490,589592.109008,605336.777910,574789.603998,620745.952718,621004.600446,614991.732391,604478.517167,609095.636450,600147.701765,589971.619360,580405.105567,578103.988392,577109.531117,574090.626783,583030.371565,600890.935743,604975.472270,600103.052065,601804.995337,596259.219747,573227.115787,572126.125957,601814.939331,578045.252633,571339.795861,596653.190112,590035.602606,571736.508285,628719.211745,584338.549368,616858.074405,611986.404942,604922.163814,577051.576457,613092.388218,603141.577521,576650.299516,620686.247107,610847.649882,585871.251511,616877.792537,568949.503421,618110.180319,604601.169985,580153.927795,590842.797526,590664.224219,590472.808115,616986.562624,572661.424837,574363.146314,582917.058057,583420.366083,607467.206600,583658.695782,603769.043190,601041.664461,590112.115029,590316.935078,602489.197881,607756.994574,602468.604889,579949.325730,585896.605197,615126.516293,604036.179493,573565.511062,607130.118230,571946.940867,592574.187811,623675.986993,618944.803911,580343.279228,590502.807033,609912.733618,599498.344764,595156.410271,587134.042491,570091.364648,580823.373014,608524.711934,622059.106399,575870.723892,573508.493635,570519.450943,608807.689045,593269.795473,599593.828998,621562.468837,588906.640575,600112.382878,626071.057035,591870.004065,588954.395020,604537.606945,597031.247138,600893.706501,590802.111805,606861.990009,570523.662855,587502.761835,575350.400174,571025.770698,603242.309649,622846.821734,2017-10-01,2017,10,1,586584.943568,618271.670268,609304.862614,602763.503201,619553.452999,601863.209979,576880.644499,602077.362657,583218.942030,579945.197593,593531.196346,601868.362680,598209.966983,592446.376722,593394.673153,595352.641112,588540.415964,599825.044022,598249.924789,589748.905678,584394.031186,612469.435351,603162.087700,582209.444611,573894.142040,601665.067395,606933.634527,601225.731355,590447.163586,580107.059121,1.082037,0.989983,1.028808,0.973650,0.941946,1.022467,0.964168,1.069266,0.941946,1.022467,0.964168,1.069266,0.940975,0.996556,1.011429,1.002464,5.314497e-02,-0.026010,1.356760e-02,1.073762,1.076060,1.071245,1.036787,2.021471,2.028418,2.133469,2.078371,1.005639,0.960883,0.982178,1.027429,0.944174,1.005572,0.980661,1.046785,615305.200681,0.991236,0.974311,0.967254,9.542160e-01
1,1,16369,1,5,4545,7,1,599469.364624,615373.028208,612705.047096,0.000100,608126.531748,601435.154115,587550.520995,0.000100,627335.355343,611300.879046,572542.268654,0.000000,604626.757034,586282.226249,624691.726730,0.000100,596315.871786,609786.889797,620321.870767,0.000000,577715.935070,576662.704616,582062.515093,0.000000,616376.771099,604827.131130,599463.087501,0.000100,584268.408156,615338.209036,617623.837767,0.000000,599915.942888,587706.105861,595274.082521,0.000000,575278.320599,612795.138987,582300.999226,0.000000,586176.759045,596042.804332,591066.860115,0.000000,599885.309188,601973.826113,576342.388644,0.000100,612396.980939,571906.704700,577600.492683,0.000000,608239.368101,580375.372271,607292.591803,0.000000,576727.633238,592407.347051,571806.694543,0.000000,623527.400755,627610.773225,591365.359100,0.000000,625385.094320,627447.879790,574797.783549,0.000000,599583.772148,599373.028704,578394.144402,584262.286957,617559.499371,627464.217041,0.000000,622519.607329,612844.491772,616717.098074,0.000000,585261.894944,606387.285367,597933.663213,0.000000,584319.594719,582119.776636,604537.048901,0.000000,600468.027347,619654.468553,577905.225922,0.000100,593683.929674,577347.564682,625997.193308,0.000000,599331.009039,594731.372664,579472.873802,0.000000,612946.959500,624619.791483,581883.305291,0.000000,576159.542727,576880.406059,572899.682067,0.000000,603346.339606,621227.589036,594596.565749,0.000000,0.000000,0.000000,0.000000,615104.995291,615953.218376,589034.257388,0.000000,2015-10-01,2015,10,2,607711.848590,601323.625703,609814.288424,602970.795594,606140.877563,578330.764924,608768.294754,602037.326141,594814.472686,589344.521979,590552.129934,595349.721375,591167.669247,598740.974758,580860.662576,617741.404544,614831.064861,594804.718168,604961.786669,618005.122309,595119.640256,588079.089621,601849.551877,595419.199929,593384.877972,609934.869226,575675.417024,607362.361892,0.000000,609594.239007,1.046484,0.993383,0.934450,0.000000,0.991470,1.049619,0.980812,1.000000,0.991470,1.049619,0.980812,1.000000,0.999307,1.022259,1.063092,1.000000,6.246917e+09,-0.061486,3.123459e+09,0.967454,1.008200,1.034796,0.000000,1.992372,2.051120,1.953277,0.000000,1.031587,1.016404,0.974456,0.000000,0.998337,0.993091,1.060217,1.000000,456606.158088,1.315068,1.357087,1.265654,2.190071e-10
2,2,2326,0,12,648,8,1,613829.072017,575020.270272,583630.783425,595256.346525,608391.483917,611859.108037,607825.470188,592953.319963,585464.960100,571781.269380,585642.496712,593575.189122,608591.366569,578175.200440,602523.843620,605501.836474,618999.144319,614118.293569,592205.828625,593381.268052,578343.317529,575530.917780,590556.467199,595629.061840,603655.551037,574183.093293,597137.973102,596570.797275,605298.293603,598985.457637,602326.489701,610354.711853,577735.145730,585264.369252,606035.133972,602171.607357,585900.805747,615469.219089,596268.755476,593105.042889,585225.732357,578698.596685,596554.351526,605586.733909,603652.451410,581459.745306,601344.886075,593198.683962,610421.314919,603672.946408,605549.257292,593524.563900,615972.913531,613239.841602,605608.239471,598412.906837,614134.979471,627189.858095,602409.648339,609889.587867,583797.304612,577370.591526,603376.296391,583599.496940,623541.230342,590535.903820,593365.903329,597178.040212,599099.056296,612901.104547,610247.080716,592856.378966,625945.382643,599792.118839,597846.757742,599586.156088,582896.044376,602449.051592,597555.125196,572606.634235,592740.514085,588749.676585,578747.562998,628443.444334,627082.417223,595729.318682,590591.700782,618384.136760,577029.978273,598628.646309,608488.810564,587195.266426,580755.669521,590307.264515,606490.472344,613853.875298,596322.141176,603864.112575,589676.249565,614104.443488,613654.106652,607925.829319,605947.164069,605642.248232,601107.708861,601789.514352,607969.103093,618703.592690,619380.184641,604289.385018,602603.459609,586607.548841,584847.736742,591202.400750,580199.620976,605016.760749,602657.906443,604866.850556,2015-04-01,2015,4,3,594182.073970,609421.577795,580943.182441,597104.306093,611418.123915,580119.884206,592383.047804,602533.614080,586533.773180,598060.932356,585567.491393,595742.090412,607089.179276,612758.628653,615880.976539,586005.953978,605833.826610,606177.077806,605427.322386,594658.984518,582905.270263,620719.962930,600209.308275,585740.289255,605790.016652,612581.305839,603274.572024,615725.966080,587042.023010,593462.731004,0.953792,0.994367,1.003447,0.997176,1.008606,0.994543,0.968643,0.983079,1.008606,0.994543,0.968643,0.983079,1.016858,0.988925,0.970543,1.003469,-4.918223e-03,-0.040411,-2.266465e-02,1.025418,1.069551,0.991740,0.994654,1.978453,2.122443,2.027310,2.029623,0.962316,0.934498,0.963504,1.001049,0.992634,0.996517,0.974946,0.978254,604676.133641,1.022670,0.954279,0.989999,1.006305e+00
3,3,38131,0,19,13395,5,1,585059.299344,581915.869330,594033.887481,609965.034011,591791.219692,598332.776102,589877.849288,622230.836194,584513.060799,626767.691011,625743.779183,573802.856646,615999.168162,588623.823558,600443.812695,633589.116171,582358.584899,612497.219818,606794.985460,589340.181176,621919.270235,607400.754064,581688.692973,633939.157288,620046.519867,607197.874782,589234.421690,615945.241601,624582.882164,571604.744174,618284.670890,582971.670808,601679.290137,631531.820709,582070.488802,578291.242057,609409.181664,627146.534773,579538.437216,623483.022643,606435.590692,597736.992046,626159.684774,574211.349128,569227.108284,578222.485479,627954.601109,616994.119250,619543.967706,618202.883312,628277.301473,603404.442362,610683.455442,626679.453601,611347.146807,599683.366810,596054.212034,621062.132904,579501.505805,592501.700490,575626.390128,610802.061343,569159.760007,621795.529225,627037.437178,591909.025138,615052.716422,585048.876231,599367.108922,620462.545377,610693.259783,596121.697084,608036.381542,616019.469361,616448.299548,584225.743532,603300.608401,584569.410981,585972.889822,602652.271667,607664.571382,619663.283070,615897.170961,600047.184269,578475.431636,604161.492068,625933.459267,592635.899148,605067.869041,598361.483763,603347.820896,583240.465017,621924.452782,586696.569372,617082.133276,573787.307640,607639.336175,596952.206249,572199.964331,568608.114496,608155.293540,582152.854829,569070.296103,582067.967917,574781.431984,589652.582411,608081.966820,581638.119480,613180.540495,585288.491695,576526.161339,604725.209898,579187.232468,628406.498679,587097.755174,615814.454998,599338.620711,588454.089187,2017-07-01,2017,7,1,586005.842259,593546.545072,607760.319399,603417.307635,597835.107774,608139.636564,608916.505244,605523.900329,607272.622253,608683.689490,607919.189828,585276.121310,621037.680412,616162.941798,600711.806495,585914.584951,612664.695219,608915.843487,604514.985743,590660.402366,608103.262995,593770.890680,598052.241249,596903.150795,590219.072398,584800.449807,581324.592493,592963.453644,601475.059373,599390.180790,0.999066,1.077076,1.053381,0.940714,0.949773,0.988604,0.989325,0.962714,0.949773,0.988604,0.989325,0.962714,1.027813,1.006387,0.945982,0.988608,-5.231356e-02,-0.019685,-3.599949e-02,0.939218,1.008728,1.029802,0.956806,1.863902,2.015768,2.005130,1.879265,0.987701,1.047524,1.060802,0.922170,0.987215,0.961737,0.992768,1.010967,597747.742838,0.991448,1.012246,1.001027,1.009369e+00
4,4,36605,0,19,12998,6,1,605966.227164,593540.797737,575448.556931,0.000100,582546.955793,614212.207680,578068.515601,0.000100,590177.329836,570997.852457,625971.749956,0.000000,607879.645878,628042.392612,592671.553802,0.000100,624481.204725,620443.236288,584608.020724,0.000000,581316.994347,618157.473873,612201.478244,0.000000,594651.641147,588273.242403,628893.487075,0.000100,619814.409081,612323.296890,579970.364292,0.000000,604318.176057,582539.670630,608157.980979,0.000000,599764.180894,621380.436335,617897.984246,0.000000,600254.713521,602796.821976,616710.718806,0.000000,599030.420526,610132.517699,587946.887611,0.000100,587964.127888,597855.711865,602364.202307,0.000000,587331.672092,626392.228623,577227.025844,0.000000,579706.987774,599713.713177,574751.041997,0.000000,592648.180887,603115.329420,604955.203982,0.000000,574529.317966,616421.542445,601224.106656,0.000000,609647.879264,583281.325868,571425.106318,603957.579631,572002.523205,585445.757146,0.000000,627957.167678,600026.249724,625000.416886,0.000000,599551.537646,587957.236129,606144.949063,0.000000,570361.838213,617325.963529,596985.846302,0.000000,602279.589211,614291.123282,593478.134971,0.000100,592417.646739,613810.092740,583245.681028,0.000000,599057.069965,599379.654659,591842.067442,0.000000,607542.555339,587340.099931,606914.277891,0.000000,601244.861338,611322.361302,615444.982411,0.000000,571756.113932,575840.218046,574663.116947,0.000000,609213.829112,0.000000,0.000000,583548.648126,0.000000,0.000000,0.000000,2015-07-01,2015,7,3,595042.712859,592106.830824,591738.486292,611220.985439,614274.507690,600460.372833,600134.807327,608463.139509,597911.964231,610999.333453,604758.973069,600268.112269,594461.339084,598106.380658,585274.574958,598872.124419,594425.568057,592365.078589,589192.155826,617989.805962,597151.973011,591932.992893,604327.555181,597510.247470,597561.264302,600668.786326,607759.610453,573763.482640,270761.701828,259354.954723,0.973944,0.962020,1.087798,0.000000,0.996852,0.945065,0.970940,1.000000,0.996852,0.945065,0.970940,1.000000,1.011578,0.972806,0.978742,1.000000,5.926716e+09,0.059680,2.963358e+09,1.050163,1.054685,0.929582,0.000000,2.003007,0.998414,0.965051,0.000000,1.013098,0.929643,1.082868,0.000000,1.006121,0.966221,0.969620,1.000000,457383.115434,1.316795,1.343056,1.297551,2.186351e-10

In [34]:
df1 = data1

In [35]:
df1 = df1.reset_index()

In [32]:
df1_target = df1.pop("B_PLUS_FLAG")
df2_target = df2.pop("B_PLUS_FLAG")

# Df1 first 
all_features = df1[fin_features_lst]
all_targets = df1_target
X_train, X_test, train_targets, test_targets = train_test_split(all_features, all_targets, test_size=0.20)

# Standardize our data
train_features, test_features = Standardize(X_train, X_test, method ="Normalize" )

KeyError: 'B_PLUS_FLAG'

In [ ]:
# fit model no training data
model = XGBClassifier()
model.fit(train_features, train_targets)
# plot feature importance
plot_importance(model)
pyplot.show()

## Correlation & Co-variance - Pearsons, Spearmans, Non-Linear Co-relations<a class="anchor" id="4.2"></a>

In [ ]:
# Gather train and test sets to work with

from sklearn.model_selection import train_test_split

X1 = df1.loc[:, ~df1_simple.columns.isin(['Final_IG', 'B_PLUS_FLAG', 'ROW','Corp_Residence_Country_Code','BR Code','Period','CUSTOMER_ID','Final_IG','B_PLUS_FLAG'])]
y1 = df1['B_PLUS_FLAG']

normalized_X1=(X1-X1.min())/(X1.max()-X1.min())

X1_train, X1_test, y1_train, y1_test = train_test_split(normalized_X1, y1, test_size=0.2, random_state=0)

X2 = df2.loc[:, ~df2_simple.columns.isin(['Final_IG', 'B_PLUS_FLAG', 'ROW','Corp_Residence_Country_Code','BR Code','Period','CUSTOMER_ID','Final_IG','B_PLUS_FLAG'])]
y2 = df2['B_PLUS_FLAG']

normalized_X2=(X2-X2.min())/(X2.max()-X2.min())

X2_train, X2_test, y2_train, y2_test = train_test_split(normalized_X2, y2, test_size=0.2, random_state=0)

In [ ]:
# initial classification to get baseline performances - Descision Trees

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier()
classifier.fit(X1_train, y1_train)

# Predicting the Test set results
y1_pred = classifier.predict(X1_test)

cm = confusion_matrix(y1_test, y1_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y1_test, y1_pred)))

classifier = DecisionTreeClassifier()
classifier.fit(X2_train, y2_train)

# Predicting the Test set results
y2_pred = classifier.predict(X2_test)

cm = confusion_matrix(y2_test, y2_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y2_test, y2_pred)))

In [ ]:
# initial classification to get baseline performances - Logistic Regression

from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(random_state=0, max_iter=1000)
classifier.fit(X1_train, y1_train)

# Predicting the Test set results
y1_pred = classifier.predict(X1_test)

cm = confusion_matrix(y1_test, y1_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y1_test, y1_pred)))

classifier = LogisticRegression(random_state=0, max_iter=1000)
classifier.fit(X2_train, y2_train)

# Predicting the Test set results
y2_pred = classifier.predict(X2_test)

cm = confusion_matrix(y2_test, y2_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y2_test, y2_pred)))

In [ ]:
# Univariate Feature Selection: chi^2

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X1_uni = abs(X1)

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=chi2, k=20)
fit = bestfeatures.fit(X1_uni,y1)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X1_uni.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Features','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

df1features = featureScores.nlargest(20,'Score')

X2_uni = abs(X2)

#apply SelectKBest class to extract top 20 best features
bestfeatures = SelectKBest(score_func=chi2, k=20)
fit = bestfeatures.fit(X2_uni,y2)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X2_uni.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Features','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 20 best features

df2features = featureScores.nlargest(20,'Score')

In [ ]:
import seaborn as sns

# too many columns in the dataset, so using the top 20 columns found using univariate selection
# df1_columns = df1features['Features'].values.tolist() + ['B_PLUS_FLAG']

# X = df1_simple.loc[:, df1_columns]

#get correlations of each features in dataset
corrmat = X1.corr(method='spearman')
top_corr_features = corrmat.index
plt.figure(figsize=(21,21))
# # plot heat map
g=sns.heatmap(X1[top_corr_features].corr(method='spearman'),annot=True,cmap="RdYlGn")

# too many columns in the dataset, so using the top 20 columns found using univariate selection
df2_columns = df2features['Features'].values.tolist() + ['B_PLUS_FLAG']

# X2 = df2_simple.loc[:, df2_columns]
#get correlations of each features in dataset
corrmat = X2.corr(method='spearman')
top_corr_features = corrmat.index
plt.figure(figsize=(21,21))
#plot heat map
g=sns.heatmap(X2[top_corr_features].corr(method='spearman'),annot=True,cmap="RdYlGn")

In [ ]:
# Feature selection using RFE

from sklearn.feature_selection import RFE

model1 = DecisionTreeClassifier()
rfe1 = RFE(model1, n_features_to_select=20)
fit1 = rfe1.fit(X1_train, y1_train)
print("Num Features: %s" % (fit1.n_features_))
print("Selected Features: %s" % (fit1.support_))
print("Feature Ranking: %s" % (fit1.ranking_))

selected_features1 = X1_train.loc[:,fit1.support_].columns
selected_features1 

X1_newtrain = X1_train.loc[:, X1_train.columns.isin(selected_features1)]
X1_newtest = X1_test.loc[:,X1_train.columns.isin(selected_features1)]

classifier = DecisionTreeClassifier()
classifier.fit(X1_newtrain, y1_train)

# Predicting the Test set results
y1_pred = classifier.predict(X1_newtest)

cm = confusion_matrix(y1_test, y1_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y1_test, y1_pred)))

classifier = LogisticRegression(random_state=0, max_iter=1000)
classifier.fit(X1_newtrain, y1_train)

# Predicting the Test set results
y1_pred = classifier.predict(X1_newtest)

cm = confusion_matrix(y1_test, y1_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y1_test, y1_pred)))

# model = LogisticRegression()
model2 = DecisionTreeClassifier()
rfe2 = RFE(model2, n_features_to_select=20)
fit2 = rfe2.fit(X2_train, y2_train)
print("Num Features: %s" % (fit1.n_features_))
print("Selected Features: %s" % (fit1.support_))
print("Feature Ranking: %s" % (fit1.ranking_))

selected_features2 = X2_train.loc[:,fit2.support_].columns
selected_features2

X2_newtrain = X2_train.loc[:, X2_train.columns.isin(selected_features2)]
X2_newtest = X2_test.loc[:, X2_train.columns.isin(selected_features2)]

classifier = DecisionTreeClassifier()
classifier.fit(X2_newtrain, y2_train)

# Predicting the Test set results
y2_pred = classifier.predict(X2_newtest)

cm = confusion_matrix(y2_test, y2_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y2_test, y2_pred)))

classifier = LogisticRegression(random_state=0, max_iter=1000)
classifier.fit(X2_newtrain, y2_train)

# Predicting the Test set results
y2_pred = classifier.predict(X2_newtest)

cm = confusion_matrix(y2_test, y2_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y2_test, y2_pred)))

In [ ]:
# Feature Selection using RFE with Random Forest 

from sklearn.ensemble import RandomForestClassifier

# model = LogisticRegression()
modelrf1 = RandomForestClassifier(max_depth = 2, random_state=0)
rferf1 = RFE(modelrf1, n_features_to_select=20)
fitrf1 = rferf1.fit(X1_train, y1_train)
print("Num Features: %s" % (fitrf1.n_features_))
print("Selected Features: %s" % (fitrf1.support_))
print("Feature Ranking: %s" % (fitrf1.ranking_))

selected_featuresrf1 = X1_train.loc[:,fitrf1.support_].columns
selected_featuresrf1 

X1_newtrain = X1_train.loc[:, X1_train.columns.isin(selected_featuresrf1)]
X1_newtest = X1_test.loc[:, X1_test.columns.isin(selected_featuresrf1)]

classifier = DecisionTreeClassifier()
classifier.fit(X1_newtrain, y1_train)

# Predicting the Test set results
y1_pred = classifier.predict(X1_newtest)

cm = confusion_matrix(y1_test, y1_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y1_test, y1_pred)))

modelrf2 = RandomForestClassifier(max_depth=2, random_state=0)
rferf2 = RFE(modelrf2, n_features_to_select=20)
fitrf2 = rfe2.fit(X2_train, y2_train)
print("Num Features: %s" % (fitrf2.n_features_))
print("Selected Features: %s" % (fitrf2.support_))
print("Feature Ranking: %s" % (fitrf2.ranking_))

selected_featuresrf2 = X2_train.loc[:,fitrf2.support_].columns
selected_featuresrf2

X2_newtrain = X2_train.loc[:, X2_train.columns.isin(selected_featuresrf2)]
X2_newtest = X2_test.loc[:, X2_test.columns.isin(selected_featuresrf2)]

classifier = DecisionTreeClassifier()
classifier.fit(X2_newtrain, y2_train)

# Predicting the Test set results
y2_pred = classifier.predict(X2_newtest)

cm = confusion_matrix(y2_test, y2_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y2_test, y2_pred)))

In [ ]:
# Feature selection using PCA

from sklearn.decomposition import PCA

pca1 = PCA()
X1_pcatrain = pca1.fit_transform(X1_train)
X1_pcatest = pca1.transform(X1_test)

explained_variance1 = pca1.explained_variance_ratio_
explained_variance1

# according to a guide to find out what the most important features are:
n_pcs = pca1.components_.shape[0]
most_important1 = [np.abs(pca1.components_[i]).argmax() for i in range(n_pcs)]
top_20_1 = X1_train.columns[most_important1][0:20]
top_20_1

pca = PCA(n_components=2)
X1_retrain = pca.fit_transform(X1_train)
X1_retest = pca.transform(X1_test)

classifier = DecisionTreeClassifier()
classifier.fit(X1_retrain, y1_train)

# Predicting the Test set results
y_pred = classifier.predict(X1_retest)

cm = confusion_matrix(y1_test, y1_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y1_test, y1_pred)))

pca2 = PCA()
X2_pcatrain = pca2.fit_transform(X2_train)
X2_pcatest = pca2.transform(X2_test)

explained_variance2 = pca2.explained_variance_ratio_
explained_variance2

# according to a guide to find out what the most important features are:
n_pcs = pca2.components_.shape[0]
most_important2 = [np.abs(pca2.components_[i]).argmax() for i in range(n_pcs)]
top_20_2 = X2_train.columns[most_important2][0:20]
top_20_2

pca = PCA(n_components=1)
X2_retrain = pca.fit_transform(X2_train)
X2_retest = pca.transform(X2_test)

classifier = DecisionTreeClassifier()
classifier.fit(X2_retrain, y2_train)

# Predicting the Test set results
y_pred = classifier.predict(X2_retest)

cm = confusion_matrix(y2_test, y2_pred)
print(cm)
print('Accuracy ' + str(accuracy_score(y2_test, y2_pred)))

## Feature Importance - Linear & Non-Linear Classifer <a class="anchor" id="4.4"></a>

In [ ]:
plt.style.use('seaborn')
def gen_bar_ft(features_names, importances, color, dataset_name):
  fig, ax = plt.subplots(figsize =(16, 9))
  ax.barh(features_names, importances, color = color)
  ax.set_facecolor('white')
  # Remove axes splines
  for s in ['top', 'bottom', 'left', 'right']:
      ax.spines[s].set_visible(False)
  
  # Remove x, y Ticks
  ax.xaxis.set_ticks_position('none')
  ax.yaxis.set_ticks_position('none')
  
  # Add padding between axes and labels
  ax.xaxis.set_tick_params(pad = 5)
  ax.yaxis.set_tick_params(pad = 10)

  # Add x, y gridlines
  ax.grid(b = True, color ='grey',
        linestyle ='-.', linewidth = 0.5,
        alpha = 0.2)

  # Show top values
  ax.invert_yaxis()

  # Add Plot Title
  ax.set_title('Top 50 Important Features for {}'.format(dataset_name),
              loc ='left')
  plt.show()

In [ ]:
det_reg_imputed_df1.head()

In [ ]:
# Random Forest
df1_imp_features = {}
df2_imp_features = {}

def get_rf_ft_imp(clf, X, y, dataset_name, og_dataset):
  clf.fit(X, y)
  importances = clf.feature_importances_
  important_ind = np.argsort(clf.feature_importances_)[:50]
  important_names = np.array(list(og_dataset))[important_ind]
  if 'det' in dataset_name:
    important_names = np.char.lstrip(important_names, 'Det.')
  else:
    important_names = np.char.lstrip(important_names, 'Stoch.')
  ft_imp_table = pd.DataFrame(clf.feature_importances_[important_ind], 
                                     index = important_names, columns = ['importance']).sort_values('importance', ascending=False)
  print("The important features for {} are: \n{}".format(dataset_name, important_names))
  for name in important_names:
    if 'df1' in dataset_name:
      if name not in df1_imp_features:
        df1_imp_features[name] = 1
      else:
        df1_imp_features[name] += 1  
    else:
      if name not in df2_imp_features:
        df2_imp_features[name] = 1
      else:
        df2_imp_features[name] += 1        
  return important_names, ft_imp_table

In [ ]:
# On the det-reg imputed data (df1)
clf = RandomForestClassifier(max_depth=3, random_state=28)
Create_Features(det_reg_imputed_df1, "Det.")
X_train, X_test, y_train, y_test = train_test_split(det_reg_imputed_df1, df1['B_PLUS_FLAG'], test_size=0.2, random_state=0)
important_names, feature_importances = get_rf_ft_imp(clf, X_train, y_train, 'det_reg_imputed_df1', det_reg_imputed_df1)

In [ ]:
# On the stoch-reg imputed data (df1)
Create_Features(stoch_reg_imputed_df1, "Stoch.")
X_train, X_test, y_train, y_test = train_test_split(stoch_reg_imputed_df1 , df1['B_PLUS_FLAG'], test_size=0.2, random_state=0)
important_names, feature_importances = get_rf_ft_imp(clf, X_train, y_train, 'stoch_reg_imputed_df1', stoch_reg_imputed_df1)

In [ ]:
gen_bar_ft(important_names, feature_importances['importance'], '#BA8F95', 'det_reg_imputed_df1')

In [ ]:
gen_bar_ft(important_names, feature_importances['importance'], '#CAB6CD', 'stoch_reg_imputed_df1')

In [ ]:
# On the det-reg imputed data (df2)
Create_Features(det_reg_imputed_df2, "Det.")
det_reg_imputed_df2.columns = det_reg_imputed_df2.columns.str.lstrip('Det.')
X_train, X_test, y_train, y_test = train_test_split(det_reg_imputed_df2, df2['B_PLUS_FLAG'], test_size=0.2, random_state=0)
important_names, feature_importances = get_rf_ft_imp(clf, X_train, y_train, 'det_reg_imputed_df2', det_reg_imputed_df2)

In [ ]:
# On the stoch-reg imputed data (df2)
Create_Features(stoch_reg_imputed_df2, "Stoch.")
stoch_reg_imputed_df2.columns = stoch_reg_imputed_df2.columns.str.lstrip('Stoch.')
X_train, X_test, y_train, y_test = train_test_split(stoch_reg_imputed_df2 , df2['B_PLUS_FLAG'], test_size=0.2, random_state=0)
important_names, feature_importances = get_rf_ft_imp(clf, X_train, y_train, 'stoch_reg_imputed_df2', stoch_reg_imputed_df2)

In [ ]:
gen_bar_ft(important_names, feature_importances['importance'], '#897C80', 'det_reg_imputed_df2')

In [ ]:
gen_bar_ft(important_names, feature_importances['importance'], '#919098', 'stoch_reg_imputed_df2')

In [ ]:
# Features that are important in both imputed methods for df1
df1_selected_ft = [k for k, v in df1_imp_features.items() if v > 1]

In [ ]:
# Features that are important in both imputed methods for df2
df2_selected_ft = [k for k, v in df2_imp_features.items() if v > 1]

In [ ]:
det_reg_imputed_df1.columns = det_reg_imputed_df1.columns.str.lstrip('Det.')
X_train, X_test, y_train, y_test = train_test_split(det_reg_imputed_df1 , df1['B_PLUS_FLAG'], test_size=0.2, random_state=0)
X_train_selected = X_train[df1_selected_ft]
X_test_selected = X_test[df1_selected_ft]

In [ ]:
def get_acc(clf, X_train, X_test, y_train, y_test, dataset_name, model):
  clf.fit(X_train, y_train)
  y_train_pred = clf.predict(X_train)
  y_pred = clf.predict(X_test)

  print("Train set accuracy score for {} on {} is : {}".format(dataset_name, model, accuracy_score(y_train,y_train_pred)))
  print("Test set accuracy score for {} on {} is : {}".format(dataset_name, model, accuracy_score(y_test,y_pred)))

In [ ]:
rf = RandomForestClassifier(max_depth=5, max_features = None, random_state=28)
get_acc(rf, X_train, X_test, y_train, y_test, 'original det_reg_imputed_df1', 'RF')
get_acc(rf, X_train_selected, X_test_selected, y_train, y_test, 'subset of det_reg_imputed_df1', 'RF')

lr = LogisticRegression(random_state=0, max_iter=1000)
get_acc(lr, X_train, X_test, y_train, y_test, 'original det_reg_imputed_df1', 'LR')
get_acc(lr, X_train_selected, X_test_selected, y_train, y_test, 'subset of det_reg_imputed_df1', 'LR')

In [ ]:
stoch_reg_imputed_df1.columns = stoch_reg_imputed_df1.columns.str.lstrip('Stoch.')
X_train, X_test, y_train, y_test = train_test_split(stoch_reg_imputed_df1 , df1['B_PLUS_FLAG'], test_size=0.2, random_state=6)
X_train_selected = X_train[df1_selected_ft]
X_test_selected = X_test[df1_selected_ft]

get_acc(rf, X_train, X_test, y_train, y_test, 'original stoch_reg_imputed_df1', 'RF')
get_acc(rf, X_train_selected, X_test_selected, y_train, y_test, 'subset of stoch_reg_imputed_df1', 'RF')

get_acc(lr, X_train, X_test, y_train, y_test, 'original stoch_reg_imputed_df1', 'LR')
get_acc(lr, X_train_selected, X_test_selected, y_train, y_test, 'subset of stoch_reg_imputed_df1', 'LR')

In [ ]:
# For df2
det_reg_imputed_df2.columns = det_reg_imputed_df2.columns.str.lstrip('Det.')
X_train, X_test, y_train, y_test = train_test_split(det_reg_imputed_df2 , df2['B_PLUS_FLAG'], test_size=0.2, random_state=0)
X_train_selected = X_train[df2_selected_ft]
X_test_selected = X_test[df2_selected_ft]

get_acc(rf, X_train, X_test, y_train, y_test, 'original det_reg_imputed_df2')
get_acc(rf, X_train_selected, X_test_selected, y_train, y_test, 'subset of det_reg_imputed_df2')
get_acc(lr, X_train, X_test, y_train, y_test, 'original det_reg_imputed_df2')
get_acc(lr, X_train_selected, X_test_selected, y_train, y_test, 'subset of det_reg_imputed_df2')

In [ ]:
stoch_reg_imputed_df2.columns = stoch_reg_imputed_df2.columns.str.lstrip('Stoch.')
X_train, X_test, y_train, y_test = train_test_split(stoch_reg_imputed_df2 , df2['B_PLUS_FLAG'], test_size=0.2, random_state=0)
X_train_selected = X_train[df2_selected_ft]
X_test_selected = X_test[df2_selected_ft]

get_acc(rf, X_train, X_test, y_train, y_test, 'original stoch_reg_imputed_df2')
get_acc(rf, X_train_selected, X_test_selected, y_train, y_test, 'subset of stoch_reg_imputed_df2')

get_acc(lr, X_train, X_test, y_train, y_test, 'original stoch_reg_imputed_df2')
get_acc(lr, X_train_selected, X_test_selected, y_train, y_test, 'subset of stoch_reg_imputed_df2')

In [ ]:
# Lasso based Feature Selection
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

In [ ]:
# On the det-reg imputed data (df1)
X_train, X_test, y_train, y_test = train_test_split(det_reg_imputed_df1 , df1['B_PLUS_FLAG'], test_size=0.2, random_state=0)

pipeline = Pipeline([('scaler',StandardScaler()),('model',Lasso())])

search = GridSearchCV(pipeline,
                      {'model__alpha':np.arange(0.1,10,0.1)},
                      cv = 5, scoring="neg_mean_squared_error",verbose=3
                      )
search.fit(X_train,y_train)

coefficients = search.best_estimator_.named_steps['model'].coef_
importance = np.abs(coefficients)
np.array(list(X_train.columns))[importance > 0]

In [ ]:
importance

In [ ]:
# Issue: it doesn't converge, so it's probably not suitable for our dataset
lr = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)
model = SelectFromModel(lr, prefit=True)
X_train_new = model.transform(X_train)

In [ ]:
coefficients = lr.coef_
importance = np.abs(coefficients)
len(lr.feature_names_in_)

### Mutual Information for Classification

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
rob_scaler = RobustScaler()
std_scaler = StandardScaler()

def Standardize(data, method):
    """ The following function takes in the given dataset, and standardizes it based on the given method."""
    
    data1 = data.copy()
    non_financial_features = ['ROW','Date','Corp_Residence_Country_Code', 'BR Code', 'CUSTOMER_ID', 'Final_IG', 'B_PLUS_FLAG', 'Year', 'Month', 'Date']
    financial_features = data1.drop(non_financial_features, axis=1)

    if method == "Gaussian":
        for col in data1.columns:
            if col not in financial_features:
                pass
            else:
                data1[col]= std_scaler.fit_transform(data1[col].values.reshape(-1,1))

    if method == "Normalize":
        for col in data1.columns:
          if col in financial_features:
            data1[col]=(data1[col]-data1[col].min())/(data1[col].max()-data1[col].min())
          else:
            pass
        
    if method == "Robust":
        for col in data1.columns:
            if col not in financial_features:
                pass
            else:
                data1[col]= rob_scaler.fit_transform(data1[col].values.reshape(-1,1))

    if method == "Percentile":
        # Center and scale all data, only using the middle 99.8%, so outliers don't pull too much.
        # First generate the percentile data for each feature
        data = financial_features
        data_cols = list(financial_features.columns)
        percentiles =  pd.DataFrame( np.array([ np.percentile( data[i], [ 0.1, 99.0 ] ) for i in data_cols ]).T,
                                    columns=data_cols, index=['min','max'] )

        percentile_means = \
            [ [ np.mean( data.loc[ (data[i]>percentiles[i]['min']) & (data[i]<percentiles[i]['max']) , i ] ) ]
             for i in data_cols ]

        percentiles = percentiles.append( pd.DataFrame(np.array(percentile_means).T, columns=data_cols, index=['mean']) )

        percentile_stds = \
            [ [ np.std( data.loc[ (data[i]>percentiles[i]['min']) & (data[i]<percentiles[i]['max']) , i ] ) ]
             for i in data_cols ]

        percentiles = percentiles.append( pd.DataFrame(np.array(percentile_stds).T, columns=data_cols, index=['stdev']) )

        # STANDARDIZE THE FINANCIAL FEATUES ONLY
        data1[data_cols] = ( data1[data_cols] - percentiles.loc[ 'mean', data_cols ] ) / percentiles.loc[ 'stdev', data_cols ]

    return data1

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from matplotlib import pyplot
 
data = df2.copy(deep=True)
# feature selection
def select_features(X_train, y_train, X_test):
    # configure to select all features
    fs = SelectKBest(score_func=mutual_info_classif, k='all')
    # learn relationship from training data
    fs.fit(X_train, y_train)
    # transform train input data
    X_train_fs = fs.transform(X_train)
    # transform test input data
    X_test_fs = fs.transform(X_test)
    return X_train_fs, X_test_fs, fs
 
standardized_data = Standardize(data, method="Gaussian")
X = data.drop(axis=1, labels =["ROW", "Final_IG", "Date"])
y = X.pop("B_PLUS_FLAG")
 
# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
# feature selection
X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)
# what are scores for the features
for i in range(len(fs.scores_)):
    print('Feature %d: %f' % (i, fs.scores_[i]))
# plot the scores
pyplot.bar([i for i in range(len(fs.scores_))], fs.scores_)
pyplot.show()

In [ ]:
# BASE MODEL ACCURACY WITH ALL FEATURES 
print("Accuracy with ALL features")

# feature selection
def select_features(X_train, y_train, X_test):
	# configure to select a subset of features
	fs = SelectKBest(score_func=mutual_info_classif, k='all')
	# learn relationship from training data
	fs.fit(X_train, y_train)
	# transform train input data
	X_train_fs = fs.transform(X_train)
	# transform test input data
	X_test_fs = fs.transform(X_test)
	return X_train_fs, X_test_fs, fs
 
# load the dataset
data = df1.copy(deep=True)

# Pre-process data 
standardized_data = Standardize(data, method="Gaussian")
X = standardized_data.drop(axis=1, labels =["ROW", "Final_IG", "Date"])
y = X.pop("B_PLUS_FLAG")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

# feature selection
X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)

# fit the model
model = DecisionTreeClassifier(max_depth=8)
model.fit(X_train_fs, y_train)

# evaluate the model
yhat = model.predict(X_test_fs)
# evaluate predictions
accuracy = accuracy_score(y_test, yhat)
print('Accuracy: %.2f' % (accuracy*100))

In [ ]:
# feature selection
print("Accuracy with SUBSET of features")
def select_features(X_train, y_train, X_test):
  # configure to select a subset of features
    fs = SelectKBest(score_func=mutual_info_classif, k=50)
    # learn relationship from training data
    fs.fit(X_train, y_train)
    # transform train input data
    X_train_fs = fs.transform(X_train)
    # transform test input data 
    X_test_fs = fs.transform(X_test)
    return X_train_fs, X_test_fs, fs
 
# load the dataset
data = df1.copy(deep=True)

# Pre-process data 
standardized_data = Standardize(data, method="Gaussian")
X = standardized_data.drop(axis=1, labels =["ROW", "Final_IG", "Date"])
y = X.pop("B_PLUS_FLAG")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

# feature selection
X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)

# fit the model
model = LogisticRegression()
model.fit(X_train_fs, y_train)

# evaluate the model
yhat = model.predict(X_test_fs)
# evaluate predictions
accuracy = accuracy_score(y_test, yhat)
print('Accuracy: %.2f' % (accuracy*100))

In [ ]:
# Top 50 features
fs.get_feature_names_out()

# Data Pre-processing<a class="anchor" id="4.2"></a>

In [ ]:
# get the non-financial columns
non_financial_features = ['ROW','Date','Corp_Residence_Country_Code', 'BR Code', 'CUSTOMER_ID', 'Final_IG', 'B_PLUS_FLAG', 'Year', 'Month', 'Date']
financial_features = df1.drop(non_financial_features, axis=1)
financial_features.head()

In [ ]:
data1 = df1.copy()
data2 = df2.copy()

### Gaussian Percentiles Method

In [ ]:
data = financial_features
data_cols = list(financial_features.columns)

# Center and scale all data, only using the middle 99%, so outliers don't pull too much.
# First generate the percentile data for each feature
percentiles =  pd.DataFrame( np.array([ np.percentile( data[i], [ 0.1, 99.9 ] ) for i in data_cols ]).T,
                            columns=data_cols, index=['min','max'] )

percentile_means = \
    [ [ np.mean( data.loc[ (data[i]>percentiles[i]['min']) & (data[i]<percentiles[i]['max']) , i ] ) ]
     for i in data_cols ]

percentiles = percentiles.append( pd.DataFrame(np.array(percentile_means).T, columns=data_cols, index=['mean']) )

percentile_stds = \
    [ [ np.std( data.loc[ (data[i]>percentiles[i]['min']) & (data[i]<percentiles[i]['max']) , i ] ) ]
     for i in data_cols ]

percentiles = percentiles.append( pd.DataFrame(np.array(percentile_stds).T, columns=data_cols, index=['stdev']) )

percentiles

# STANDARDIZE THE FINANCIAL FEATUES.
data1[data_cols] = ( data1[data_cols] - percentiles.loc[ 'mean', data_cols ] ) / percentiles.loc[ 'stdev', data_cols ]


# There are outliers, 2000-8000 stdevs away from mean in several columns
plot_cols = data_cols
plt.plot( data1.loc[ data1.B_PLUS_FLAG==1, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='fraud max z/10' )
plt.plot( data1.loc[ data1.B_PLUS_FLAG==0, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='real max z/10' )
plt.plot( data1[ plot_cols ].mean().values, label='mean' )
plt.plot( data1[ plot_cols ].std().values, label='std' )
plt.xlabel('Feature')
plt.ylabel('z/10')
plt.legend() ;

In [ ]:
data1.describe()

In [ ]:
data1.boxplot(column=['TOTALASSET_Y0', 'CURRENTASSET_Y2', 'CAPITALIZATION_Y1'])

## Min-Max Normalization Method

In [ ]:
data1 = df1.copy()
data2 = df2.copy()

for col in data1.columns:
  if col in financial_features:
    data1[col]=(data1[col]-data1[col].min())/(data1[col].max()-data1[col].min())
  else:
    pass

In [ ]:
plot_cols = data_cols
plt.plot( data1.loc[ data1.B_PLUS_FLAG==1, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='fraud max z/10' )
plt.plot( data1.loc[ data1.B_PLUS_FLAG==0, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='real max z/10' )
plt.plot( data1[ plot_cols ].mean().values, label='mean' )
plt.plot( data1[ plot_cols ].std().values, label='std' )
plt.xlabel('Feature')
plt.ylabel('z/10')
plt.legend() ;

In [ ]:
data1.describe()

## Robust Scaler Method

In [ ]:
data1 = df1.copy()
data2 = df2.copy()
#RobustScaler is less prone to outliers.
#std_scaler = StandardScaler()
rob_scaler = RobustScaler()

# STANDARDIZE THE FINANCIAL FEATUES (Robust)
data = financial_features
data_cols = list(financial_features.columns)
for col in data1:
    if col not in financial_features:
        pass
    else:
        data1[col]= rob_scaler.fit_transform(data1[col].values.reshape(-1,1))

In [ ]:
# There outliers very very far from the mean.

plot_cols = data_cols
plt.plot( data1.loc[ data1.B_PLUS_FLAG==1, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='fraud max z/10' )
plt.plot( data1.loc[ data1.B_PLUS_FLAG==0, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='real max z/10' )
plt.plot( data1[ plot_cols ].mean().values, label='mean' )
plt.plot( data1[ plot_cols ].std().values, label='std' )
plt.xlabel('Feature')
plt.ylabel('z/10')
plt.legend() ;

In [ ]:
data1.describe()

## Standardization Method (Normal Gaussian)

In [ ]:
data1 = df1.copy()
data2 = df2.copy()
std_scaler = StandardScaler()

# STANDARDIZE THE FINANCIAL FEATUES
data = financial_features
data_cols = list(financial_features.columns)
for col in data1:
    if col not in financial_features:
        pass
    else:
        data1[col]= std_scaler.fit_transform(data1[col].values.reshape(-1,1))

In [ ]:
# There are outliers, 2000-8000 stdevs away from mean in several columns

plot_cols = data_cols
plt.plot( data1.loc[ data1.B_PLUS_FLAG==1, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='fraud max z/10' )
plt.plot( data1.loc[ data1.B_PLUS_FLAG==0, plot_cols ].abs().max().values / data1[ plot_cols ].std().values / 10, label='real max z/10' )
plt.plot( data1[ plot_cols ].mean().values, label='mean' )
plt.plot( data1[ plot_cols ].std().values, label='std' )
plt.xlabel('Feature')
plt.ylabel('z/10')
plt.legend() ;

In [ ]:
data1.describe()

## Best Pre-Processing Method

In [ ]:
def Standardize(data, method):
    """ The following function takes in the given dataset, and standardizes it based on the given method."""
    
    data1 = data.copy()
    non_financial_features = ['ROW','Date','Corp_Residence_Country_Code', 'BR Code', 'CUSTOMER_ID', 'Final_IG', 'B_PLUS_FLAG', 'Year', 'Month', 'Date']
    financial_features = data1.drop(non_financial_features, axis=1)

    if method == "Gaussian":
        for col in data1.columns:
            if col not in financial_features:
                pass
            else:
                data1[col]= std_scaler.fit_transform(data1[col].values.reshape(-1,1))

    if method == "Normalize":
        for col in data1.columns:
          if col in financial_features:
            data1[col]=(data1[col]-data1[col].min())/(data1[col].max()-data1[col].min())
          else:
            pass
        
    if method == "Robust":
        for col in data1.columns:
            if col not in financial_features:
                pass
            else:
                data1[col]= rob_scaler.fit_transform(data1[col].values.reshape(-1,1))

    if method == "Percentile":
        # Center and scale all data, only using the middle 99.8%, so outliers don't pull too much.
        # First generate the percentile data for each feature
        data = financial_features
        data_cols = list(financial_features.columns)
        percentiles =  pd.DataFrame( np.array([ np.percentile( data[i], [ 0.1, 99.0 ] ) for i in data_cols ]).T,
                                    columns=data_cols, index=['min','max'] )

        percentile_means = \
            [ [ np.mean( data.loc[ (data[i]>percentiles[i]['min']) & (data[i]<percentiles[i]['max']) , i ] ) ]
             for i in data_cols ]

        percentiles = percentiles.append( pd.DataFrame(np.array(percentile_means).T, columns=data_cols, index=['mean']) )

        percentile_stds = \
            [ [ np.std( data.loc[ (data[i]>percentiles[i]['min']) & (data[i]<percentiles[i]['max']) , i ] ) ]
             for i in data_cols ]

        percentiles = percentiles.append( pd.DataFrame(np.array(percentile_stds).T, columns=data_cols, index=['stdev']) )

        # STANDARDIZE THE FINANCIAL FEATUES ONLY
        data1[data_cols] = ( data1[data_cols] - percentiles.loc[ 'mean', data_cols ] ) / percentiles.loc[ 'stdev', data_cols ]

    return data1

In [ ]:
def run_base_models(data):
    
    # Get rid of the row column, and the Final IG label. 
    all_features = data.drop(axis=1, labels =["ROW", "Final_IG", "Date"])
    all_targets = all_features.pop("B_PLUS_FLAG")
    train_features, test_features, train_targets, test_targets = train_test_split(all_features, all_targets, test_size=0.2)
    
    # Initialize all models in a list
    models = [LogisticRegression(),
              DecisionTreeClassifier(max_depth=8),
             ]
    # Define all the model names
    model_names = ["Logistic Regression",
                   "Decision Tree",
                  ]
    # Print the data size
    print("Training Data size: {}".format(train_features.shape))

    # Loop over models instead of having separate cell per model
    for name, model in zip(model_names, models):
        # Training and model accuracy
        model.random_state = 0
        print("Training Model :  {}".format(name))
        model.fit(train_features, train_targets)
        print("Done Training {}".format(name))
        test_score = model.score(test_features, test_targets) * 100
        train_score = model.score(train_features, train_targets) * 100

        # Predict Y values and see the TP, FP, et c(Using confusion matrix)
        y_pred = model.predict(test_features) # removed the predict.probabilities
        precision, recall, thresholds = metrics.precision_recall_curve(test_targets, y_pred)
        pr_auc = metrics.auc(recall, precision)
        f1score = f1_score(test_targets, y_pred)
        CM = confusion_matrix(test_targets, y_pred)
        TN, FN, TP, FP = CM[0][0], CM[1][0],  CM[1][1], CM[0][1]
        print("{} Train Score : {}".format(name, train_score))
        print("{} Test Score : {}".format(name, test_score))
        print("PR-AUC: {}".format(pr_auc))
        print("F1-Score: {}".format(f1score))
        print("# of False Positives: {}".format(FP))
        print("# of True Positives: {}".format(TP))
        print("# of False Negatives: {}".format(FN))
        print("~"*50)
        print("Model Done")
        print("~"*50)
        
    return None

In [ ]:
# Normal Model with NO PREPROCESSING
print("NO PRE-PROCESSING RESULTS")
run_base_models(df1)

In [ ]:
print("STANDARDIZING RESULTS")
data = Standardize(df1, method="Gaussian")
run_base_models(data)

In [ ]:
print("NORMALIZATION RESULTS")
data = Standardize(df1, method="Normalize")
run_base_models(data)

In [ ]:
print("ROBUST RESULTS")
data = Standardize(df1, method="Robust")
run_base_models(data)

In [ ]:
print("GAUSSIAN PERCENTILE RESULTS")
data = Standardize(df1, method="Percentile")
run_base_models(data)

Normalization seems to be working the best. <br> 
Hence, we reccomend normalization.

# Solving Class Imbalance Issue<a class="anchor" id="4.3"></a>

In [ ]:
pal = sns.color_palette('tab10')
print(pal.as_hex())

#sns.set_palette('icefire')
sns.set_palette(['#55a3cd', '#9c2f45'])
sns.palplot(sns.color_palette())

In [ ]:
plt.figure(figsize=(20,10), dpi =300)
plt.title("EBITDA Margin of Current Year & Last Year with Original Dataset")
sns.scatterplot(x="Ebitda_Margin_Y0", y='Ebitda_Margin_Y1', hue = 'B_PLUS_FLAG', data=df1)

As we can see, there are only a few blue examples compared to the red ones

## SMOTE - Synthetic Minority Oversampling Technique

SMOTE is an oversampling technique where the synthetic samples are generated for the minority class. This algorithm helps to overcome the overfitting problem posed by random oversampling. It focuses on the feature space to generate new instances with the help of interpolation between the positive instances that lie together.

Working Procedure:
At first the total no. of oversampling observations, N is set up. Generally, it is selected such that the binary class distribution is 1:1. But that could be tuned down based on need. Then the iteration starts by first selecting a positive class instance at random. Next, the KNN’s (by default 5) for that instance is obtained. At last, N of these K instances is chosen to interpolate new synthetic instances. To do that, using any distance metric the difference in distance between the feature vector and its neighbors is calculated. Now, this difference is multiplied by any random value in (0,1] and is added to the previous feature vector. This is pictorially represented below:

![Screen Shot 2022-02-19 at 11.21.42 AM.png]()

In [ ]:
data1 = df1.copy(deep=True)

In [ ]:
# Get rid of the row column, and the Final IG label. 

all_features = df1.drop(axis=1, labels =["ROW", "Final_IG", "Period"])
all_targets = all_features.pop("B_PLUS_FLAG")

# Generate Synthetic Data using SMOTE
smote = SMOTE(random_state=123)

# fit predictor and target variable
x_smote, y_smote = smote.fit_resample(all_features, all_targets)
# Added approx. 10k more training examples! (for fruadulent rows)
print('Original target variable shape', Counter(all_targets))
print('Resample target variable shape', Counter(y_smote))

df_sm = df_sm = x_smote.copy()
df_sm['Y'] = y_smote

## ADASYN: Adaptive Synthetic Sampling Approach

In [ ]:
# Get rid of the row column, and the Final IG label. 
all_features = df1.drop(axis=1, labels =["ROW", "Final_IG", "Period"])
all_targets = all_features.pop("B_PLUS_FLAG")

print('Original target variable shape', Counter(all_targets))
# oversampling the train dataset using ADASYN
ada = ADASYN(random_state=123)
X_train_ada, y_train_ada = ada.fit_resample(all_features, all_targets)

counter = Counter(y_train_ada)
print('Resample target variable shape', Counter(y_train_ada))

df_ada = X_train_ada.copy()
df_ada['Y'] = y_train_ada

## SMOTE + TOMEK Links

(Oversampling & then adding Tomek links  --> Removes samples near/overlaping the boundaries)

In [ ]:
# Get rid of the row column, and the Final IG label. 
all_features = df1.drop(axis=1, labels =["ROW", "Final_IG", "Period"])
all_targets = all_features.pop("B_PLUS_FLAG")

counter = Counter(all_targets)
print('Original target variable shape',counter)
# oversampling the train dataset using SMOTE + Tomek
smtom = SMOTETomek(random_state=123)
X_train_smtom, y_train_smtom = smtom.fit_resample(all_features, all_targets)

counter = Counter(y_train_smtom)
print('Resample target variable shape',counter)

df_smtom = X_train_smtom.copy()
df_smtom['Y'] = y_train_smtom

## SMOTE + ENN

In [ ]:
# Get rid of the row column, and the Final IG label. 
all_features = df1.drop(axis=1, labels =["ROW", "Final_IG", "Period"])
all_targets = all_features.pop("B_PLUS_FLAG")

counter = Counter(all_targets)
print('Original target variable shape',counter)
# oversampling the train dataset using SMOTE + ENN
smenn = SMOTEENN()
X_train_smenn, y_train_smenn = smenn.fit_resample(all_features, all_targets)

counter = Counter(y_train_smenn)
print('Resample target variable shape',counter)

df_smenn = X_train_smenn.copy()
df_smenn['Y'] = y_train_smenn

## Visualization

In [ ]:
f, axes = plt.subplots(2,2,figsize=(15, 10), dpi=300)
sns.despine()
sns.scatterplot(x="Ebitda_Margin_Y0", y='Ebitda_Margin_Y1', hue = 'Y', data=df_sm, ax=axes[0,0])
axes[0,0].set_title('Resampling with SMOTE', fontsize=14)
sns.scatterplot(x="Ebitda_Margin_Y0", y='Ebitda_Margin_Y1', hue = 'Y', data=df_ada, ax=axes[0,1])
axes[0,1].set_title('Resampling with ADASYN', fontsize=14)
sns.scatterplot(x="Ebitda_Margin_Y0", y='Ebitda_Margin_Y1', hue = 'Y', data=df_smtom, ax=axes[1,0])
axes[1,0].set_title('Resampling with SMOTE + Tomek Links', fontsize=14)
sns.scatterplot(x="Ebitda_Margin_Y0", y='Ebitda_Margin_Y1', hue = 'Y', data=df_smenn, ax=axes[1,1])
axes[1,1].set_title('Resampling with SMOTE + ENN', fontsize=14)
plt.setp(axes, yticks=[])
plt.tight_layout()
plt.show()

## Finding out the BEST imbalance technique

In [ ]:
def resample_df(x_train, y_train, method, num_nieghbours):

  if method == "SMOTE":
    # Generate Synthetic Data using SMOTE
    smote = SMOTE(random_state=123, k_neighbors = num_nieghbours)
    X, y = smote.fit_resample(x_train, y_train)
  
  if method == "ADASNYA":
    # Generate synthetic data using ADASNYA
    ada = ADASYN(random_state=123, n_neighbors=num_nieghbours)
    X, y = ada.fit_resample(x_train, y_train)
    
  if method == "SMOTE_TOMEK":
    # Generate synthetic data using SMOTE + Tomek Links
    smtom = SMOTETomek(random_state=123)
    X, y = smtom.fit_resample(x_train, y_train)

  if method == "SMOTE_ENN":
    # Generate synthetic data using SMOTE & ENN 
    smenn = SMOTEENN()
    X, Y = smenn.fit_resample(x_train, y_train)
    
  else: 
    X,y = x_train, y_train

  return X,y

In [ ]:
# Modify our run_base_models() function to also take into account re-sampling
def synthetic_data_base_models(data, re_sampling_method, num_of_nieghbours=5):
  """
  Data needs to be FULL data (Including all of our variables)
  Resampleing methods can be: "SMOTE", "ADASNYA", "SMOTE_TOMEK", "SMOTE_ENN"
  num_of_nieghbours: How many nieghbours to look at when creating synthetic data (only SMOTE & ADASYN use this)
  """
  
  # Get rid of the row column, and the Final IG label. 
  all_features = data.drop(axis=1, labels =["ROW", "Final_IG", "Date"])
  all_targets = all_features.pop("B_PLUS_FLAG")
  train_features , test_features, train_targets, test_targets = train_test_split(all_features, all_targets, test_size=0.2)
  
  # Re-Sample data based on method provided
  # We only re-sample the training section & don't touch the test section. 
  train_features, train_targets = resample_df(train_features, train_targets, method=re_sampling_method, num_nieghbours=num_of_nieghbours)

  # Initialize all models in a list
  models = [LogisticRegression(),
            DecisionTreeClassifier(max_depth=8),
            ]
  # Define all the model names
  model_names = ["Logistic Regression",
                 "Decision Tree",
                ]
  # Print the data size
  print("Training Data size: {}".format(train_features.shape))

  # Loop over models instead of having separate cell per model
  for name, model in zip(model_names, models):
      # Training and model accuracy
      model.random_state = 0
      print("Training Model :  {}".format(name))
      model.fit(train_features, train_targets)
      print("Done Training {}".format(name))
      test_score = model.score(test_features, test_targets) * 100
      train_score = model.score(train_features, train_targets) * 100

      # Predict Y values and see the TP, FP, et c(Using confusion matrix)
      y_pred = model.predict(test_features) # removed the predict.probabilities
      precision, recall, thresholds = metrics.precision_recall_curve(test_targets, y_pred)
      pr_auc = metrics.auc(recall, precision)
      f1score = f1_score(test_targets, y_pred)
      CM = confusion_matrix(test_targets, y_pred)
      TN, FN, TP, FP = CM[0][0], CM[1][0],  CM[1][1], CM[0][1]
      print("{} Train Score : {}".format(name, train_score))
      print("{} Test Score : {}".format(name, test_score))
      print("PR-AUC: {}".format(pr_auc))
      print("F1-Score: {}".format(f1score))
      print("# of False Positives: {}".format(FP))
      print("# of True Positives: {}".format(TP))
      print("# of False Negatives: {}".format(FN))
      print("~"*50)
      print("Model Done")
      print("~"*50)
      
  return None

In [ ]:
data = df1.copy(deep=True)
data = Standardize(data, method="Normalization")
print("ORIGINAL DATASET RESULTS")
synthetic_data_base_models(data, re_sampling_method="", num_of_nieghbours=0)

In [ ]:
data = df1.copy(deep=True)
data = Standardize(data, method="Normalization")
print("SMOTE DATASET RESULTS")
synthetic_data_base_models(data, re_sampling_method="SMOTE", num_of_nieghbours=5)

In [ ]:
data = df1.copy(deep=True)
data = Standardize(data, method="Normalization")
print("ADASNYA DATASET RESULTS")
synthetic_data_base_models(data, re_sampling_method="ADASNYA", num_of_nieghbours=5)

In [ ]:
# Get rid of the row column, and the Final IG label. 

data = Standardize(df1, method="Normalize")
all_features = data.drop(axis=1, labels =["ROW", "Final_IG", "Date"])
all_targets = all_features.pop("B_PLUS_FLAG")
train_features , test_features, train_targets, test_targets = train_test_split(all_features, all_targets, test_size=0.2)

# Generate Synthetic Data using SMOTE
ada = ADASYN(random_state=130, n_neighbors=5)
X_train_ada, y_train_ada = ada.fit_resample(all_features, all_targets)
train_features, train_targets = X_train_ada, y_train_ada

# Initialize all models in a list
models = [LogisticRegression(),
          DecisionTreeClassifier(max_depth=8),
          RandomForestClassifier(max_depth=12, n_estimators=100),
         ]
# Define all the model names
model_names = ["Logistic Regression",
               "Decision Tree",
               "Random Forest",
              ]
# Print the data size
print("ADASNYA DATASET RESULTS")
print("Training Data size: {}".format(train_features.shape))

# Loop over models instead of having separate cell per model
for name, model in zip(model_names, models):
    # Training and model accuracy
    model.random_state = 0
    print("Training Model :  {}".format(name))
    model.fit(train_features, train_targets)
    print("Done Training {}".format(name))
    test_score = model.score(test_features, test_targets) * 100
    train_score = model.score(train_features, train_targets) * 100
    
    # Predict Y values and see the TP, FP, et c(Using confusion matrix)
    y_pred = model.predict(test_features) # removed the predict.probabilities
    precision, recall, thresholds = metrics.precision_recall_curve(test_targets, y_pred)
    pr_auc = metrics.auc(recall, precision)
    f1score = f1_score(test_targets, y_pred)
    CM = confusion_matrix(test_targets, y_pred)
    TN, FN, TP, FP = CM[0][0], CM[1][0],  CM[1][1], CM[0][1]
    print("{} Train Score : {}".format(name, train_score))
    print("{} Test Score : {}".format(name, test_score))
    print("PR-AUC: {}".format(pr_auc))
    print("F1-Score: {}".format(f1score))
    print("# of False Positives: {}".format(FP))
    print("# of True Positives: {}".format(TP))
    print("# of False Negatives: {}".format(FN))
    print("~"*50)
    print("Model Done")
    print("~"*50)

print("*"*50)    
print("~"*50)
print("ALL MODELS DONE")
print("~"*50)
print("*"*50)

**Neural Network**
The following code uses the Keras Sequential model to generate a neural network with 4 dense layers. The final layer uses a sigmoid activation to squeeze values between 0 and 1.

In [ ]:
#Packages/Methods needed for a Neural Network Model
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense, Flatten
import tensorflow as tf
import random as python_random

In [ ]:
def set_seed():
  """ For a Keras model, a seed must be set to generate random number in a well-defined initial state. 
  This function will set the initial seed for numpy, python, and TensorFlow backend operations to a set value.

  Numpy: Set the seed for Numpy, default = 0
  Python: Set the seed for PYTHONHASHSEED, default = 0
  TensorFlow: Set the seed for TensorFlow backend operations, default = 0
  
  For more details, visit Keras documentation:
  https://keras.io/getting_started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development
  """
  np.random.seed(0)
  python_random.seed(0)
  tf.random.set_seed(0)
  return

In [ ]:
#Set the seed to obtain reproducible results
set_seed()

# create scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1,1))

#Collect the data
dataset_NN = data
dataset_NN = dataset_NN.fillna(dataset_NN.median())
# dataset_NN = dataset_NN.drop(KMeans_outliers, axis=0)

print(dataset_NN['Final_IG'].value_counts(ascending=True))

#Preprocess for the Neural Network
features_to_drop = ["ROW",'Date','Year','Month']
dataset_NN.drop(features_to_drop,axis=1,inplace=True)

x_NN = dataset_NN.drop(axis=1, labels =["B_PLUS_FLAG"])
y_NN = x_NN.pop("Final_IG")

standardized_x_NN = scaler.fit_transform(x_NN)
#Split the data into training and test sets
split = 0.8
split_value = math.ceil(len(x_NN)*split)
x_NN_train, x_NN_test = standardized_x_NN[split_value:], standardized_x_NN[:split_value]
y_NN_train, y_NN_test = y_NN[split_value:], y_NN[:split_value]

print(y_NN_train)
ada = ADASYN(random_state=123,n_neighbors=2,sampling_strategy='minority')
x_NN_train, y_NN_train = ada.fit_resample(x_NN_train, y_NN_train)

x_array_train, x_array_test = np.asarray(x_NN_train).astype('float32'), np.asarray(x_NN_test).astype('float32')
y_array_train, y_array_test = np.asarray(y_NN_train).astype('float32'), np.asarray(y_NN_test).astype('float32')

# define the keras model
model = Sequential()
model.add(Dense(30, input_dim=len(x_NN.columns), activation='relu'))
model.add(Dense(18, activation='sigmoid'))
# model.add(Flatten())

callback = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=5)

# compile the keras model
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
##In Keras, the multi-class log loss is defined as the cross entropy. A sparse categorical cross entropy is used as it places a constraint that the final outcome is an integer.

# fit the keras model on the dataset
model.fit(x_array_train, y_array_train, epochs=150, batch_size=10, callbacks=[callback])
# # evaluate the keras model
_, accuracy = model.evaluate(x_NN_test, y_NN_test)
print('Accuracy: %.2f' % (accuracy*100))

# Task 1 FINAL Submission



Please see at the bottom of the following notebook: https://colab.research.google.com/drive/12-WoDlpAyI1EFaKZ8MMYqq6VqO2LqkxE#scrollTo=s6jNF47uJWPg

# TASK 2 FINAL SUBMISSION 

Please see at the bottom of the following notebook: https://colab.research.google.com/drive/1tBv1SWpnbOqn82i2G-w3US-VB81pm5KF#scrollTo=vh2wX7k-NtG9